@font-face {
	font-family: 'icomoon';
	src:    url('fonts/icomoon.eot?pqombj');
	src:    url('fonts/icomoon.eot?pqombj#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?pqombj') format('truetype'),
	url('fonts/icomoon.woff?pqombj') format('woff'),
	url('fonts/icomoon.svg?pqombj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-floppy:before {
	content: "\e910";
}
.icon-dialog:before {
	content: "\e90b";
}
.icon-flash:before {
	content: "\e90c";
}
.icon-gift:before {
	content: "\e90d";
}
.icon-list:before {
	content: "\e90e";
}
.icon-envelope:before {
	content: "\e90a";
}
.icon-add:before {
	content: "\e909";
}
.icon-plus-two:before {
	content: "\e903";
}
.icon-calendar:before {
	content: "\e904";
}
.icon-next-block:before {
	content: "\e905";
}
.icon-music:before {
	content: "\e906";
}
.icon-next-block2:before {
	content: "\e907";
}
.icon-gear:before {
	content: "\e901";
}
.icon-page-proofs:before {
	content: "\e902";
}
.icon-share:before {
	content: "\e900";
}
.icon-marker:before {
	content: "\e801";
}
.icon-phone:before {
	content: "\e802";
}
.icon-page-prev:before {
	content: "\e630";
}
.icon-page-next:before {
	content: "\e631";
}
.icon-designer:before {
	content: "\e626";
}
.icon-flag:before {
	content: "\e627";
}
.icon-form:before {
	content: "\e628";
}
.icon-loupe:before {
	content: "\e629";
}
.icon-Painting:before {
	content: "\e62a";
}
.icon-photo:before {
	content: "\e62b";
}
.icon-star:before {
	content: "\e62c";
}
.icon-delivery2:before {
	content: "\e62d";
}
.icon-plus:before {
	content: "\e624";
}
.icon-sign-ask:before {
	content: "\e623";
}
.icon-ok:before {
	content: "\e622";
}
.icon-plus-small:before {
	content: "\e62f";
}
.icon-arrows-up:before {
	content: "\e61a";
}
.icon-boom-right:before {
	content: "\e61b";
}
.icon-boom-left:before {
	content: "\e61c";
}
.icon-check:before {
	content: "\e619";
}
.icon-arrow-left:before {
	content: "\e608";
}
.icon-arrow-right:before {
	content: "\e609";
}
.icon-menu:before {
	content: "\e60a";
}
.icon-archive:before {
	content: "\e60c";
}
.icon-arrow-down:before {
	content: "\e611";
}
.icon-copy:before {
	content: "\e614";
}
.icon-search:before {
	content: "\e615";
}
.icon-check-no:before {
	content: "\e616";
}
.icon-man:before {
	content: "\e617";
}
.icon-couple:before {
	content: "\e618";
}
.icon-reply:before {
	content: "\e602";
}
.icon-vk:before {
	content: "\e603";
}
.icon-comfortable:before {
	content: "\e604";
}
.icon-delivery:before {
	content: "\e605";
}
.icon-page:before {
	content: "\e606";
}
.icon-pinterest:before {
	content: "\e607";
}
.icon-check-yes:before {
	content: "\e613";
}
.icon-edit:before {
	content: "\e60b";
}
.icon-edit-color:before {
	content: "\e62e";
}
.icon-exit:before {
	content: "\e60d";
}
.icon-user-ask:before {
	content: "\e60e";
}
.icon-user-contact:before {
	content: "\e60f";
}
.icon-user-mail:before {
	content: "\e610";
}
.icon-user-settings:before {
	content: "\e612";
}
.icon-trash:before {
	content: "\e625";
}
.icon-camera:before {
	content: "\e908";
}
.icon-social-facebook:before {
	content: "\e61d";
}
.icon-instagram:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e800";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-bold:before {
	content: "\e61e";
}
.icon-twitter:before {
	content: "\e61f";
}
.icon-linkedin2:before {
	content: "\e620";
}
.icon-pinterest2:before {
	content: "\e621";
}
.icon-credit-card:before {
	content: "\e90f";
}

