.component.component-event-landing-v1-block-social-networks(ng-if="! $ctrl.status.isLoading() && $ctrl.visible")
  .event
    .event__center
      .event__soc
        .event__center
          .event__soc-title {{ 'hi.main.event.landing.blocks.resources.social-networks.title' | translate }}
          .event__soc-list
            a.event__soc-item.event__soc-item_fb(href='javascript:void(0)', ng-click="$ctrl.click('facebook')", ng-if="$ctrl.isEnabled('facebook')")
              i.icon.icon-social-facebook
            a.event__soc-item.event__soc-item_vk(href='javascript:void(0)', ng-click="$ctrl.click('vkontakte')", ng-if="$ctrl.isEnabled('vkontakte')")
              i.icon.icon-vk
            a.event__soc-item.event__soc-item_tw(href='javascript:void(0)', ng-click="$ctrl.click('twitter')", ng-if="$ctrl.isEnabled('twitter')")
              i.icon.icon-twitter
            a.event__soc-item.event__soc-item_pi(href='javascript:void(0)', ng-click="$ctrl.click('pinterest')", ng-if="$ctrl.isEnabled('pinterest')")
              i.icon.icon-pinterest2
            a.event__soc-item.event__soc-item_in(href='javascript:void(0)', ng-click="$ctrl.click('linkedin')", ng-if="$ctrl.isEnabled('linkedin')")
              i.icon.icon-linkedin2
            a.event__soc-item.event__soc-item_ok(href='javascript:void(0)', ng-click="$ctrl.click('odnoklassniki')", ng-if="$ctrl.isEnabled('odnoklassniki')")
              i.icon.icon-ok
            a.event__soc-item.event__soc-item_mail(href='javascript:void(0)', ng-click="$ctrl.click('email')", ng-if="$ctrl.isEnabled('email')")
              i.icon.icon-envelope
