<meta charset="utf-8">
<title>HappyInvite</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyH0cuW2aSD7axFVZRurnV5zV3lL9QJrY&signed_in=true&libraries=places" async defer ></script>