<footer class="footer l">
    <div class="footer___menu">
        <li><a href="#">О нас</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Условия</a></li>
        <li><a href="#">Контакты</a></li>
    </div>
    <div class="social">
        <a href="#" class="social__item"><i class="icon icon-facebook"></i></a>
        <a href="#" class="social__item"><i class="icon icon-vk"></i></a>
        <a href="#" class="social__item"><i class="icon icon-instagram"></i></a>
        <a href="#" class="social__item"><i class="icon icon-pinterest"></i></a>
    </div>
</footer>