<header class="header">
  <div class="header__in l">
    <div class="header__menu">
      <button class="header__menu-btn"><i class="icon icon-menu"></i></button>
      <ul class="header__menu-list">
        <li class="header__menu-item"><a href="/landing/weddings">Свадьбы</a></li>
        <li class="header__menu-item"><a href="/landing/birthdays">Дни Рождения</a></li>
        <li class="header__menu-item"><a href="/landing/business">Бизнес-мероприятия</a></li>
      </ul>
    </div>
    <a href="/" class="header__logo">
      <img src="/dist/img/logo.svg" alt="">
    </a>
    <a class="btn-complex" href="/account/register">Регистрация</a>
    <a class="header__enter" href="/account/sign-in">Вход</a>
  </div>
</header>