<script>
  {% if AuthToken.isSignedIn() %}
    window['happy-invite-jwt'] = "{{ AuthToken.getJWT() }}"
  {% else %}
    window['happy-invite-jwt'] = undefined;
  {% endif %}

  window['happy-invite-frontend'] = '{{ FrontendService.fetch() | json_encode()|addslashes|raw }}';
  window['happy-invite-frontend'] = JSON.parse(window['happy-invite-frontend']);
  window['happy-invite-locale'] = "{{ SessionLocaleService.getCurrentLocale().getLanguage() }}";
</script>
