.route.route-mailing-options-editor
  hi-event-mailing-options-editor-v1(
    event="$ctrl.current.event",
    original="$ctrl.current.event.templates.invite_card.original",
    current="$ctrl.current.event.templates.invite_card.current",
  )