{% set body_theme = 'theme-birthday' %}

{% extends "@main/layout/landing.html.twig" %}

{% block content %}
  <!-- slider -->
  <div class="slider js-sl-main">
    <div class="slider__item">
      <div class="slider__pic">
        <img class="slider__pic-el" src="/dist/img/bg-birthday.jpg" alt="">
        <div class="slider__pic-preview"></div>
        <div class="slider__pic-cat">
          <img src="/dist/img/cat.png" alt="">
        </div>
      </div>
      <div class="slider__wrap">
        <!-- center -->
        <div class="slider__center center">
          <div class="slider__col">
            <div class="slider__title">ЭЛЕКТРОННЫЕ ПРИГЛАШЕНИЯ</div>
            <div class="slider__quality">
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-comfortable"></i>
                </div>
                <div class="slider__quality-title">удобный <br>конструктор</div>
              </div>
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-delivery"></i>
                </div>
                <div class="slider__quality-title">быстрая <br>рассылка</div>
              </div>
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-page"></i>
                </div>
                <div class="slider__quality-title">страница <br>мероприятия</div>
              </div>
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-reply"></i>
                </div>
                <div class="slider__quality-title">инфографика <br>ответов</div>
              </div>
            </div>
            <div class="slider__reg">
              <div class="slider__reg-btn">
                <button class="slider__btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                <div class="slider__lines-left"></div>
                <div class="slider__lines-right"></div>
              </div>
            </div>
            <div class="slider__text">Отправьте приглашение <br>бесплатно 10 гостям</div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__item">
      <div class="slider__pic">
        <img class="slider__pic-el" src="/dist/img/bg-birthday.jpg" alt="">
        <div class="slider__pic-preview"></div>
      </div>
      <div class="slider__wrap">
        <!-- center -->
        <div class="slider__center center">
          <div class="slider__col">
            <div class="slider__title">ЭЛЕКТРОННЫЕ ПРИГЛАШЕНИЯ</div>
            <div class="slider__quality">
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-comfortable"></i>
                </div>
                <div class="slider__quality-title">удобный <br>конструктор</div>
              </div>
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-delivery"></i>
                </div>
                <div class="slider__quality-title">быстрая <br>рассылка</div>
              </div>
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-page"></i>
                </div>
                <div class="slider__quality-title">страница <br>мероприятия</div>
              </div>
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-reply"></i>
                </div>
                <div class="slider__quality-title">инфографика <br>ответов</div>
              </div>
            </div>
            <div class="slider__reg">
              <div class="slider__reg-btn">
                <button class="slider__btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                <div class="slider__lines-left"></div>
                <div class="slider__lines-right"></div>
              </div>
            </div>
            <div class="slider__text">Отправьте приглашение <br>бесплатно 10 гостям</div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__item">
      <div class="slider__pic">
        <img class="slider__pic-el" src="/dist/img/bg-birthday.jpg" alt="">
        <div class="slider__pic-preview"></div>
      </div>
      <div class="slider__wrap">
        <!-- center -->
        <div class="slider__center center">
          <div class="slider__col">
            <div class="slider__title">ЭЛЕКТРОННЫЕ ПРИГЛАШЕНИЯ</div>
            <div class="slider__quality">
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-comfortable"></i>
                </div>
                <div class="slider__quality-title">удобный <br>конструктор</div>
              </div>
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-delivery"></i>
                </div>
                <div class="slider__quality-title">быстрая <br>рассылка</div>
              </div>
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-page"></i>
                </div>
                <div class="slider__quality-title">страница <br>мероприятия</div>
              </div>
              <div class="slider__quality-item">
                <div class="slider__quality-pic">
                  <i class="icon icon-reply"></i>
                </div>
                <div class="slider__quality-title">инфографика <br>ответов</div>
              </div>
            </div>
            <div class="slider__reg">
              <div class="slider__reg-btn">
                <button class="slider__btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                <div class="slider__lines-left"></div>
                <div class="slider__lines-right"></div>
              </div>
            </div>
            <div class="slider__text">Отправьте приглашение <br>бесплатно 10 гостям</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- template -->
  <div class="template">
    <!-- title -->
    <div class="template_in center">
      <!-- title -->
      <div class="title">Выберите шаблон приглашения от наших дизайнеров!</div>
      <div class="template__text">
        <p>Наши дизайнеры подготовили <span>для вас</span> варианты современных и элегантных шаблонов.</p>
        <p>Мы уверены, что вы найдете среди них то, что вам понравится.</p>
      </div>
      <!-- tabs -->
      <div class="tabs tabs_number_3 js-tabs-sliders">
        <div class="tabs__nav">
          <div class="tabs__list">
            <a class="tabs__link js-tabs-link" href="#">Свадьбы</a>
            <a class="tabs__link js-tabs-link" href="#">Дни Рождения</a>
            <a class="tabs__link js-tabs-link" href="#">Бизнес-мероприятия</a>
          </div>
          <div class="tabs__lines-left"></div>
          <div class="tabs__lines-right"></div>
        </div>
        <div class="tabs__container">
          <div class="tabs__item js-tabs-item">
            <!-- sl -->
            <div class="sl">
              <div class="sl__list js-sl">
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item js-tabs-item">
            <!-- sl -->
            <div class="sl">
              <div class="sl__list js-sl">
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item js-tabs-item">
            <!-- sl -->
            <div class="sl">
              <div class="sl__list js-sl">
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
                <div class="sl__item js-sl-item">
                  <div class="sl__pic">
                    <img src="/dist/img/sl-pic.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- step -->
  {% include("@main/landing/component/steps.html.twig") %}
  <!-- tariff -->
  <div class="tariff">
    <div class="tariff__in center">
      <!-- tabs -->
      <div class="tabs tabs_number_2 tabs_white js-tabs-tables">
        <div class="tabs__nav">
          <div class="tabs__list">
            <a class="tabs__link js-tabs-link is-active" href="#">Тарифы</a>
            <a class="tabs__link js-tabs-link" href="#">услуги дизайнера</a>
          </div>
          <div class="tabs__lines-left"></div>
          <div class="tabs__lines-right"></div>
        </div>
        <div class="tabs__container">
          <div class="tabs__item js-tabs-item" style="display: block;">
            <div class="cost">
              <div class="cost__text">Отправить приглашение бесплатно вы можете не более 10 гостям, для неограниченного количества гостей действуют тарифы:</div>
              <div class="cost__text cost__text_mobile">Отправить 10 гостям – бесплатно, для остальных действуют тарифы:</div>
              <table class="table">
                <thead>
                <tr>
                  <th></td>
                  <th>Простой пакет</td>
                  <th>Пакет со страницей</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Пригласительная открытка</td>
                  <td>V</td>
                  <td>V</td>
                </tr>
                <tr>
                  <td>Анимированный конверт</td>
                  <td>V</td>
                  <td>V</td>
                </tr>
                <tr>
                  <td>Рассылка приглашений</td>
                  <td>V</td>
                  <td>V</td>
                </tr>
                <tr>
                  <td>Отслеживание ответов гостей</td>
                  <td>V</td>
                  <td>V</td>
                </tr>
                <tr>
                  <td>Напоминание о предстоящем<br>мероприятии гостям</td>
                  <td>V</td>
                  <td>V</td>
                </tr>
                <tr>
                  <td>Страница с мероприятием</td>
                  <td></td>
                  <td>V</td>
                </tr>
                <tr>
                  <td>Стоимость:</td>
                  <td>2 000<br><span>рублей</span></td>
                  <td>3 000<br><span>рублей</span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tabs__item js-tabs-item">
            <div class="cost">
              <table class="table-work">
                <tr>
                  <td>Изменение шаблона приглашения с учетом цветовой гаммы вашего мероприятия</td>
                  <td>1 500<br><span>рублей</span></td>
                </tr>
                <tr>
                  <td>Разработка эксклюзивного макета приглашения с конвертом</td>
                  <td>4 000<br><span>рублей</span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "@main/landing/component/review.html.twig" %}
  {% include "@main/landing/component/ask.html.twig" %}
{% endblock %}