.component-message-notifications {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: left;
  z-index: 9999;

  >ul {
    margin: 0;
    padding: 0;

    li {
      background-color: rgba(0, 0, 0, 0.9);
      color: #fff;
      padding: 15px;
      margin: 10px;
    }
  }
}