.component.component-message-notifications
  ul.notifications
    li(ng-repeat="message in $ctrl.getMessages()")
      div.notification(ng-class="$ctrl.getNgClass(message)")
        button.delete(type="button", ng-click="$ctr.remove(message)")
        // span(ng-if="  message.translate") {{ message.content | translate }}
        span(ng-if="! message.translate") {{ message.content }}