@import "./../../../../../../styles/mixins/disable-user-select";

.component-invite-card-editor-v1-viewport {
  @include disable-user-select;

  display: flex;
  justify-content: center;

  .view-container {
    display: flex;
    justify-content: center;
  }

  .view {
    position: relative;
    background-color: white;

    .loading-indicator {
      z-index: 38;
    }

    .view-blocked {
      z-index: 39;
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      overflow: hidden;
    }

    .layers, .layers .layer {
      .layer {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        overflow: hidden;
      }
    }

    .layers {
      .layer.layer-lvl-0 { z-index: 0; }
      .layer.layer-lvl-1 { z-index: 1; }
      .layer.layer-lvl-2 { z-index: 2; }
      .layer.layer-lvl-3 { z-index: 3; }
      .layer.layer-lvl-4 { z-index: 4; }
      .layer.layer-lvl-5 { z-index: 5; }
      .layer.layer-lvl-6 { z-index: 6; }
      .layer.layer-lvl-7 { z-index: 7; }
      .layer.layer-lvl-8 { z-index: 8; }
      .layer.layer-lvl-9 { z-index: 9; }
    }

    .svg-map-container {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
  }
}