.component.component-invite-card-editor-v1-viewport
  .view-container.view(ng-style="$ctrl.getContainerCSS()", id="{{ $ctrl.getContainerId() }}")
      .status(ng-if="$ctrl.isLoading()")
        .loading-indicator
          hi-ui-loading-top-indicator
        .view-blocked
      .layers
        .layer.layer-lvl-0(ng-if="$ctrl.hasPhoto()")
          hi-invite-card-editor-v1-photo
        .layer.layer-lvl-1
          img(ng-src="{{ $ctrl.getBackdropImageURL() }}")
        .layer.layer-lvl-2
        .layer.layer-lvl-9(ng-if="$ctrl.hasPhoto() && $ctrl.shouldShowPhotoContainerBoundary()")
          hi-invite-card-editor-v1-photo-boundary(ng-if="$ctrl.isViewMode('photo-container')")
          hi-invite-card-editor-v1-photo-bait(ng-if="! $ctrl.isViewMode('photo-container')")
        .layer.layer-lvl-8
          .svg-map-container(id="{{ $ctrl.getSvgMapContainerId() }}", ng-style="$ctrl.getSizeCSS()")
            hi-invite-card-editor-v1-svg-editor(hi-edit-mode="$ctrl.isEditModeEnabled()")