.component-envelope-editor-v1-toolbar {
  .toolbar-flexbox-previews-only {
    .toolbar-flexbox-previews-only-container {
      display: flex;

      >.toolbar-flexbox-previews-only-container-center {
        display: flex;
        justify-content: center;
        flex-basis: 100%;
      }

      >.toolbar-flexbox-previews-only-container-left {
        flex-shrink: 0;
      }

      >.toolbar-flexbox-previews-only-container-right {
        flex-shrink: 0;
      }
    }

    .toolbar-flexbox-previews-only-window-controls {
      width: 70px;

      button.toolbar-flexbox-previews-only-window-control-button {
        height: 50px;
        width: 40px;
        text-align: center;
        color: #666666;

        &:hover {
          color: #000000;
          background-color: #f0f0f0;
        }

        .toolbar-icon {
          font-size: 16px;
          line-height: 40px;
        }
      }
    }

    .toolbar-flexbox-previews-only-item {
      &.is-active {
        button.toolbar-flexbox-previews-only-button {
          background-color: #fcce00;
        }
      }

      button.toolbar-flexbox-previews-only-button {
        overflow: hidden;
        text-align: center;
        width: 110px;
        height: 50px;

        &:hover {
          background-color: #fcce00;
        }

        .toolbar-flexbox-button-icon {
          display: inline-block;

          .item-preview {
            width: 40px;
            height: 40px;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 100%;
            overflow: hidden;
          }

          .toolbar-flexbox-previews-only-button-title {

          }
        }

        .toolbar-flexbox-previews-only-button-title {
          margin-top: 8px;
          font-family: "Open Sans", sans-serif;
          text-transform: uppercase;
          font-size: 10px;
          text-align: center;
          line-height: 10px;
        }
      }
    }
  }
}