.component-envelope-editor-v1-toolbar {
  .toolbar-flexbox-image-select {
    .toolbar-flexbox-image-select-container {
      display: flex;

      >.toolbar-flexbox-image-select-container-left {
        flex-shrink: 0;
      }

      >.toolbar-flexbox-image-select-container-center {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
      }

      >.toolbar-flexbox-image-select-container-right {
        flex-shrink: 0;
      }
    }
  }

  .toolbar-flexbox-image-select-window-controls {
    width: 30px;
    height: 62px;
    overflow: hidden;

    &:hover {
      background-color: #f0f0f0;

      button.toolbar-flexbox-image-select-window-control-button {
        color: #000000;
      }
    }

    button.toolbar-flexbox-image-select-window-control-button {
      width: 30px;
      height: 62px;
      overflow: hidden;
      color: #666666;

      .toolbar-icon {
        font-size: 16px;
        text-align: center;
        line-height: 62px;
      }
    }
  }

  .toolbar-flexbox-image-select-item {
    &.is-active {
      button.toolbar-flexbox-image-select-button {
        background-color: #fcce00!important;
      }
    }

    button.toolbar-flexbox-image-select-button {
      cursor: pointer;
      margin: 0 10px;
      padding: 3px;
      width: 84px;
      height: 62px;
      overflow: hidden;

      &:hover {
        background-color: #f0f0f0;
      }

      .item-preview {
        width: 78px;
        height: 56px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}