.component-envelope-editor-v1-toolbar {
  .toolbar-flexbox-main {
    .toolbar-flexbox-main-container {
      display: flex;

      >.toolbar-flexbox-main-container-left {
        flex-shrink: 0;
      }

      >.toolbar-flexbox-main-container-center {
        flex-basis: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      >.toolbar-flexbox-main-container-right {
        flex-shrink: 0;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .toolbar-flexbox-main-button {
        width: 80px;
        height: 71px;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;

        .toolbar-title {
          text-transform: uppercase;
          font-size: 10px;
          width: 80px;
          text-align: center;
          font-family: "Arial", "Open Sans", sans-serif;
          line-height: 12px;
        }

        &:hover {
          background-color: #f0f0f0;
        }

        .toolbar-icon {
          font-size: 26px;
          border-radius: 50%;
          width: 31px;
          height: 30px;
          line-height: 28px;
          display: block;
          text-align: center;
          margin: 0 auto 5px;
          background-color: #F0F0F0;
          margin-top: 5px;
          margin-bottom: 4px;
        }

        &.is-active {
          background-color: #f0f0f0;

          .toolbar-icon {
            background-color: #fcce00;
          }
        }

        &.toolbar-flexbox-main-button-hl {
          &:hover {
            .toolbar-icon {
              background-color: #fcce00;
            }
          }

          &.is-active:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(249,207,1,0);
            border-top-color: #f9cf01;
            border-width: 4px;
            margin-left: -4px;
            margin-top: 2px;
          }
        }
      }

      .toolbar-flexbox-item-window-controls {
        width: 50px;

        button.toolbar-flexbox-button-window-controls {
          width: 100%;
          height: 100%;

          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;

          .toolbar-icon {
            width: 18px;
            height: 18px;
            font-size: 18px;
            overflow: hidden;
            color: #999999;
          }

          &:hover {
            background-color: #f0f0f0;

            .toolbar-icon {
              color: #000000;
            }
          }
        }
      }

      button.toolbar-flexbox-main-button {

      }

      .toolbar-flexbox-main-button-hl {
        &:hover {
          background-color: #F0F0F0!important;

          span.toolbar-icon {
            background-color: #F9CF01;
          }
        }
      }
    }
  }

  >.toolbar-flexbox-main-sub {
    margin-top: 15px;
    height: 100px;
  }
}