.component-envelope-editor-v1-toolbar {
  .toolbar-icon {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    font-family: 'text_redactor_menu_icon', monospace !important;
  }

  .toolbar-icon-texture:after { content: "\e900"; }
  .toolbar-icon-texture-variant:after { content: "\e805"; }
  .toolbar-icon-font:after { content: "\e809"; }
  .toolbar-icon-mark:after { content: "\e901"; }
  .toolbar-icon-backdrop:after { content: "\e905"; }
  .toolbar-icon-backdrop-variant:after { content: "\e805"; }
  .toolbar-icon-pattern:after { content: "\e906"; }
  .toolbar-icon-pattern-color:after { content: "\e902"; }
  .toolbar-icon-revert:after { content: "\e80d"; }
  .toolbar-icon-switch:after { content: "\e904"; }
  .toolbar-icon-preview:after { content: "\e80e"; }
  .toolbar-icon-submit:after { content: "\e811"; }
  .toolbar-icon-window-list-prev:after { content: "\E812"; }
  .toolbar-icon-window-list-next:after { content: "\E813"; }
}