.component-envelope-editor-v1-recipient {
  .hi-envelope-recipient-container {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .hi-envelope-recipient-bait {
      cursor: pointer;
      outline: 3px solid #fcce00;
      border: 1px solid #ffffff;
      padding: 5px;

      &:hover {
        outline: 5px solid #fcce00;
      }
    }
  }
}