.component.component-envelope-editor-v1-recipient
  .hi-envelope-recipient-container(ng-if="$ctrl.isRecipientAvailable()")
    .hi-envelope-recipient-bait(ng-click="$ctrl.click()", ng-style="$ctrl.getCSS()")
      | {{ 'hi.main.envelope.editor.recipient.placeholder' | translate }}