.component-invite-card-editor-v1-photo {
  position: relative;
  width: 100%;
  height: 100%;

  .photo {
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top center;
  }
}