@import "./../../../../../../../../main/styles/mixins/disable-user-select";

.component-event-landing-editor-v1-disabled {
  @include disable-user-select;

  margin: 35px 0;

  p {
    color: #f00;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    text-align: center;
  }

  .image-container {
    background-image: url("./resources/img/smile.jpg");
    background-repeat: no-repeat;
    margin: 30px auto;
    width: 141px;
    height: 145px;
  }
}