.component.component-event-landing-editor-v1-disabled
  .container
    p {{ 'hi.main.event.landing.editor.disabled.l1' | translate }}
    .image-container
    p {{ 'hi.main.event.landing.editor.disabled.l2'| translate }}