.component.component-event-landing-v1-block-photo-gallery(ng-if="! $ctrl.status.isLoading()")
  .event
    .event__center.center.center_fixed
      .event__center.center.center_fixed
        .event__album
          .event__album-item(ng-repeat='photo in $ctrl.block.photos', ng-click='$ctrl.openFullSize(photo)')
            img(ng-src='{{ photo.url }}')
            .event__album-text
              span(ng-bind-html='$ctrl.getTrustedHTML($ctrl.block.galleryTitle)')