.component-solution-browser-filters {
  .filter__types {
    .filter__item {
      cursor: pointer;
    }
  }

  .filter__choices {
    .filter__selected {
      cursor: pointer;
    }
  }

  .filter .filter__btn .icon-check-no {
    display: block;
  }

  .filter .filter__item.is-selected:before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;
    margin-right: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent #edce16 transparent;

    .filter__item .filter__pic {
      background-color: #fff;
    }
  }
}