.component.component-solution-browser-filters
  .filter
    .filter.filter__center
      .title {{ 'hi.main.solution.browser.filters.select' | translate }}
      .filter__menu.filter__types
        .filter__item(
          ng-repeat="filter in $ctrl.listFilters() track by filter.id",
          ng-class="{'is-active': filter.isActivated(), 'is-selected': $ctrl.isSelected(filter)}",
        )
          .filter__link(
            ng-click="$ctrl.setAsCurrentFilter(filter)",
          )
            .filter__pic
              .icon(class="{{ filter.getIcon() }}")
            .filter__name
              .filter__text {{ filter.getTitle() }}
          button.filter__btn(ng-if="filter.isActivated()", ng-click="filter.deactivate(); $ctrl.onDeactivateFilter(filter)")
            i.icon.icon-check-no
    .filter.filter_bg.filter__choices
      .filter__center.center
        .filter__list
          .filter__selected(
              ng-repeat="choice in $ctrl.listChoices",
              ng-click="$ctrl.getCurrentFilter().activate(choice); $ctrl.onActivateFilter($ctrl.getCurrentFilter())",
              ng-class="{ 'is-active': $ctrl.getCurrentFilter().isActivated() && $ctrl.getCurrentFilter().getCurrent().id === choice.id }"
          )
            span.text {{ choice.title }}