.component.component-envelope-editor-v1-toolbar-texture-variant
  .toolbar-flexbox-big-previews
    .toolbar-flexbox-big-container
      .toolbar-flexbox-big-container-center
        .toolbar-flexbox-big-window-controls
          button.toolbar-flexbox-big-window-control-button(ng-click="$ctrl.window.prev()", ng-if="$ctrl.window.hasPrev()")
            .toolbar-icon.toolbar-icon-window-list-prev
        .toolbar-flexbox-big-item(
          ng-class="{ 'is-active': $ctrl.isActive(variant) }",
          ng-repeat="variant in $ctrl.window.list()",
          ng-click="$ctrl.click(variant)"
        )
          button.toolbar-flexbox-big-button
            .toolbar-flexbox-button-icon
              .item-preview(ng-style="$ctrl.getTextureVariantCSS(variant)")
            .toolbar-flexbox-big-button-title
              span {{ variant.entity.title | localize }}
        .toolbar-flexbox-big-window-controls
          button.toolbar-flexbox-big-window-control-button(ng-click="$ctrl.window.next()", ng-if="$ctrl.window.hasNext()")
            .toolbar-icon.toolbar-icon-window-list-next