.tabs-form__item.js-form-tabs-item
  // reply
  .reply(ng-if='$ctrl.model.CollectGuestAnswersEditor.sub === "new_quiz"')
    .reply__row.reply__row_mb30
      .reply__col
        // checkbox
        label.checkbox
          input(type='checkbox', ng-click='$ctrl.switchQuizTarget("yes")', ng-checked='$ctrl.newQuiz.target === "yes"')
          span.checkbox__in
            span.checkbox__select
              i.icon.icon-check
            span.checkbox__name Добавить опрос при ответе "да"
      .reply__col
        // checkbox
        label.checkbox
          input(type='checkbox', ng-click='$ctrl.switchQuizTarget("no")', ng-checked='$ctrl.newQuiz.target === "no"')
          span.checkbox__in
            span.checkbox__select
              i.icon.icon-check
            span.checkbox__name Добавить опрос при ответе "нет"
    .reply__row
      .reply__col
        .reply__settings.reply__settings_p0.reply__settings_mb10 Укажите вопрос
        // field
        .field
          .field__in
            input.input.input_wide(type='text', name='ask', ng-model='$ctrl.newQuiz.question')
      .reply__col
        .reply__settings.reply__settings_p0.reply__settings_mb10 Добавить варианты ответов:
        .reply__input
          // field
          .field.field_input-btn
            .field__in
              input.input.input_wide(type='text', name='ask', ng-model='$ctrl.newAnswer.title')
            button.field_btn(ng-click='$ctrl.addNewAnswer()')
              i.icon.icon-plus
        ul.reply__version
          li(ng-repeat='answer in $ctrl.newQuiz.answers track by $index') {{ answer.title }}
    .reply__btns.l
      button.btn-yellow(ng-click='$ctrl.addNewQuiz()') Сохранить опрос
      button.btn-gray(ng-click='$ctrl.closeAddingNewQuizBlock()') Отмена
  .reply(ng-if='$ctrl.model.CollectGuestAnswersEditor.sub !== "new_quiz"')
    .reply__btns.reply__btns_text.l
      button.btn-yellow(ng-click='$ctrl.openAddingNewQuizBlock()') Добавить новый опрос
      .reply__settings Список созданных опросов по данной рассылке:
    // table-panel
    .reply__table
      table.table-panel
        thead
          tr
            th Вопрос
            th Тип опроса
            th Тип гостя
            th Статус гостя
            th Статус опроса
            th Удалить
        tbody
          tr(ng-repeat='quiz in $ctrl.model.CollectGuestAnswersEditor.blocks.quizzes')
            td {{ quiz.question }}
            td Кнопки
            td Все
            td {{ $ctrl.getQuizTarget(quiz) }}
            td Видимы (скрыть)
            td.is-center
              button(ng-click='$ctrl.deleteQuiz($index)')
                i.icon.icon-trash