.component.component-event-landing-main-menu
  .event
    .event__menu
      .event__menu-wrap
        // center
        .event__center.center.center_fixed
          ul.event__menu-list
            li.event__menu-item(ng-if="$ctrl.isInviteMenuItemAvailable()")
              a.event__menu-link(ng-link="['/', 'HIEventLandingInviteRoute']") {{ 'hi.main.event-landing.main-menu.links.invite' | translate }}
            li.event__menu-item.is-active
              a.event__menu-link(ng-link="['/', 'HIEventLandingEventRoute']") {{ 'hi.main.event-landing.main-menu.links.event' | translate }}
            li.event__menu-item(ng-if="$ctrl.ifPhotoGalleryMenuItemAvailable()")
              a.event__menu-link(ng-link="['/', 'HIEventLandingPhotoGalleryRoute']") {{ 'hi.main.event-landing.main-menu.links.photo-gallery' | translate }}
          a.event__menu-btn(ng-if="$ctrl.isAnswerMenuItemAvailable()", ng-link="['/', 'HIEventLandingAnswerRoute']") {{ 'hi.main.event-landing.main-menu.links.answer' | translate }}