.component-invite-card-editor-v1-svg-text-color-toolbar {
  .icon-ed-arrow-left:after { font-family: 'text_redactor_menu_icon', sans-serif !important; content: "\e812"; }
  .icon-ed-arrow-right:after { font-family: 'text_redactor_menu_icon', sans-serif !important; content: "\e813"; }

  .hi-sub-text-color-toolbar {
    .hi-sub-toolbar-next, .hi-sub-toolbar-prev {
      button.hi-sub-toolbar-window-button {
        line-height: 42px;

        .hi-icon {
          line-height: 42px;
        }
      }
    }
  }

  .hi-color-sample {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 1px solid transparent;
    margin-left: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}