.component.component-invite-card-editor-v1-svg-text-color-toolbar
  ul.hi-sub-toolbar.hi-sub-text-color-toolbar
    li.hi-sub-toolbar-prev
      button.hi-sub-toolbar-window-button(ng-click="$ctrl.window.prev()", ng-if="$ctrl.window.hasPrev()")
        .hi-icon.icon-ed-arrow-left
    li.hi-sub-toolbar-item(
      ng-repeat="textColor in $ctrl.window.list()",
      ng-class="{ 'is-active': $ctrl.isActive(textColor) }"
    )
      button.hi-sub-toolbar-button(ng-click="$ctrl.click(textColor)")
        .hi-color-sample(ng-style="$ctrl.getColorSampleCSS(textColor)")
    li.hi-sub-toolbar-next
      button.hi-sub-toolbar-window-button(ng-click="$ctrl.window.next()", ng-if="$ctrl.window.hasNext()")
        .hi-icon.icon-ed-arrow-right