.component-account-register {
  .reg__error {
    background-color: #ffffff;
    padding: 25px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: red;
  }

  .select__list {
    display: block!important;

    .select__item {
      cursor: pointer;
    }
  }

  .reg__text_lowercase {
    text-transform: lowercase;
  }
}