.component.component-account-register
  div(ng-if="$ctrl.screen === 'form'")
    form(ng-submit="form.$valid && $ctrl.ngSubmit($event)", name="form", novalidate)
      .reg__form.js-reg
        .reg__title {{ 'hi.main.account.register.title' | translate }}
        .reg__in
          .reg__switch.js-reg-switch
            .reg__switch-title {{ 'hi.main.account.register.with-email' | translate }}
            .reg__switch-el.js-reg-switch-el(ng-class="{'is-email': $ctrl.signUpType === 'email', 'is-social': $ctrl.signUpType === 'social'}", ng-click='$ctrl.switchRegWay()')
              span.reg__switch-ball
            .reg__switch-title {{ 'hi.main.account.register.with-social-networks' | translate }}
          .reg__row
            .reg__col.js-reg-item.js-reg-email(ng-class="{'is-active': $ctrl.signUpType === 'email'}")
              .reg__text
                .reg__text_line {{ 'hi.main.account.register.register' | translate }}
                .reg__text_line.reg__text_lowercase {{ 'hi.main.account.register.with-email' | translate }}
              // select
              .select.js-select
                .select__head.js-select-head(ng-click="$ctrl.toggleSelect()")
                  .select__value.js-select-value {{ $ctrl.getProfileTypeValue() }}
                  .select__icon
                    i.icon.icon-arrow-down
                .select__list.js-select-list(ng-if="$ctrl.select")
                  .select__item(ng-click="$ctrl.switchToLegal()") {{ 'hi.main.account.register.company-profile' | translate }}
                  .select__item.js-select-hide(ng-click="$ctrl.switchToPersonal()") {{ 'hi.main.account.register.personal-profile' | translate }}
              // field
              .field.js-select-hide-1(ng-if="$ctrl.type === 'legal'")
                .field__in
                  input.input(type='text', name='company', translate-attr="{ 'placeholder': 'hi.main.account.register.company-name' }", required, ng-model="$ctrl.model.company", ng-disabled="$ctrl.disabled")
                  .field_errors(ng-if='form.$submitted', ng-messages="form.company.$error", role="alert")
                    .field_error(ng-message="required") {{ 'hi.main.common.validation.required' | translate }}
              // field
              .field
                .field__in
                  input.input(type='text', name='first_name', translate-attr="{ 'placeholder': 'hi.main.account.register.first_name' }", ng-model="$ctrl.model.first_name", required, ng-disabled="$ctrl.disabled")
                  .field_errors(ng-if='form.$submitted', ng-messages="form.first_name.$error", role="alert")
                    .field_error(ng-message="required") {{ 'hi.main.common.validation.required' | translate }}
              // field
              .field
                .field__in
                  input.input(type='text', name='last_name', translate-attr="{ 'placeholder': 'hi.main.account.register.last_name' }", ng-model="$ctrl.model.last_name", required, ng-disabled="$ctrl.disabled")
                  .field_errors(ng-if='form.$submitted', ng-messages="form.last_name.$error", role="alert")
                    .field_error(ng-message="required") {{ 'hi.main.common.validation.required' | translate }}
              // field
              .field
                .field__in
                  input.input(type='email', name='email', translate-attr="{ 'placeholder': 'hi.main.account.register.email' }", ng-model="$ctrl.model.email", required, ng-disabled="$ctrl.disabled")
                  .field_errors(ng-if='form.$submitted', ng-messages="form.email.$error", role="alert")
                    .field_error(ng-message="required") {{ 'hi.main.common.validation.required' | translate }}
                    .field_error(ng-message="email") {{ 'hi.main.common.validation.email' | translate }}
              // field
              .field
                .field__in
                  input.input(type='password', name='password', translate-attr="{ 'placeholder': 'hi.main.account.register.password' }", ng-model="$ctrl.model.password", required, minlength="6", maxlength="32", ng-disabled="$ctrl.disabled")
                  .field_errors(ng-if='form.$submitted', ng-messages="form.password.$error", role="alert")
                    .field_error(ng-message="required") {{ 'hi.main.common.validation.required' | translate }}
                    .field_error(ng-message="minlength") {{ 'hi.main.account.register.validation.password.min-length' | translate }}
                    .field_error(ng-message="maxlength") {{ 'hi.main.account.register.validation.password.max-length' | translate }}
              // field
              .field
                .field__in
                  input.input(type='text', name='phone', translate-attr="{ 'placeholder': 'hi.main.account.register.phone' }", ng-model="$ctrl.model.phone", ng-disabled="$ctrl.disabled")
            .reg__col.js-reg-item.js-reg-social(ng-class="{'is-active': $ctrl.signUpType === 'social'}")
              .reg__text.reg__text_mb96
                .reg__text_line {{ 'hi.main.account.register.register' | translate }}
                .reg_text__line.reg__text_lowercase {{ 'hi.main.account.register.with-social-networks' | translate }}
              button.btn-social.btn-social_google(type="button", ng-click="$ctrl.oauth2('google')")
                span.btn-social__icon
                  i.icon.icon-social-google
                span.btn-social__name {{ 'hi.main.account.register.social-networks.google' | translate }}
              button.btn-social.btn-social_fb(type="button", ng-click="$ctrl.oauth2('facebook')")
                span.btn-social__icon
                  i.icon.icon-social-facebook
                span.btn-social__name {{ 'hi.main.account.register.social-networks.facebook' | translate }}
              button.btn-social.btn-social_vk(type="button", ng-click="$ctrl.oauth2('vkontakte')")
                span.btn-social__icon
                  i.icon.icon-vk
                span.btn-social__name {{ 'hi.main.account.register.social-networks.vk' | translate }}
              button.btn-social.btn-social_tw(type="button", ng-click="$ctrl.oauth2('twitter')")
                span.btn-social__icon
                  i.icon.icon-twitter
                span.btn-social__name {{ 'hi.main.account.register.social-networks.twitter' | translate }}
              button.btn-social.btn-social_pi(type="button", ng-click="$ctrl.oauth2('pinterest')")
                span.btn-social__icon
                  i.icon.icon-pinterest2
                span.btn-social__name {{ 'hi.main.account.register.social-networks.pinterest' | translate }}
          .reg__error(ng-if="$ctrl.error")
            span.error_text {{ $ctrl.error }}
          .reg__row.reg__row_foot
            .reg__col
            .reg__col
              button.reg__btn-captcha.btn-complex(type="submit", ng-disabled="$ctrl.disabled") {{ 'hi.main.account.register.submit' | translate }}
          .reg__info.reg__info_mb25
            span {{ 'hi.main.account.register.agree' | translate }} &nbsp;
            a.reg__link(href='/conditions', target="__top") {{ 'hi.main.account.register.conditions' | translate }}
            | .
          .reg__info.reg__info_big
            a.reg__link(href='/account/sign-in') {{ 'hi.main.account.register.sign-in' | translate }}
            | &nbsp;/&nbsp;
            a.reg__link(href='/account/sign-in') {{ 'hi.main.account.register.already-registered' | translate }}
  div(ng-if="$ctrl.screen === 'duplicate'")
    .reg__form.reg__form_message
      .reg__title {{ 'hi.main.account.register.title' | translate }}
      .reg__in
        .reg__info {{ 'hi.main.account.register.messages.already-registered' | translate }}
        .reg__info
          a.reg__link(href='/account/forgot-password') {{ 'hi.main.account.register.request-reset-password' | translate }}
  div(ng-if="$ctrl.screen === 'success'")
    .reg__form.reg__form_message
      .reg__title {{ 'hi.main.account.register.title' | translate }}
      .reg__in
        .reg__info {{ 'hi.main.account.register.messages.sent.title' | translate }}
        .reg__info {{ 'hi.main.account.register.messages.sent.text' | translate }}
