.component.component-event-landing-editor-v1-block-header
  .event
    .event__redactor-pic
      img.event-header-image(ng-src='{{$ctrl.getCurrentImage()}}')
      .event__tabs
        .event__tabs-list.js-ev-tabs
          .event__tabs-photo
            button.event__tabs-link.js-ev-tabs-btn(ng-click='$ctrl.changeImageBlockVisibleStatement()')
              span.event__tabs-pic
                i.icon.icon-photo
            .event__tabs-container.js-ev-tabs-wrap(
              ng-if='$ctrl.sub.imageBlockVisible',
              accept='.png, .gif, .jpg',
              hi-drop-files="$ctrl.onDropFiles($files[0], 'image')",
              hi-drag-out="$ctrl.onDragOut()",
              hi-drag-over="$ctrl.onDragOver()"
            )
              .event__tabs-ico(ng-if='!$ctrl.hasImages()')
                i.icon.icon-camera
              div(ng-if='$ctrl.hasImages()')
                .uploaded-list-photo-container
                  .uploaded-list
                    .uploaded-list-controls
                      button.uploaded-list-controls-button.uploaded-list-controls-button-prev(ng-click="$ctrl.windowPhotos.prev()", ng-if="$ctrl.windowPhotos.hasPrev()")
                    .uploaded-list-items
                      .uploaded-list-item(ng-repeat='photo in $ctrl.windowPhotos.list()', ng-class="{ 'is-active': $ctrl.isPhotoSelected(photo) }")
                        .uploaded-image-block(ng-style="$ctrl.getPhotoCSS(photo)")
                        .uploaded-list-backdrop
                        .uploaded-select-text {{ 'hi.editor.event-landing.blocks.resources.header.select' | translate }}
                        .uploaded-click-area(ng-click='$ctrl.selectPhoto(photo)')
                        button.uploaded-close-button.event__gallery-close(ng-click='$ctrl.deletePhoto(photo)', ng-if="$ctrl.canDeletePhoto(photo)")
                          i.icon.icon-check-no
                    .uploaded-list-controls
                      button.uploaded-list-controls-button.uploaded-list-controls-button-next(ng-click="$ctrl.windowPhotos.next()", ng-if="$ctrl.windowPhotos.hasNext()")
              .event__tabs-content
                .event__tabs-text {{ 'hi.editor.event-landing.blocks.resources.header.drag-and-drop' | translate }}
                .event__tabs-btn
                  .field.field_load
                    input.input.input_load(type='file', ng-file-change='$ctrl.uploadFile($file, "image")', accept='image/*')
                    span.field__text {{ 'hi.editor.event-landing.blocks.resources.header.upload' | translate }}
          .event__tabs-music
            button.event__tabs-link.js-ev-tabs-btn(ng-click='$ctrl.changeMusicBlockVisibleStatement()')
              span.event__tabs-pic
                i.icon.icon-music
            .event__tabs-container.js-ev-tabs-wrap(
                ng-if='$ctrl.sub.musicBlockVisible',
                accept='.mp3',
                hi-drop-files="$ctrl.onDropFiles($files[0], 'music')",
                hi-drag-out="$ctrl.onDragOut()",
                hi-drag-over="$ctrl.onDragOver()"
              )
              .event__tabs-ico(ng-if='!$ctrl.haveMusics()')
                i.icon.icon-music
              div(ng-if='$ctrl.haveMusics()')
                .uploaded-list-music-container
                  .uploaded-list
                    .uploaded-list-controls
                      button.uploaded-list-controls-button.uploaded-list-controls-button-prev(ng-click="$ctrl.windowMusics.prev()", ng-if="$ctrl.windowMusics.hasPrev()")
                    .uploaded-list-items
                      .uploaded-list-item(ng-repeat='music in $ctrl.windowMusics.list()', ng-class="{ 'is-active': $ctrl.isMusicSelected(music) }")
                        .uploaded-image-block
                        .uploaded-list-backdrop
                        .uploaded-select-text {{ 'hi.editor.event-landing.blocks.resources.header.select' | translate }}
                        .uploaded-click-area(ng-click='$ctrl.selectMusic(music)')
                        button.uploaded-close-button.event__gallery-close(ng-click='$ctrl.deleteMusic(music)')
                          i.icon.icon-check-no
                    .uploaded-list-controls
                      button.uploaded-list-controls-button.uploaded-list-controls-button-next(ng-click="$ctrl.windowMusics.next()", ng-if="$ctrl.windowMusics.hasNext()")
              .event__tabs-content
                .event__tabs-text {{ 'hi.editor.event-landing.blocks.resources.header.drag-and-drop' | translate }}
                .event__tabs-btn
                  .field.field_load
                    input.input.input_load(type='file', accept='audio/mpeg', ng-file-change='$ctrl.uploadFile($file, "music")',)
                    span.field__text {{ 'hi.editor.event-landing.blocks.resources.header.upload' | translate }}
          .event__tabs-add
            button.event__tabs-link.js-ev-tabs-btn(ng-click='$ctrl.changeOtherBlockVisibleStatement()')
              span.event__tabs-pic
                i.icon.icon-add
            .event__tabs-container.js-ev-tabs-wrap(ng-if='$ctrl.sub.otherBlockVisible')
              .event__switch-item
                .event__switch-name
                  span {{ 'hi.editor.event-landing.blocks.resources.header.date-and-name' | translate }}
                label.switch
                  input.switch__input.js-ev-check-tabs-toggle(data-el='js-ev-el-1', type='checkbox', ng-model='$ctrl.block.isDateEnabled')
                  span.switch__in
                    span.switch__el
                      span.switch__labels
                        span.switch__text {{ 'hi.main.ui.switcher.on' | translate }}
                        span.switch__icon
                          i.icon.icon-check
                          i.icon.icon-check-no
                        span.switch__text.switch__text_right {{ 'hi.main.ui.switcher.off' | translate }}
              .event__switch-item
                .event__switch-name
                  span {{ 'hi.editor.event-landing.blocks.resources.header.organizer' | translate }}
                label.switch
                  input.switch__input.js-ev-check-tabs-toggle(data-el='js-ev-el-2', type='checkbox', ng-model='$ctrl.block.isOrganizerEnabled')
                  span.switch__in
                    span.switch__el
                      span.switch__labels
                        span.switch__text {{ 'hi.main.ui.switcher.on' | translate }}
                        span.switch__icon
                          i.icon.icon-check
                          i.icon.icon-check-no
                        span.switch__text.switch__text_right {{ 'hi.main.ui.switcher.off' | translate }}
      .m-event-header-options.event__change(ng-style="$ctrl.getColorCSS()", ng-if="$ctrl.hasHeader()")
        .event__change-wrap
          .event__date.js-ev-dp.js-ev-el-1(ng-if='$ctrl.block.isDateEnabled', ng-click='$ctrl.changeDatePickerBlockStatement()')
            .moment-dummy(moment-picker="$ctrl.block.date", format="YYYY-MM-DD", locale='ru')
            .event__date-block
              .event__date-wrap.js-ev-dp-wrap.date-picker-wrapper(ng-if='!$ctrl.hasDate()')
                .event__date-btn
                  i.icon.icon-calendar
                .event__date-text
                  | {{ 'hi.editor.event-landing.blocks.resources.header.add-date.l1' | translate }}
                  br
                  | {{ 'hi.editor.event-landing.blocks.resources.header.add-date.l2' | translate }}
              .event__date-value(ng-if='$ctrl.hasDate()')
                .event__date-day {{ $ctrl.getDate() }}
                .event__date-info
                  .event__date-month {{ $ctrl.getMonth() }}
                  .event__date-year {{ $ctrl.getYear() }}
              .event__date-value.js-ev-dp-value
                .event__date-day.js-ev-dp-day
                .event__date-info
                  .event__date-month.js-ev-dp-month
                  .event__date-year.js-ev-dp-year
          .m-event-header-inputs
            .event__info-item.js-ev-el-1
              .editor.editor_transparent.js-ev-editor(ng-if='$ctrl.block.isDateEnabled').edit-event-landing-header-title
                textarea.editor__area(
                  placeholder="{{ 'hi.editor.event-landing.blocks.resources.header.name-placeholder' | translate }}",
                  ng-model="$ctrl.block.eventTitle",
                  hi-ck-editor="inline"
                )
                button.editor__btn(hi-event-landing-edit-button)
                  i.icon.icon-edit
            .event__info-item.js-ev-el-2
              .editor.editor_transparent.js-ev-editor(ng-if='$ctrl.block.isOrganizerEnabled')
                textarea.editor__area(
                  ng-model="$ctrl.block.organizer",
                  placeholder="{{ 'hi.editor.event-landing.blocks.resources.header.organizer-placeholder' | translate }}",
                  hi-ck-editor="inline"
                )
                button.editor__btn(hi-event-landing-edit-button)
                  i.icon.icon-edit
          .event__bg
            .editor.editor_transparent.js-ev-editor
              button.editor__btn(ng-click='$ctrl.changeColorPickerBlockStatement()')
                i.minicolors-swatch-color
              color-picker(ng-if='$ctrl.sub.colorPickerVisible', ng-model='$ctrl.block.color')
    .event__foot
      .editor.editor_brown.js-ev-editor
        textarea.editor__area(
          ng-model="$ctrl.block.description",
          placeholder="{{ 'hi.editor.event-landing.blocks.resources.header.description-placeholder' | translate }}",
          hi-ck-editor="inline"
        )
        button.editor__btn(hi-event-landing-edit-button)
          i.icon.icon-edit