.route.route-landing-editor
  .event-landing-template-container(ng-if="$ctrl.isReady()")
    hi-event-landing-editor-v1(
      switcher="$ctrl.switcher",
      template="$ctrl.getCurrentTemplate()",
      original="$ctrl.getOriginalSolution()",
      current="$ctrl.getCurrentSolution()",
    )
    .finish
      hi-event-landing-editor-preview-button(event-sid="$ctrl.getEventSID()")