.component.component-event-landing-editor-v1-block-guests-list
  .event
    .event__l
      .event__l-head
        hi-event-landing-editor-v1-control-buttons-block(block='$ctrl.block', add-block="false")
      .event__guests
        .event__quests-name
          .editor.editor_inline(style="min-width: 220px;")
            textarea.editor__area(
              hi-ck-editor="inline",
              ng-model="$ctrl.block.guestListTitle",
              placeholder="{{ 'hi.main.event.landing.blocks.resources.guests-list.title' | translate }}",
            )
            button.editor__btn(hi-event-landing-edit-button)
              i.icon.icon-edit
        .event__container
          .event__container-head
            table.event__table
              thead
                tr
                  th
                  th {{ 'hi.main.event.landing.blocks.resources.guests-list.accepted' | translate }}
                  th {{ 'hi.main.event.landing.blocks.resources.guests-list.waiting' | translate }}
                  th {{ 'hi.main.event.landing.blocks.resources.guests-list.rejected' | translate }}
          .event__container-body
            table.event__table
              tbody
                tr
                  td {{ 'hi.main.event.landing.blocks.resources.guests-list.guest' | translate }} 1
                  td
                    span.event__table-confirm
                  td
                  td
                tr
                  td {{ 'hi.main.event.landing.blocks.resources.guests-list.guest' | translate }} 2
                  td
                    span.event__table-confirm
                  td
                  td
                tr
                  td {{ 'hi.main.event.landing.blocks.resources.guests-list.guest' | translate }} 3
                  td
                  td
                    span.event__table-confirm
                  td
                tr
                  td {{ 'hi.main.event.landing.blocks.resources.guests-list.guest' | translate }} 4
                  td
                  td
                  td
                    span.event__table-confirm
                tr
                  td {{ 'hi.main.event.landing.blocks.resources.guests-list.guest' | translate }} 5
                  td
                  td
                  td
                    span.event__table-confirm
                tr
                  td {{ 'hi.main.event.landing.blocks.resources.guests-list.guest' | translate }} 6
                  td
                  td
                  td
                    span.event__table-confirm
                tr
                  td {{ 'hi.main.event.landing.blocks.resources.guests-list.guest' | translate }} 7
                  td
                  td
                  td
                    span.event__table-confirm
                tr
                  td {{ 'hi.main.event.landing.blocks.resources.guests-list.guest' | translate }} 8
                  td
                  td
                  td
                    span.event__table-confirm