.route.route-event-landing-root-route(ng-if="$ctrl.isReady()")
  hi-ui-loading-top-indicator(ng-if="$ctrl.isLoading()")
  .hi-event-landing-main-menu(ng-if="$ctrl.isReady()")
    hi-event-landing-main-menu(event="$ctrl.event", landing="$ctrl.landing")
    hi-event-landing-side-menu(event="$ctrl.event", landing="$ctrl.landing")
  .hi-event-landing-router-contents
    ng-outlet
  .hi-event-landing-footer(ng-if="$ctrl.isReady()")
    hi-event-landing-footer(event="$ctrl.event", landing="$ctrl.landing")