.center.center_fixed
    // panel
    .panel.panel_load-file
        .panel__head
            .panel__title {{ 'hi.main.event.mailing.contact-book.import.file.upload-from-file' | translate }}
        .panel__body
            .panel__row
                .panel__text
                    | {{ 'hi.main.event.mailing.contact-book.import.file.ensure-formats' | translate }}
                    span {{ 'hi.main.event.mailing.contact-book.import.file.formats' | translate }}
                    | .
                a.panel__link(href='#') {{ 'hi.main.event.mailing.contact-book.import.file.example' | translate }}
            .panel__row.panel__row_mb14
                .panel__text {{ 'hi.main.event.mailing.contact-book.import.file.contains-header-row' | translate }}
                // switch
                label.switch
                    input.switch__input(type='checkbox')
                    span.switch__in
                        span.switch__el
                            span.switch__labels
                                span.switch__text {{ 'hi.main.event.mailing.contact-book.on' | translate }}
                                span.switch__icon
                                    i.icon.icon-check
                                    i.icon.icon-check-no
                                span.switch__text {{ 'hi.main.event.mailing.contact-book.off' | translate }}
            .panel_load-file__text(
            hi-drop-files="$ctrl.onDropFiles($files)",
            hi-drag-out="$ctrl.onDragOut()",
            hi-drag-over="$ctrl.onDragOver()")
                | {{ 'hi.main.event.mailing.contact-book.import.file.drag-file-1' | translate }}
                br
                | {{ 'hi.main.event.mailing.contact-book.import.file.drag-file-2' | translate }}
        .panel__foot
            // field
            .field.field_load
                input.input.input_load(ng-file-change='$ctrl.model.onImportFromFile()', type='file', accept=".csv")
                span.field__text {{ 'hi.main.event.mailing.contact-book.import.file.upload' | translate }}