.component.component-mailing-options-card-editor
.center.center_fixed
	hi-ui-loading-top-indicator(ng-if="$ctrl.status.isLoading()")
	// panel
	.panel.panel_reply
		.panel__head
			.panel__title сбор ответов гостей
		.panel__body
			// tabs-form
			.tabs-form.js-form-tabs
				.tabs-form__nav
					.tabs-form__list
						a.tabs-form__link.js-form-tabs-link(ng-click='$ctrl.showBaseInfo()', ng-class="{'is-active' : $ctrl.model.CollectGuestAnswersEditor.sub === 'base_info'}") Базовая информация
						a.tabs-form__link.js-form-tabs-link(ng-click='$ctrl.showQuiz()', ng-class="{'is-active' : $ctrl.model.CollectGuestAnswersEditor.sub === 'quiz'}") Добавить опрос
						a.tabs-form__link.js-form-tabs-link(ng-click='$ctrl.showGuests()', ng-class="{'is-active' : $ctrl.model.CollectGuestAnswersEditor.sub === 'guests'}") Плюс 1 гость
						a.tabs-form__link.js-form-tabs-link(ng-click='$ctrl.showAdvancedSettings()', ng-class="{'is-active' : $ctrl.model.CollectGuestAnswersEditor.sub === 'advanced_settings'}") Продвинутые настройки
				.tabs-form__container
					hi-event-mailing-base-info-block(ng-if='$ctrl.model.CollectGuestAnswersEditor.sub === "base_info"')
					hi-event-mailing-quiz-block(ng-if='$ctrl.model.CollectGuestAnswersEditor.sub === "quiz" || $ctrl.model.CollectGuestAnswersEditor.sub === "new_quiz"')
					hi-event-mailing-guests-block(ng-if='$ctrl.model.CollectGuestAnswersEditor.sub === "guests"')
					hi-event-mailing-advanced-settings-block(ng-if='$ctrl.model.CollectGuestAnswersEditor.sub === "advanced_settings"')
					hi-event-mailing-preview-block(ng-if='$ctrl.model.CollectGuestAnswersEditor.sub === "preview"')
					.reply
						.reply__btns.l
							button.btn-yellow(ng-click='$ctrl.save()', ng-if='$ctrl.model.CollectGuestAnswersEditor.sub !== "new_quiz"') Сохранить настройки
							button.btn-gray(ng-click='$ctrl.goBackToContactBook()', ng-if='$ctrl.model.CollectGuestAnswersEditor.sub !== "new_quiz"') Вернуться к рассылке