.component-invite-card-editor-v1-svg-font-size-toolbar {
  .icon-ed-arrow-left:after { font-family: 'text_redactor_menu_icon', sans-serif !important; content: "\e812"; }
  .icon-ed-arrow-right:after { font-family: 'text_redactor_menu_icon', sans-serif !important; content: "\e813"; }
}