.component.component-invite-card-editor-v1-svg-font-size-toolbar
  ul.hi-sub-toolbar
    li.hi-sub-toolbar-prev
      button.hi-sub-toolbar-window-button(ng-click="$ctrl.window.prev()", ng-if="$ctrl.window.hasPrev()")
        .hi-icon.icon-ed-arrow-left
    li.hi-sub-toolbar-item(
        ng-repeat="size in $ctrl.window.list()",
        ng-class="{ 'is-active': $ctrl.isActive(size) }"
    )
      button.hi-sub-toolbar-button(ng-click="$ctrl.click(size)")
        | {{ size }}
    li.hi-sub-toolbar-next
      button.hi-sub-toolbar-window-button(ng-click="$ctrl.window.next()", ng-if="$ctrl.window.hasNext()")
        .hi-icon.icon-ed-arrow-right