.component.component-event-landing-editor-v1-block-dress-code {
  .dress-code-placeholder {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


  .event .event__code .event__load-block {
    position: relative;
  }

  .event__code {
    padding: 0;
  }
}