.component.component-event-landing-editor-v1-block-dress-code
  .event(ng-if="$ctrl.isAvailable()")
    .event__l
      .event__l-head
        hi-event-landing-editor-v1-control-buttons-block(block='$ctrl.block', add-block="false")
      .event__code
        .event__code-row
          .event__code-col
            .event__load-photo
              .event__load-wrap
                .event__load-block
                  hi-ui-loading-top-indicator(ng-if="$ctrl.status.isLoading()")
                  .dress-code-placeholder(ng-style="$ctrl.getImageCSS()")
                .event__load-btn
                  i.icon.icon-photo
                input.event__load-input(type='file', ng-file-change='$ctrl.uploadFile($file)')
          .event__code-col
            .event__code-head
              .editor.editor_inline(style='min-width: 175px;')
                textarea.editor__area(
                  hi-ck-editor="inline",
                  ng-model="$ctrl.block.title",
                  placeholder="{{ 'hi.main.event.landing.blocks.resources.dress-code.title' | translate }}",
                )
                button.editor__btn(hi-event-landing-edit-button)
                  i.icon.icon-edit
              .event__select-dress.select.select_close.js-sel
                .select__head
                  .select__head-title.js-sel-head-title(ng-click="$ctrl.toggleDressCodeVariants()")
                    .select__title.js-sel-title {{ $ctrl.getUsedDressCodeTitle() }}
                    .select__icon
                      i.icon.icon-arrow-down
                  .select__head-value.js-sel-head-value
                    .select__value.js-sel-value Val ue
                    .select__icon
                      i.icon.icon-check-no
                .select__list(ng-if="$ctrl.isListOpened")
                  .js-add-group-list
                    a.select__item(ng-repeat='dressCode in $ctrl.listDressCodes()', ng-click='$ctrl.useDressCode(dressCode)') {{ $ctrl.getDressCodeTitle(dressCode) }}
            .event__code-line
              .event__code-cell
                .event__code-label {{ 'hi.main.event.landing.blocks.resources.dress-code.label.men' | translate }}:
                .editor.editor_sm.js-ev-editor
                  textarea.editor__area(
                    hi-ck-editor="inline",
                    ng-model="$ctrl.menDescription",
                  )
                  button.editor__btn(hi-event-landing-edit-button)
                    i.icon.icon-edit
              .event__code-cell
                .event__code-label {{ 'hi.main.event.landing.blocks.resources.dress-code.label.women' | translate }}:
                .editor.editor_sm.js-ev-editor
                  textarea.editor__area(
                    hi-ck-editor="inline",
                    ng-model="$ctrl.womenDescription",
                  )
                  button.editor__btn(hi-event-landing-edit-button)
                    i.icon.icon-edit