{% extends "@main/layout/skeleton.html.twig" %}

{% block skeleton_content %}
  <div class="error">
    <div class="error__row">
      <div class="error__col">
        <div class="error__pic">
          <div class="error__ballon-1">
            <img src="/dist/img/balloon-1.png" alt="">
          </div>
          <div class="error__ballon-2">
            <img src="/dist/img/balloon-2.png" alt="">
          </div>
        </div>
      </div>
      <div class="error__col">
        <div class="error__content">
          <div class="error__text">
            <p>Эта страница затерялась где-то на просторах Интернета.</p>
            <p>Возможна она удалена или перенесена в другое место.</p>
          </div>
          <div class="error__link">
            <p>Посетите <a href="#">главную</a> страницу нашего сайта</p>
            <p>Если возникли вопросы – напишите нам <a href="mailto:info@happyinvite.ru">info@happyinvite.ru</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- load js -->
  <script src="/dist/js/jquery.js"></script>
  <script src="/dist/js/slick.min.js"></script>
  <script src="/dist/js/common.js"></script>
{% endblock %}