.center.center_fixed
    // panel
    .panel.panel_import
        .panel__head
            .panel__title {{ 'hi.main.event.mailing.contact-book.import.event.import' | translate }}
        .panel__body
            // select
            .select.select_close.select_w226.js-sel
                .select__head
                    .select__head-title.js-sel-head-title(ng-click='$ctrl.eventsListVisible = !$ctrl.eventsListVisible')
                        .select__title.js-sel-title {{ 'hi.main.event.mailing.contact-book.import.event.select' | translate }}
                        .select__icon
                            i.icon.icon-arrow-down
                    .select__head-value.js-sel-head-value
                        .select__value.js-sel-value Value
                        .select__icon
                            i.icon.icon-check-no
                .select__list.js-sel-list(ng-if='$ctrl.eventsListVisible')
                    a.select__item(ng-repeat='event in $ctrl.model.ContactBookManager.events', ng-click='$ctrl.pickEvent(event.event_id)') {{event.event_title}}
                input.js-sel-input(type='hidden')
            button.btn-yellow(ng-click='$ctrl.goBack()') {{ 'hi.main.event.mailing.contact-book.import.event.back' | translate }}
            button.btn-yellow(ng-click='$ctrl.addContactsFromEvent()') {{ 'hi.main.event.mailing.contact-book.import.event.add' | translate }}