.component.component-event-landing-editor-v1-block-photo-gallery {
  .event__gallery-sl {
    padding: 10px 0!important;
    display: flex;
    justify-content: center;
  }

  .photo-list {
    display: flex;
    width: 540px;

    .photo-list-controls {
      flex-basis: 30px;
      flex-shrink: 0;

      button.photo-list-controls-button {
        height: 100px;
        width: 30px;

        &:after {
          font-family: 'icomoon', sans-serif;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 30px;
          color: #8A8B8C;
        }

        &:hover:after {
          color: #fcce00;
        }

        &.photo-list-controls-button-prev:after {
          content: "\e608";
        }

        &.photo-list-controls-button-next:after {
          content: "\e609";
        }
      }
    }

    .photo-list-items {
      display: flex;
      width: 480px;
      overflow: hidden;
      justify-content: center;
      flex-shrink: 0;
    }

    .photo-list-item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 155px;
      height: 100px;
      overflow: hidden;
      position: relative;
      margin: 0 5px;
      border: 3px solid transparent;

      .photo-list-backdrop, .photo-select-text {
        visibility: hidden;
      }

      &.is-active {
        border-color: lighten(#fcce00, 10%)!important;
      }

      &:hover {
        border-color: #fcce00;

        .photo-list-backdrop, .photo-select-text {
          visibility: visible;
        }

        button.event__gallery-close {
          display: block;
        }
      }
    }

    button.event__gallery-close {
      z-index: 5;
    }

    .photo-image-block {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
    }

    .photo-list-backdrop {
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      z-index: 2;
    }

    .photo-select-text {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      color: #edce16;
      z-index: 3;
    }

    .photo-click-area {
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      z-index: 4;
    }
  }
}