.component.component-event-landing-editor-v1-block-photo-gallery
  .event(ng-if="!!$ctrl.block")
    .event__l
      .event__l-head
        hi-event-landing-editor-v1-control-buttons-block(block='$ctrl.block', add-block="false")
      .event__gallery
        .event__gallery-head
          .event__gallery-name
            .editor.editor_inline.js-ev-editor(style='min-width: 200px;')
              textarea.editor__area(
                ng-model="$ctrl.block.galleryTitle",
                hi-ck-editor="inline",
                placeholder="{{ 'hi.editor.event-landing.blocks.resources.photo-gallery.title-placeholder' | translate }}"
              )
              button.editor__btn(hi-event-landing-edit-button)
                i.icon.icon-edit
        .event__gallery-body(
            accept='.png, .gif, .jpg',
            hi-drop-files="$ctrl.onDropFiles($files[0], 'image')",
            hi-drag-out="$ctrl.onDragOut()",
            hi-drag-over="$ctrl.onDragOver()"
        )
          .event__gallery-title {{ 'hi.editor.event-landing.blocks.resources.photo-gallery.title' | translate }}
          .event__gallery-ico
            i.icon.icon-camera
          .event__gallery-sl.js-sl-red
            .photo-list
              .photo-list-controls
                button.photo-list-controls-button.photo-list-controls-button-prev(ng-click="$ctrl.window.prev()", ng-if="$ctrl.window.hasPrev()")
              .photo-list-items
                .photo-list-item(ng-repeat='photo in $ctrl.window.list()', ng-class="{ 'is-active': $ctrl.isSelected(photo) }")
                  .photo-image-block(ng-style="$ctrl.getPhotoCSS(photo)")
                  .photo-list-backdrop
                  .photo-select-text {{ 'hi.editor.event-landing.blocks.resources.photo-gallery.select' | translate }}
                  .photo-click-area(ng-click='$ctrl.selectPhoto(photo)')
                  button.event__gallery-close(ng-click='$ctrl.deletePhoto(photo)')
                    i.icon.icon-check-no
              .photo-list-controls
                button.photo-list-controls-button.photo-list-controls-button-next(ng-click="$ctrl.window.next()", ng-if="$ctrl.window.hasNext()")
          .event__gallery-line
            .event__gallery-info {{ 'hi.editor.event-landing.blocks.resources.photo-gallery.drag-and-drop' | translate }}
            // field
            .field.field_load
              input.input.input_load(type='file', ng-file-change='$ctrl.uploadFile($file)')
              span.field__text {{ 'hi.editor.event-landing.blocks.resources.photo-gallery.upload' | translate }}
