.component-ui-alert-modal {
  .modal {
    background: #FFF;
    padding: 20px;
    border: 1px solid #EDCE16;
    box-shadow: 0 0 0 2px #FFF;
    min-width: 200px;
    max-width: 630px;
    margin: 30px;

    .modal-title {
      font-size: 16px;
      margin-bottom: 10px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
    }

    .modal-text {
      font-size: 13px;
      margin-bottom: 10px;
      text-align: center;
    }

    .modal-footer {
      margin-top: 20px;
      text-align: center;

      .modal-footer-item {
        display: inline-block;
      }

      button.modal-button {
        padding: 7px 28px 6px;
        background: #EDCE16;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 5px;
      }
    }
  }

  .container {
    display: block;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 10000;

    .container-background {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 10001;
    }

    .container-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      z-index: 10002;
    }
  }
}