.component.component-ui-alert-modal
  .container(ng-if="$ctrl.service.hasModal()")
    .container-background
    .container-content
      .modal
        .modal-title {{ $ctrl.getTitle() }}
        .modal-text {{ $ctrl.getText() }}
        .modal-footer
          .modal-footer-item(ng-repeat="button in $ctrl.getButtons()")
            button.modal-button(type="button", ng-click="button.click($ctrl.service)")
              | {{ button.title.translated }}