.component-envelope-animation {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: #000;

  .cea-backdrop { z-index: 1; }
  .cea-contents { z-index: 2 }

  .cea-backdrop {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
  }
}