.component.component-account-forgot-password
  div(ng-if="$ctrl.screen === 'form'")
    form(novalidate, name="form", ng-submit="form.$valid && $ctrl.ngSubmit($event)")
      .reg__form.reg__form_password
        .reg__title {{ "hi.main.account.forgot-password.title" | translate }}
        .reg__in
          .reg__info.reg__info_mb25 {{ "hi.main.account.forgot-password.enter"| translate }}
          .reg__fielset
            .field
              .field__in
                input.input(id="hiAccountForgotEmailInput", type='email',autofocus, name='email', required, placeholder='e-mail', ng-model="$ctrl.model.email", ng-disabled="$ctrl.disabled")
                .field_errors(ng-if="$ctrl.error")
                  .field_error {{ $ctrl.error }}
                .field_errors(ng-if='form.$submitted', ng-messages="form.email.$error", role="alert")
                  .field_error(ng-message="required") {{ "hi.main.common.validation.required"| translate }}
                  .field_error(ng-message="email") {{ "hi.main.common.validation.email"| translate }}
          .reg__line.l
            button.btn-complex(type="submit") {{ "hi.main.account.forgot-password.submit"| translate }}
            button.btn-complex(type="button", ng-click="$ctrl.cancel()") {{ 'hi.main.common.cancel' | translate }}
  div(ng-if="$ctrl.screen === 'success'")
    .reg__form.reg__form_message
      .reg__title {{ 'hi.main.account.forgot-password.title' | translate }}
      .reg__in
        .reg__info {{ 'hi.main.account.forgot-password.sent' | translate }}
        .reg__info {{ 'hi.main.account.forgot-password.check' | translate }}
