.component-event-landing-v1-block-program {
  .event .event__address {
    margin-top: 0!important;
  }

  .event-program-separator {
    width: 437px;
    height: 12px;
    background: url(./resources/img/line-1.png) no-repeat;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .event__item {
    &:before {
      display: none!important;
    }
  }
}