.component.component-event-landing-v1-block-program(ng-if="! $ctrl.status.isLoading()")
  .event
    .event__center.center.center_fixed
      .event__item
        .event__name(ng-if="$ctrl.isTitleEnabled()")
          .event__name-center
            .event__name-text(ng-if="  $ctrl.has($ctrl.block.programTitle)", ng-bind-html='$ctrl.getTrustedHTML($ctrl.block.programTitle)')
            .event__name-text(ng-if="! $ctrl.has($ctrl.block.programTitle)") {{ 'hi.editor.event-landing.blocks.resources.program.title-placeholder' | translate }}
            .event__name-left
            .event__name-right
        .event__row.event__row_top
          .event__col
            .event__time
              span.event__time-start {{ $ctrl.getStartTime() }}
              |  –
              span.event__time-finish {{ $ctrl.getEndTime() }}
            .event__item-pic(ng-if='$ctrl.hasPhoto()')
              .event__item-photo
                .event__item-ball
                  .hi-circle-image-container(ng-style="$ctrl.getPhotoCSS()")
          .event__col
            .event__name-celebration(ng-if="  $ctrl.has($ctrl.block.programDescription)", ng-bind-html='$ctrl.getTrustedHTML($ctrl.block.programDescription)')
            .event__name-celebration(ng-if="! $ctrl.has($ctrl.block.programDescription)") &nbsp;
      .event__address(ng-if="$ctrl.hasMap()")
        hi-google-map(block='$ctrl.block', type='"landing"')
      .event-program-separator(ng-if="$ctrl.isSeparatorAvailable()")