.event__center.center.center_fixed
  .event__answer-list.event__answer-list_form
    .event__answer-in
      .event__answer-line
        .event__answer-text Сообщите, пожалуйста, о своем присутствии
        .event__answer-radio
          // radio
          label.radio
            input(type='radio', name='select-2', checked='', value='yes')
            span.radio__in
              span.radio__select
                span.radio__check
              span.radio__name Да
          // radio
          label.radio
            input(type='radio', name='select-2', value='no')
            span.radio__in
              span.radio__select
                span.radio__check
              span.radio__name Нет
      .event__answer-accord
        // accord
        .accord.js-accord-item
          .accord__head.js-accord-head.l
            .accord__text Приду не один
            button.accord__btn
              i.icon.icon-arrow-down
          .accord__body.js-accord-body(style='display: none;')
            .accord__row
              .accord__col
                // field
                .field
                  .field__in
                    input.input(type='text', name='name', placeholder='Имя')
              .accord__col
                // field
                .field
                  .field__in
                    input.input(type='text', name='surname', placeholder='Фамилия')
              .accord__col
                // field
                .field
                  .field__in
                    input.input(type='text', name='city', placeholder='Город')
              .accord__col
                // field
                .field
                  .field__in
                    input.input(type='text', name='e-mail', placeholder='E-mail')
        // accord
        .accord.js-accord-item
          .accord__head.js-accord-head.l
            .accord__text Написать сообщение организатору
            button.accord__btn
              i.icon.icon-arrow-down
          .accord__body.js-accord-body(style='display: none;')
            // field
            .field
              .field__in
                textarea.textarea(name='textarea', id='', placeholder='Текст')
        // accord
        .accord.js-accord-item
          .accord__head.js-accord-head.l
            .accord__text Ответить на опрос
            button.accord__btn
              i.icon.icon-arrow-down
          .accord__body.js-accord-body(style='display: none;')
            .event__answer-info
              .event__answer-text Какое блюдо предпочитаете на горячее?
              // select
              .select.select_close.js-sel
                .select__head
                  .select__head-title.js-sel-head-title
                    .select__title.js-sel-title Выбрать
                    .select__icon
                      i.icon.icon-arrow-down
                  .select__head-value.js-sel-head-value
                    .select__value.js-sel-value Value
                    .select__icon
                      i.icon.icon-check-no
                .select__list.js-sel-list
                  a.select__item(href='#') альбомная
                  a.select__item(href='#') книжная
                  a.select__item(href='#') квадратная
                  a.select__item(href='#') альбомная маленькая
                input.js-sel-input(type='hidden')
            .event__answer-info
              .event__answer-text.event__answer-text_mr85 Требуется ли бронирование номера в отеле?
              .event__answer-radio
                // radio
                label.radio
                  input(type='radio', name='select', checked='', value='yes')
                  span.radio__in
                    span.radio__select
                      span.radio__check
                    span.radio__name Да
                // radio
                label.radio
                  input(type='radio', name='select', value='no')
                  span.radio__in
                    span.radio__select
                      span.radio__check
                    span.radio__name Нет
      .event__answer-btn
        button.js-answer-send Отправить
    .event__residue.event__residue_answer
      .event__residue-text
        | Ответить
        br
        | до
      .event__residue-nambers 15.06.2015
    .event__residue.event__residue_place
      .event__residue-text
        | Осталось
        br
        | мест
      .event__residue-nambers 222