/**
 * @license
 * MyFonts Webfont Build ID 3168976, 2016-02-10T05:51:49-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: ReliantBold by Intellecta Design
 * URL: http://www.myfonts.com/fonts/intellecta/reliant/bold/
 * Copyright: Copyright (c) 2010 by Iza , Intellecta Design. All rights reserved.
 * Licensed pageviews: 100,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3168976
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/305ad0");

  
@font-face {font-family: 'ReliantBold';src: url('webfonts/305AD0_0_0.eot');src: url('webfonts/305AD0_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/305AD0_0_0.woff2') format('woff2'),url('webfonts/305AD0_0_0.woff') format('woff'),url('webfonts/305AD0_0_0.ttf') format('truetype');}
 