.component.component-event-landing-invite
  .hi-component-loading(ng-if="$ctrl.status.isLoading()")
    hi-ui-loading-top-indicator
  .hi-component-contents(ng-if="! $ctrl.status.isLoading()")
    h1 Invite Component
    h2 Event: {{ $ctrl.event.entity.id }}
    h3 Landing: {{ $ctrl.landing.entity.id }}