.component.component-event-landing-editor-v1-block-custom {
  .uploaded-photo-block {
    width: 146px;
    height: 146px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
  }

  .event .event__load-block {
    padding: 0;
  }

  .event__load-ico {
    margin-top: 10px;
  }

  .event__load-text {
    margin-bottom: 10px;
  }

}