.component.component-event-landing-editor-v1-block-custom
  .event
    .event__l
      .event__l-head
        hi-event-landing-editor-v1-control-buttons-block(block='$ctrl.block', add-block="true")
        // editor
        .editor.editor_inline.js-ev-editor(style='min-width: 170px;')
          textarea.editor__area(
            ng-model="$ctrl.block.customTitle",
            hi-ck-editor="inline",
            placeholder="{{ 'hi.editor.event-landing.blocks.resources.custom.title-placeholder' | translate }}"
          )
          button.editor__btn(hi-event-landing-edit-button)
            i.icon.icon-edit
      .event__l-row
        .event__l-col
          .event__load-photo
            .event__load-wrap
              .event__load-block
                .event__load-ico(ng-if='!$ctrl.hasPhoto()')
                  i.icon.icon-camera
                .uploaded-photo-block(ng-if='$ctrl.hasPhoto()', ng-style="$ctrl.getUploadedPhotoCSS()")
                .event__load-text(ng-if='!$ctrl.hasPhoto()')
                  | {{ 'hi.editor.event-landing.blocks.resources.custom.add-photo.l1' | translate }}
                  br
                  | {{ 'hi.editor.event-landing.blocks.resources.custom.add-photo.l2' | translate }}
              .event__load-btn
                i.icon.icon-photo
              input.event__load-input(type='file', ng-file-change='$ctrl.uploadFile($file, "photo")')
        .event__l-col
          .event__prog-text
            // editor
            .editor.editor_md.js-ev-editor
              textarea.editor__area(
                ng-model="$ctrl.block.customDescription",
                hi-ck-editor="inline",
              placeholder="{{ 'hi.editor.event-landing.blocks.resources.custom.description-placeholder' | translate }}"
              )
              button.editor__btn(hi-event-landing-edit-button)
                i.icon.icon-edit
          .event__prog-links
            // field
            .field.field_load(style='min-width: 200px;')
              input.input.input_load(type='file', ng-file-change='$ctrl.uploadFile($file, "file")')
              .filed__icon
                i.icon.icon-plus
              span.field__text добавить файл