.component-envelope-editor-v1-is-not-enabled {
  text-align: center;
  min-height: 500px;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-image: url('./resources/img/really-2k17.jpg');
  line-height: 248px!important;
  color: #f55;
  text-transform: uppercase;

  p {
    text-align: center;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-image: url(/fonts/img/no_animation.jpg);
    line-height: 248px!important;
    color: #f55;
    text-transform: uppercase;
  }
}