.component.component-event-landing-v1-block-guests-list(ng-if="! $ctrl.status.isLoading()")
  .event
    .event__center.center.center_fixed
      .event__item.event__item_simple
        .event__name.event__name_mb80
          .event__name-center
            .event__name-text(ng-if="  $ctrl.has($ctrl.block.guestListTitle)", ng-bind-html='$ctrl.getTrustedHTML($ctrl.block.guestListTitle)')
            .event__name-text(ng-if="! $ctrl.has($ctrl.block.guestListTitle)") {{ 'hi.main.event.landing.blocks.resources.guests-list.title' | translate }}
            .event__name-left
            .event__name-right
        .event__item-table
          .event__container
            .event__container-wrap
              .event__container-head
                table.event__table
                  thead
                    tr
                      th
                      th {{ 'hi.main.event.landing.blocks.resources.guests-list.accepted' | translate }}
                      th {{ 'hi.main.event.landing.blocks.resources.guests-list.waiting' | translate }}
                      th {{ 'hi.main.event.landing.blocks.resources.guests-list.rejected' | translate }}
              .event__container-body
                table.event__table
                  tbody
                    tr(ng-repeat='contact in $ctrl.contacts')
                      td {{ contact.name }}
                      td
                        span.event__table-confirm(ng-if='contact.status === "accepted"')
                      td
                        span.event__table-confirm(ng-if='contact.status === "waiting"')
                      td
                        span.event__table-confirm(ng-if='contact.status === "rejected"')