.component-account-sign-in {
  .reg__error {
    color: red;
    text-align: center;
    padding: 15px 5px;
    background-color: white;
    font-family: "Acrom Medium", Arial, sans-serif;
    font-size: 14px;
  }
}