.component.component-account-sign-in
  form.reg__form.reg__form_enter(name="form", novalidate, ng-submit="form.$valid && $ctrl.ngSubmit($event)")
    .reg__title {{ 'hi.main.account.sign-in.title' | translate }}
    .reg__error(ng-if="$ctrl.error")
      span(ng-switch="$ctrl.error")
        span.text(ng-switch-when="invalid-password") {{ 'hi.main.account.sign-in.errors.invalid-password' | translate }}
        span.text(ng-switch-when="not-found") {{ 'hi.main.account.sign-in.errors.not-found' | translate }}
        span.text(ng-switch-default) {{ $ctrl.error }}
    .reg__in
      .reg__fielset
        .field
          .field__in
            input.input(
              id="hiAccountSignInComponentEmail",
              type='email',
              name='email',
              autofocus,
              translate-attr="{ 'placeholder': 'hi.main.account.sign-in.email' }",
              placeholder='l',
              ng-model="$ctrl.model.email",
              ng-disabled="$ctrl.disabled",
              required
            )
            span.ng-input-error(ng-show="form.$submitted || form.email.$error.email") {{ 'hi.main.account.sign-in.errors.enter-email' | translate }}
            .field_errors(ng-if='form.$submitted', ng-messages="form.email.$error", role="alert")
              .field_error(ng-message="required") {{ 'hi.common.validation.required' | translate }}
              .field_error(ng-message="email") {{ 'hi.common.validation.email' | translate }}
        .field
          .field__in
            input.input(
              id="hiAccountSignInComponentPassword",
              type='password',
              name='password',
            translate-attr="{ 'placeholder': 'hi.main.account.sign-in.password' }",
              ng-model="$ctrl.model.password",
              ng-disabled="$ctrl.disabled",
              required
            )
            .field_errors(ng-if='form.$submitted', ng-messages="form.password.$error", role="alert")
              .field_error(ng-message="required") {{ 'hi.common.validation.required' | translate }}
        button.btn-complex(type="submit", ng-disabled="$ctrl.disabled") Войти
      .reg__line
        a.reg__link(href='/account/forgot-password') {{ 'hi.main.account.sign-in.forgot-password' | translate }}
        a.reg__link(href='/account/register') {{ 'hi.main.account.sign-in.register' | translate }}