@import "./../../../../../../styles/mixins/disable-user-select";

.component-invite-card-editor-v1-photo-uploader {
  @include disable-user-select;

  .hi-flexbox-container {
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    background-color: #eeeeee;
    height: 70px;
    min-width: 735px;

    &>.hi-flexbox-container-image {
      flex-shrink: 0;
      padding: 0 8px;

      .hi-photo-icon {
        font-family: "text_redactor_menu_icon" !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 40px;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        display: inline-block;
        text-align: center;
        background-color: #FFF;
        border: 1px solid #F9CF01;
        color: #F9CF01;
        line-height: 52px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:after {
          content: "\e80b";
        }
      }
    }

    &>.hi-flexbox-container-info {
      flex-basis: 100%;
      padding: 0 15px;

      .hi-info-container {
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;

        .hi-info-container-title {
          font-size: 13px;
          text-align: center;
        }
        .hi-info-container-criteria {
          text-align: center;
          line-height: 1;
          font-size: 8px;
          color: #f50;
          margin-top: 5px;
        }
      }
    }

    &>.hi-flexbox-container-photos {
      min-width: 550px;
      padding-top: 6px;

      ul.hi-photos {
        display: flex;
        justify-content: center;
        list-style-type: none;
      }

      .hi-photo-controls {
        display: inline-block;
        cursor: pointer;
        text-align: center;
        width: 25px;

        button.window-controls-button {
          color: #777;
          display: inline-block;
          width: 25px;
          font-size: 18px;
          line-height: 56px;
          vertical-align: bottom;

          &:hover {
            color: #999;
          }
        }
      }

      .hi-photo-active {
        outline-color: #edce16!important;
      }

      .hi-photo {
        display: inline-block;
        margin: 0 10px;
        position: relative;
        background-color: rgb(209, 209, 209);
        background-image: url('./resources/sample.png');
        height: 56px;
        overflow: hidden;
        cursor: pointer;
        outline: 3px solid transparent;
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 80px;
        min-height: 56px;

        &:hover {
          outline-color: #edce16;

          .hi-backdrop, .hi-text {
            display: flex;
          }

          .hi-close {
            display: block;
          }
        }

        .hi-close {
          display: none;
          position: absolute;
          top: 5px; right: 5px;
          cursor: pointer;
          color: #ff0000;
          background-color: #ffffff;
          border-radius: 100%;
          width: 16px;
          height: 16px;
          line-height: 16px;
          text-align: center;
          font-size: 8px;

          &:hover {
            color: #ffffff;
            background-color: #ff0000;
          }
        }

        .hi-backdrop {
          display: none;
          justify-content: center;
          align-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.47);
          position: absolute;
          top: 0; bottom: 0;
          left: 0; right: 0;
        }

        .hi-text {
          display: none;
          justify-content: center;
          align-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.47);
          position: absolute;
          top: 0; bottom: 0;
          left: 0; right: 0;
          font-size: 12px;
          text-transform: uppercase;
          color: #edce16;
        }
      }
    }

    &>.hi-flexbox-container-upload-button {
      flex-shrink: 0;
      padding: 0 20px;
      padding-left: 0;
      margin-left: 5px;

      input[type="file"] {
        display: none;
      }

      .hi-button {
        font-size: 11px;
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
      }
    }
  }

  .hi-is-drag-over {
    .hi-photo-icon {
      color: #ffffff!important;
      background-color: #F9CF01!important;;
      border-color: #F9CF01!important;;
    }
  }
}