.component.component-invite-card-editor-v1-photo-uploader
  .hi-flexbox-container(
      hi-drop-files="$ctrl.onDropFiles($files)",
      hi-drag-out="$ctrl.onDragOut()",
      hi-drag-over="$ctrl.onDragOver()",
      ng-class="{ 'hi-is-drag-over': $ctrl.dragOver }",
  )
    hi-ui-loading-top-indicator(ng-if="$ctrl.status.isLoading()", lock="1")
    .hi-flexbox-container-image
      .hi-photo-icon
    .hi-flexbox-container-info(ng-if="! $ctrl.hasManyPhotos()")
      .hi-info-container
        .hi-info-container-title {{ 'hi.main.editor.invite-card.upload-photo.title' | translate }}
        .hi-info-container-criteria {{ 'hi.main.editor.invite-card.upload-photo.criteria' | translate }}
    .hi-flexbox-container-photos(ng-if="$ctrl.hasManyPhotos()")
      ul.hi-photos
        li.hi-photo-controls
          button.window-controls-button(ng-if="$ctrl.photos.hasPrev()", ng-click="$ctrl.photos.prev()")
            span.icon.icon-page-prev
        li.hi-photo(
          ng-style="$ctrl.getPhotoPreviewCSS(photo)",
          ng-repeat="photo in $ctrl.photos.list()",
          ng-class="{ 'hi-photo-active': $ctrl.isPhotoActive(photo) }",
          ng-click="$ctrl.selectPhoto(photo)",
        )
          .hi-backdrop
          .hi-text
            | {{ 'hi.main.editor.invite-card.upload-photo.photos.select' | translate }}
          .hi-close(ng-click="$ctrl.deletePhoto(photo)")
            span.icon.icon-check-no
        li.hi-photo-controls
          button.window-controls-button(ng-if="$ctrl.photos.hasNext()", ng-click="$ctrl.photos.next()")
            span.icon.icon-page-next
    .hi-flexbox-container-upload-button
      label
        input(
          type="file",
          multiple="1",
          accept="image/jpeg,image/png,image/gif",
          ng-file-change='$ctrl.onFileChange($files)'
        )
        .hi-button.btn-yellow
          | {{ 'hi.main.editor.invite-card.upload-photo.submit' | translate }}