@import "./../../../../../../../../main/styles/mixins/media";

.component-event-landing-editor-v1 {
  width: 100%;

  @include phone {
    >.editor-container {
      display: none;
    }

    >.unavailable-container {
      display: block;
    }
  }

  @include tablet-or-desktop {
    min-width: 860px;

    >.editor-container {
      display: block;
    }

    >.unavailable-container {
      display: none;
    }
  }

  .editor-container {
    position: relative;

    .switchers-container {
      border-bottom: 1px solid #c3c3c3;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .blocks-containers {
      max-width: 860px;
      width: 100%;
      margin: 0 auto;

      .block-container {
        position: relative;
        margin: 4px 0;
        box-sizing: border-box;
        border: 3px solid #edce16;
        min-height: 65px;
      }
    }
  }

  .angular-color-picker {
    border: 1px solid #fcce00;
    padding: 0;

    ._hues>._cursor {
      left: 0;
      width: 29px;
      background-color: #ffffff;
      border: 1px solid #000000;
      height: 5px;
    }

    ._blacks {
      overflow: hidden;
    }

    ._blacks>._cursor {
      width: 15px!important;
      height: 15px!important;
      border-radius: 100%!important;
      border: 1px solid #000!important;

      &:after {
        content: '';
        position: absolute;
        display: block;
        border-radius: 100%!important;
        border: 1px solid #fff;
        width: 15px;
        height: 15px;
      }
    }
  }
}