.component-envelope-editor-v1-toolbar-pattern {
  .sub-toolbar {
    .sub-toolbar-section {
      .sub-toolbar-item {

      }
    }
  }

  button.sub-toolbar-button {
    .sub-toolbar-button-icon {}
    .sub-toolbar-button-title {}
  }
}