.center.center_fixed
    // redact
    .redact
        .redact__compliment
            | {{ $ctrl.username }}, поздравляем! Вы на заключительном шаге. Теперь время создать адресную книгу, по которой Вы отправите пригласительное своим гостям. Для формирования адресной книги выберите один из предложенных способов. В дальнейшем Вы всегда сможете её отредактировать в разделе «адресная книга».
        .redact__compliment-mobile Теперь время создать адресную книгу. Выберете один из предложенных способов.
        .redact__wrap
            .redact__list
                .redact__item
                    .redact__title Добавить контакты по одному
                    .redact__add
                        // gender
                        .gender
                            label.gender__item
                                span.gender__label Один гость
                                input.gender__input(type='radio', name='guest')
                                span.gender__icon(ng-click='$ctrl.setManualContactAdding(false)')
                                    i.icon.icon-man
                            .gender__text или
                            label.gender__item
                                span.gender__label Пара гостей / семья
                                input.gender__input(type='radio', name='guest')
                                span.gender__icon(ng-click='$ctrl.setManualContactAdding(true)')
                                    i.icon.icon-couple
                .redact__item
                    .redact__title Загрузить контакты из файла
                    .redact__save
                        .redact__save-text
                            | Убедитесь, что Ваш файл соответсвует рекомендуемому формату
                            span CSV
                            | .
                        a.redact__save-link() Показать пример
                        .redact__save-text Ваш файл содержит ряд с названиями столбцов?
                        // switch
                        label.switch
                            input.switch__input(type='checkbox')
                            span.switch__in
                                span.switch__el
                                    span.switch__labels
                                        span.switch__text вкл
                                        span.switch__icon
                                            i.icon.icon-check
                                            i.icon.icon-check-no
                                        span.switch__text нет
                        .redact__save-load
                            .redact__save-form(accept=".csv",
                            hi-drop-files="$ctrl.onDropFiles($files[0])",
                            hi-drag-out="$ctrl.onDragOut()",
                            hi-drag-over="$ctrl.onDragOver()") Перетащите нужный файл в это
                        // field
                        .field.field_load
                            input.input.input_load#fileInput(ng-file-change='$ctrl.model.onImportFromFile($files[0])', type='file', accept=".csv")
                            span.field__text загрузить
                .redact__item
                    .redact__title импортировать из мероприятия
                    .redact__imports-event
                        // select
                        .select.js-select
                            .select__head.js-select-head(ng-click='$ctrl.eventsListVisible = !$ctrl.eventsListVisible')
                                .select__value.js-select-value(ng-if='!$ctrl.hasPickedEvent()') Выбрать мероприятие
                                .select__value.js-select-value(ng-if='$ctrl.hasPickedEvent()') {{$ctrl.getEventTitle()}}
                                .select__icon
                                    i.icon.icon-arrow-down
                            .select__list.js-select-list(ng-if='$ctrl.eventsListVisible')
                                a.select__item(ng-repeat='event in $ctrl.model.ContactBookManager.events', ng-click='$ctrl.pickEvent(event.event_id)') {{event.event_title}}
                            input.js-select-input(type='hidden')
                        button.btn-white.btn-white_font.btn-white_small(ng-click='$ctrl.addContactsFromEvent()') добавить