.component-invite-card-editor-v1-file-drop-router {
  .drop-zone {
    display: flex;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: #F9CF01;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 9999;

    .drop-zone-border {
      position: absolute;
      top: 10px; bottom: 10px;
      left: 10px; right: 10px;
      border: 1px dashed #ffffff;
      visibility: hidden;
    }

    .drop-zone-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      max-width: 500px;
      position: relative;

      .loader-container {
        top: -14px;
        left: -14px;
        position: absolute;
      }

      .icon {
        font-size: 48px;
        color: #F9CF01;
        background-color: #ffffff;
        padding: 15px;
        border-radius: 100%;
        width: 76px;
        height: 76px;
      }

      .hi-criteria, .hi-status {
        color: #000000;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        display: block;
        font-weight: bold;
        font-size: 12px;
        overflow: hidden;
        text-align: center;
        margin-top: 20px;
      }

      .hi-icon-container {
        position: relative;
      }

      .hi-cancel {
        margin-top: 20px;
      }

      button.hi-cancel-button {
        cursor: pointer;
        color: darken(#F9CF01, 30%);
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        background-color: lighten(#F9CF01, 10%);
        padding: 6px 15px ;
        border-radius: 3px;

        &:hover {
          color: #000000;
          background-color: lighten(#F9CF01, 15%);
        }
      }
    }
  }

  .drop-zone-hovered {
    .drop-zone-border {
      visibility: visible;
    }
  }
}