.component.component-invite-card-editor-v1-file-drop-router
  .drop-zone(ng-if="$ctrl.isDragging() || $ctrl.status.isLoading()", ng-class="{ 'drop-zone-hovered': $ctrl.isHovered() }")
    .drop-zone-border
    .drop-zone-container.drop-zone-container-photo
      .hi-icon-container
        .loader-container(ng-if="$ctrl.status.isLoading()")
          .loader
            svg.circular(viewbox='25 25 50 50')
              circle.path(cx='50', cy='50', r='20', fill='none', stroke-width='2', stroke-miterlimit='10')
        .icon.icon-photo(ng-if="$ctrl.is('common') || $ctrl.is('photo')")
        .icon.icon-music(ng-if="$ctrl.is('audio')")
      .hi-criteria(ng-if="! $ctrl.status.isL0oading()")
        span(ng-if="$ctrl.is('common')") {{ 'hi.main.editor.invite-card.drop-zone.variants.common' | translate }}
        span(ng-if="$ctrl.is('audio')") {{ 'hi.main.editor.invite-card.drop-zone.variants.audio' | translate }}
        span(ng-if="$ctrl.is('photo')") {{ 'hi.main.editor.invite-card.drop-zone.variants.photo' | translate }}
      .hi-status(ng-if="$ctrl.status.isLoading()")
        span.hi-uploaded {{ $ctrl.uploaded }}
        span /
        span.hi-total {{ $ctrl.total }}
      .hi-cancel(ng-if="$ctrl.status.isLoading()")
        button.hi-cancel-button(ng-click="$ctrl.cancel()")
          | {{ 'hi.main.editor.invite-card.drop-zone.cancel' | translate }}