.component.component-event-landing-editor-v1-unavailable
  p {{ 'hi.main.event.landing.editor.unavailable.l1' | translate }}
  p {{ 'hi.main.event.landing.editor.unavailable.l2' | translate }}
  p {{ 'hi.main.event.landing.editor.unavailable.l3' | translate }}