.tabs-form__item.js-form-tabs-item
  .reply
    // checkbox
    label.checkbox
      input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.additionalGuest')
      span.checkbox__in
        span.checkbox__select
          i.icon.icon-check
        span.checkbox__name Мои гости могут привести с собой еще гостей
    .reply__line
      .reply__settings Установить максимальное количество гостей
      .field.field_small
        .field__in
          input.input.input_small(type='text', name='number', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.additionalGuestMax')
    .reply__settings.reply__settings_p0.reply__settings_mb15 Какую информацию вы хотите собирать со своих гостей?
    .reply__row.reply__row_mb30
      .reply__col.reply__col_w25
        // checkbox
        label.checkbox
          input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.first_name', ng-change='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.firstName?0:$ctrl.model.CollectGuestAnswersEditor.blocks.guests.firstNameRequired = false')
          span.checkbox__in
            span.checkbox__select
              i.icon.icon-check
            span.checkbox__name Имя
        // checkbox
        label.checkbox
          input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.firstNameRequired', ng-disabled='!$ctrl.model.CollectGuestAnswersEditor.blocks.guests.firstName')
          span.checkbox__in
            span.checkbox__select
              i.icon.icon-check
            span.checkbox__name.checkbox__name_w100 Обязательно к заполнению
      .reply__col.reply__col_w25
        // checkbox
        label.checkbox
          input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.lastName', ng-change='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.lastName?0:$ctrl.model.CollectGuestAnswersEditor.blocks.guests.lastNameRequired = false')
          span.checkbox__in
            span.checkbox__select
              i.icon.icon-check
            span.checkbox__name Фамилия
        // checkbox
        label.checkbox
          input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.lastNameRequired', ng-disabled='!$ctrl.model.CollectGuestAnswersEditor.blocks.guests.lastName')
          span.checkbox__in
            span.checkbox__select
              i.icon.icon-check
            span.checkbox__name.checkbox__name_w100 Обязательно к заполнению
      .reply__col.reply__col_w25
        // checkbox
        label.checkbox
          input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.city', ng-change='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.city?0:$ctrl.model.CollectGuestAnswersEditor.blocks.guests.cityRequired = false')
          span.checkbox__in
            span.checkbox__select
              i.icon.icon-check
            span.checkbox__name Город
        // checkbox
        label.checkbox
          input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.cityRequired', ng-disabled='!$ctrl.model.CollectGuestAnswersEditor.blocks.guests.city')
          span.checkbox__in
            span.checkbox__select
              i.icon.icon-check
            span.checkbox__name.checkbox__name_w100 Обязательно к заполнению
      .reply__col.reply__col_w25
        // checkbox
        label.checkbox
          input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.email', ng-change='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.email?0:$ctrl.model.CollectGuestAnswersEditor.blocks.guests.emailRequired = false')
          span.checkbox__in
            span.checkbox__select
              i.icon.icon-check
            span.checkbox__name E-mail
        // checkbox
        label.checkbox
          input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.guests.emailRequired', ng-disabled='!$ctrl.model.CollectGuestAnswersEditor.blocks.guests.email')
          span.checkbox__in
            span.checkbox__select
              i.icon.icon-check
            span.checkbox__name.checkbox__name_w100 Обязательно к заполнению