@import "./../../../../../../styles/mixins/disable-user-select";

.component-invite-card-editor-v1-unavailable {
  @include disable-user-select;

  margin: 0 10px;
  padding: 50px 15px;
  border: 1px solid #edce16;

  p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
  }
}