.component.component-invite-card-editor-v1-unavailable
  p {{ 'hi.editor.invite-card.unavailable.l1' | translate }}
  p {{ 'hi.editor.invite-card.unavailable.l2' | translate }}
  p {{ 'hi.editor.invite-card.unavailable.l3' | translate }}