.component.component-event-landing-footer
  .event
    .event__footer.event__footer_bg
      .event__footer-in(ng-style="$ctrl.getBgCSS()")
        .event__center.center.center_fixed
          .event__footer-content
            .event__footer-logo
            .event__footer-text {{ 'hi.event-landing.footer.about' | translate }}
      .event__footer-bg
      .event__footer-bg2