<div class="ask">
  <div class="ask__in center">
    <div class="ask__item">
      <div class="ask__name">Вы организатор праздников?</div>
      <div class="ask__info">Используйте онлайн сервис и производите WOW-эффект на своих заказчиков.</div>
      <a class="btn btn_white" href="/organizer">Узнать больше</a>
    </div>
    <div class="ask__item">
      <div class="ask__name">Вы дизайнер-художник?</div>
      <div class="ask__info">Выставляйте свои работы на сайте и получайте комиссию с каждой продажи.</div>
      <a class="btn btn_white" href="/designer">Узнать больше</a>
    </div>
  </div>
</div>