<div class="review">
  <div class="review__list js-sl-review">
    <div class="review__item">
      <div class="review__center center">
        <div class="review__content">
          <div class="review__ava">
            <img src="/dist/img/pic-man.jpg" alt="">
          </div>
          <div class="review__comment">Сервис просто WOW! С удовольствием воспользуюсь еще раз. Рекомендую воспользоваться и вам!</div>
          <div class="review__author">Елена Дулепова</div>
        </div>
      </div>
    </div>
    <div class="review__item">
      <div class="review__center center">
        <div class="review__content">
          <div class="review__ava">
            <img src="/dist/img/pic-man.jpg" alt="">
          </div>
          <div class="review__comment"> Сервис просто WOW! С удовольствием воспользуюсь еще раз. Рекомендую воспользоваться и вам! Сервис просто WOW! С удовольствием воспользуюсь еще раз. Рекомендую воспользоваться и вам! </div>
          <div class="review__author">Елена Дулепова</div>
        </div>
      </div>
    </div>
    <div class="review__item">
      <div class="review__center center">
        <div class="review__content">
          <div class="review__ava">
            <img src="/dist/img/pic-man.jpg" alt="">
          </div>
          <div class="review__comment">Сервис просто WOW! С удовольствием воспользуюсь еще раз. Рекомендую воспользоваться и вам!</div>
          <div class="review__author">Елена Дулепова</div>
        </div>
      </div>
    </div>
  </div>
</div>