<div class="step">
    <div class="step__in center">
        <div class="title">Удивите своих гостей в <span>4</span> шага!</div>
        <div class="step__text">
            <p>Приглашение друзей, коллег или партнеров всегда приятный процесс!</p>
            <p>Мы предлагаем его сделать простым и увлекательным!</p>
        </div>
        <div class="step__list">
            <div class="step__row">
                <div class="step__item step__item_1">
                    <div class="step__head">
                        <div class="step__number">1</div>
                        <div class="step__name">Выберите дизайн<br>шаблона</div>
                    </div>
                    <div class="step__content">Легко настроить шаблон приглашения на конференцию или бизнес-завтрак и даже на корпоративные мероприятия: добавить в него логотип компании и выбрать цвет с учетом тематики, а вернуть образец приглашения можно в любое время.</div>
                    <a class="btn-border" href="/solutions">Создать приглашение</a>
                </div>
                <div class="step__item step__item_2">
                    <div class="step__head">
                        <div class="step__number">2</div>
                        <div class="step__name">Запакуйте приглашение<br>в конверт</div>
                    </div>
                    <div class="step__content">Для каждого пригласительного предусмотрен дизайнерский конверт. С помощью сервиса выберете текстуру конверта и его цвет, определите шрифт и цвет надписи на нем, а также наклейте марку одним кликом. Письмо приглашение готово к отправке!</div>
                    <a class="btn-border" href="/solutions">Создать приглашение</a>
                </div>
            </div>
            <div class="step__row">
                <div class="step__item step__item_3">
                    <div class="step__head">
                        <div class="step__number">3</div>
                        <div class="step__name">Создайте страницу<br>мероприятия</div>
                    </div>
                    <div class="step__content">Под каждое мероприятие создавайте индивидуальную страницу, заполнив необходимые поля: место проведения, программу мероприятия, информацию о спикерах и их фото, указывайте дресс-код, загружайте фотогалерею и делитесь в соц. сетях.</div>
                    <a class="btn-border" href="/solutions">Создать приглашение</a>
                </div>
                <div class="step__item step__item_4">
                    <div class="step__head">
                        <div class="step__number">4</div>
                        <div class="step__name">Разошлите приглашение<br>гостям</div>
                    </div>
                    <div class="step__content">Импортируйте контакты и выберите людей, которых приглашаете. Создайте для них онлайн опросы. Направьте себе вариант приглашения на мероприятие, запускайте рассылку и наблюдайте как гости отмечают «приглашение принято».</div>
                    <a class="btn-border" href="/solutions">Создать приглашение</a>
                </div>
            </div>
        </div>
        <div class="step__thank">Будьте инновационными и направляйте через онлайн сервис официальное приглашение на корпоративное или бизнес мероприятие!</div>
    </div>
</div>