.component-invite-card-editor-v1-photo-boundary {
  width: 100%;
  height: 100%;
  position: relative;

  .box {
    position: absolute;
    border: 3px solid #FCCE00;
    cursor: move;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: lighten(#FCCE00, 10%);
    }
  }

  .point {
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    border: 3px solid #FCCE00;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }
}