.component.component-invite-card-editor-v1-photo-boundary(
    ng-mousemove="$ctrl.onMouseMove($event)",
    ng-mouseleave="$ctrl.onMouseLeave($event)",
    ng-mouseup="$ctrl.onMouseUp()",
  )
  .box(
    ng-style="$ctrl.getBoxCSS()",
    ng-mouseup="$ctrl.endMove($event)",
    ng-mousedown="$ctrl.startMove($event)",
  )
  .point.point-end(
    ng-style="$ctrl.getPointEndCSS()",
    ng-mouseup="$ctrl.endResizeEnd($event)",
    ng-mousedown="$ctrl.startResizeEnd($event)"
  )