.component.component-envelope-editor-v1-toolbar
  .toolbar-flexbox-main
    .toolbar-flexbox-main-container
      .toolbar-flexbox-main-container-left
        .toolbar-flexbox-main-button.toolbar-flexbox-main-button-hl(
          ng-if="$ctrl.isSwitcherEnabled()",
          ng-click="$ctrl.toggleSwitcher()",
        )
          .toolbar-switcher
            hi-ui-switcher(title="hi.main.envelope.editor.toolbar.buttons.enable.title", value="$ctrl.services.switcher.current.enabled")
      .toolbar-flexbox-main-container-center
        button.toolbar-flexbox-main-button.toolbar-flexbox-main-button-hl(
          ng-if="$ctrl.isVisible() && $ctrl.shouldBeVisible('texture')",
          ng-class="{ 'is-active': $ctrl.isActive('texture') }",
          ng-click="$ctrl.switchToolbar('texture')",
        )
          span.toolbar-icon.toolbar-icon-texture
          span.toolbar-title {{ 'hi.main.envelope.editor.toolbar.buttons.texture' | translate }}
        button.toolbar-flexbox-main-button.toolbar-flexbox-main-button-hl(
          ng-if="$ctrl.isVisible() && $ctrl.shouldBeVisible('texture-variant')",
          ng-class="{ 'is-active': $ctrl.isActive('texture-variant') }",
          ng-click="$ctrl.switchToolbar('texture-variant')",
        )
          span.toolbar-icon.toolbar-icon-texture-variant
          span.toolbar-title {{ 'hi.main.envelope.editor.toolbar.buttons.texture-variant' | translate }}
        button.toolbar-flexbox-main-button.toolbar-flexbox-main-button-hl(
          ng-if="$ctrl.isVisible() && $ctrl.shouldBeVisible('font')",
          ng-class="{ 'is-active': $ctrl.isActive('font') }",
          ng-click="$ctrl.switchToolbar('font')",
        )
          span.toolbar-icon.toolbar-icon-font
          span.toolbar-title {{ 'hi.main.envelope.editor.toolbar.buttons.font' | translate }}
        button.toolbar-flexbox-main-button.toolbar-flexbox-main-button-hl(
          ng-if="$ctrl.isVisible() && $ctrl.shouldBeVisible('mark')",
          ng-class="{ 'is-active': $ctrl.isActive('mark') }",
          ng-click="$ctrl.switchToolbar('mark')",
        )
          span.toolbar-icon.toolbar-icon-mark
          span.toolbar-title {{ 'hi.main.envelope.editor.toolbar.buttons.mark' | translate }}
        button.toolbar-flexbox-main-button.toolbar-flexbox-main-button-hl(
          ng-if="$ctrl.isVisible() && $ctrl.shouldBeVisible('backdrop')",
          ng-class="{ 'is-active': $ctrl.isActive('backdrop') }",
          ng-click="$ctrl.switchToolbar('backdrop')",
        )
          span.toolbar-icon.toolbar-icon-backdrop
          span.toolbar-title {{ 'hi.main.envelope.editor.toolbar.buttons.backdrop' | translate }}
        button.toolbar-flexbox-main-button.toolbar-flexbox-main-button-hl(
          ng-if="$ctrl.isVisible() && $ctrl.shouldBeVisible('backdrop-variant')",
          ng-class="{ 'is-active': $ctrl.isActive('backdrop-variant') }",
          ng-click="$ctrl.switchToolbar('backdrop-variant')",
        )
          span.toolbar-icon.toolbar-icon-backdrop-variant
          span.toolbar-title {{ 'hi.main.envelope.editor.toolbar.buttons.backdrop-variant' | translate }}
        button.toolbar-flexbox-main-button.toolbar-flexbox-main-button-hl(
          ng-if="$ctrl.isVisible() && $ctrl.shouldBeVisible('pattern-color')",
          ng-class="{ 'is-active': $ctrl.isActive('pattern-color') }",
          ng-click="$ctrl.switchToolbar('pattern-color')",
        )
          span.toolbar-icon.toolbar-icon-pattern-color
          span.toolbar-title {{ 'hi.main.envelope.editor.toolbar.buttons.pattern-color' | translate }}
        button.toolbar-flexbox-main-button.toolbar-flexbox-main-button-hl(
          ng-if="$ctrl.isVisible() && $ctrl.shouldBeVisible('pattern')",
          ng-class="{ 'is-active': $ctrl.isActive('pattern') }",
          ng-click="$ctrl.switchToolbar('pattern')",
        )
          span.toolbar-icon.toolbar-icon-pattern
          span.toolbar-title {{ 'hi.main.envelope.editor.toolbar.buttons.pattern' | translate }}

      .toolbar-flexbox-main-container-right
        button.toolbar-flexbox-main-button.oolbar-flexbox-main-button-hl(
          ng-if="$ctrl.isVisible()",
          ng-click="$ctrl.switchSide()",
        )
          span.toolbar-icon.toolbar-icon-switch
          span.toolbar-title {{ 'hi.main.envelope.editor.toolbar.buttons.switch' | translate }}
        button.toolbar-flexbox-main-button.toolbar-flexbox-main-button-hl(
          ng-if="$ctrl.isVisible()",
          ng-click="$ctrl.preview()",
        )
          span.toolbar-icon.toolbar-icon-switch
          span.toolbar-title {{ 'hi.main.envelope.editor.toolbar.buttons.preview' | translate }}
        button.toolbar-flexbox-main-button.toolbar-flexbox-main-button-hl(
          ng-click="$ctrl.submit()",
        )
          span.toolbar-icon.toolbar-icon-submit
          span.toolbar-title {{ 'hi.main.envelope.editor.toolbar.buttons.submit' | translate }}
  .toolbar-flexbox-main-sub(ng-if="$ctrl.isVisible()")
    hi-envelope-editor-v1-toolbar-backdrop(ng-if="$ctrl.isCurrent('backdrop')")
    hi-envelope-editor-v1-toolbar-backdrop-variant(ng-if="$ctrl.isCurrent('backdrop-variant')")
    hi-envelope-editor-v1-toolbar-font(ng-if="$ctrl.isCurrent('font')")
    hi-envelope-editor-v1-toolbar-mark(ng-if="$ctrl.isCurrent('mark')")
    hi-envelope-editor-v1-toolbar-pattern(ng-if="$ctrl.isCurrent('pattern')")
    hi-envelope-editor-v1-toolbar-pattern-color(ng-if="$ctrl.isCurrent('pattern-color')")
    hi-envelope-editor-v1-toolbar-texture(ng-if="$ctrl.isCurrent('texture')")
    hi-envelope-editor-v1-toolbar-texture-variant(ng-if="$ctrl.isCurrent('texture-variant')")