.component-envelope-animation-preview {
  .hi-modal {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(255, 255, 255, 0.92);
    z-index: 9999;
  }

  .hi-modal-close {
    button.hi-modal-close-button {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
      font-size: 32px;
      color: rgba(255, 255, 255, 0.8);
      user-select: none;
      cursor: pointer;
      outline: none;
      vertical-align: middle;
      background: none;
      position: fixed;
      z-index: 10000;
      right: 20px;
      top: 20px;
      width: 40px;
      height: 40px;

      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 100%;

      &:hover {
        color: rgba(255, 255, 255, 1.0);
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}