.component.component-envelope-animation-preview(ng-if="$ctrl.isVisible()")
  .hi-modal
    .hi-modal-content
      hi-ui-loading-top-indicator(ng-if="$ctrl.isLoading()")
      hi-envelope-animation(ng-if="$ctrl.isReady()", request="$ctrl.getRequest()")
    .hi-modal-close
      button.hi-modal-close-button(ng-click="$ctrl.close()") &times;