.component.component-envelope-editor-v1-toolbar-font
  .hi-font-toolbar
    .sub-font-toolbar-item(ng-class="{ 'is-active': $ctrl.toolbar.isActive('font-family') }")
      button.sub-font-toolbar-button(
        ng-click="$ctrl.toolbar.setActive('font-family')",
      )
        .hi-font-toolbar-icon.hi-font-toolbar-icon-font-family
    .sub-font-toolbar-item(ng-class="{ 'is-active': $ctrl.toolbar.isActive('text-size') }")
      button.sub-font-toolbar-button(
        ng-click="$ctrl.toolbar.setActive('text-size')",
      )
        .hi-font-toolbar-icon.hi-font-toolbar-icon-text-size
    .sub-font-toolbar-item(ng-class="{ 'is-active': $ctrl.toolbar.isActive('text-color') }")
      button.sub-font-toolbar-button(
        ng-click="$ctrl.toolbar.setActive('text-color')",
      )
        .hi-font-toolbar-icon.hi-font-toolbar-icon-text-color
      .sub-font-toolbar-item(ng-class="{ 'is-active': $ctrl.toolbar.isActive('text-color') }")

    .sub-font-toolbar-item(ng-class="{ 'is-disabled': $ctrl.toolbar.isBoldActive(), 'is-active': $ctrl.toolbar.isBoldEnabled() }" )
      button.sub-font-toolbar-button(ng-click="$ctrl.toolbar.toggleBold()", ng-disabled="!$ctrl.toolbar.isBoldActive()")
        .hi-font-toolbar-icon.hi-font-toolbar-icon-bold
    .sub-font-toolbar-item(ng-class="{ 'is-disabled': $ctrl.toolbar.isItalicActive(), 'is-active': $ctrl.toolbar.isItalicEnabled() }" )
      button.sub-font-toolbar-button(ng-click="$ctrl.toolbar.toggleItalic()", ng-disabled="!$ctrl.toolbar.isItalicActive()")
        .hi-font-toolbar-icon.hi-font-toolbar-icon-italic
    .sub-font-toolbar-item(ng-class="{ 'is-disabled': $ctrl.toolbar.isUnderlineActive(), 'is-active': $ctrl.toolbar.isUnderlineEnabled() }" )
      button.sub-font-toolbar-button(ng-click="$ctrl.toolbar.toggleUnderline()", ng-disabled="!$ctrl.toolbar.isUnderlineActive()")
        .hi-font-toolbar-icon.hi-font-toolbar-icon-underline
  .hi-font-sub-toolbar
    hi-envelope-editor-v1-toolbar-font-family(ng-if="$ctrl.toolbar.isActive('font-family')")
    hi-envelope-editor-v1-toolbar-text-size(ng-if="$ctrl.toolbar.isActive('text-size')")
    hi-envelope-editor-v1-toolbar-text-color(ng-if="$ctrl.toolbar.isActive('text-color')")