.component.component-editor-event-title
  .top__field
   .field.field_complex.field_event.js-edit
     .field__in
      label
        input.input(
         type='text',
         placeholder='{{ "hi.main.event.editor.title-editor.placeholder" | translate }}',
         ng-model='$ctrl.currentEvent.event.entity.title',
         ng-change="$ctrl.updateTitle()",
         ng-click='$ctrl.openTitleEditor()'
        )
        button.field__btn.js-edit-btn
         i.icon.icon-edit
         i.icon.icon-check-yes