.component.component-invite-card-editor-v1-audio-uploader
  .hi-flexbox-container(
    hi-drop-files="$ctrl.onDropFiles($files)",
    hi-drag-out="$ctrl.onDragOut()",
    hi-drag-over="$ctrl.onDragOver()",
    ng-class="{ 'hi-is-drag-over': $ctrl.dragOver }",
  )
    hi-ui-loading-top-indicator(ng-if="$ctrl.status.isLoading()", lock="1")
    .hi-flexbox-container-image
      .hi-audio-icon
    .hi-flexbox-container-info(ng-if="! $ctrl.hasAnyAudio()")
      .hi-info-container
        .hi-info-container-title {{ 'hi.main.editor.invite-card.upload-audio.title' | translate }}
        .hi-info-container-criteria {{ 'hi.main.editor.invite-card.upload-audio.criteria' | translate }}
    .hi-flexbox-container-audios(ng-if="$ctrl.hasAnyAudio()")
      ul.hi-audios
        li.hi-audio-controls
          button.window-controls-button(ng-if="$ctrl.audios.hasPrev()", ng-click="$ctrl.audios.prev()")
            span.icon.icon-page-prev
        li.hi-audio(
          ng-repeat="audio in $ctrl.audios.list()",
          ng-class="{ 'hi-audio-active': $ctrl.isAudioActive(audio) }",
          ng-click="$ctrl.selectAudio(audio)",
        )
          .hi-backdrop
            .hi-icon.icon.icon-music
            .hi-title
              .hi-title-container {{ $ctrl.getAudioTitle(audio) }}
          .hi-text
            | {{ 'hi.main.editor.invite-card.upload-audio.audios.select' | translate }}
          .hi-close(ng-click="$ctrl.deleteAudio(audio)")
            span.icon.icon-check-no
        li.hi-audio-controls
          button.window-controls-button(ng-if="$ctrl.audios.hasNext()", ng-click="$ctrl.audios.next()")
            span.icon.icon-page-next
    .hi-flexbox-container-upload-button
      label
        input(type="file", accept=".mp3,audio/mpeg", multiple="1", ng-file-change='$ctrl.onFileChange($files)')
        .hi-button.btn-yellow
          | {{ 'hi.main.editor.invite-card.upload-audio.submit' | translate }}