.component-invite-card-template-browser-preview {
  >.popup {
    opacity: 1;
    animation: component-invite-card-template-browser-preview-appear 0.1s ease-in 1 forwards;
  }

  @keyframes component-invite-card-template-browser-preview-appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .popup {
    display: block;
  }

  img.preview-image {
    width: 100%;
  }
}