.component.component-invite-card-template-browser-preview
  .popup
    .popup__in
      .popup__head.l
        button.popup__close(type="button", ng-click="$ctrl.onClose($ctrl.current)")
          i.icon.icon-check-no
        button.popup__action.btn-yellow(ng-click="$ctrl.service.openTemplate($ctrl.current)")
          | {{ 'hi.main.solution.browser.invite-card-template-browser.preview.change' | translate }}
        ul.popup__color
          li(
            ng-repeat="template in $ctrl.getTemplate()",
            ng-style="$ctrl.getNgStyleFor(template)",
            ng-click="$ctrl.select(template)",
          )
      .popup__pic
        img.preview-image(ng-src='{{ $ctrl.getImageURL() }}', alt='')
