hi-event-mailing-welcome-v1(ng-if='$ctrl.welcome()')
hi-event-mailing-contact-book-v1(ng-if='$ctrl.contactBook()')
hi-event-mailing-contact-book-import-manual-v1(ng-if='$ctrl.importManual()')
hi-event-mailing-contact-book-import-from-file-v1(ng-if='$ctrl.importFromFile()')
hi-event-mailing-contact-book-import-from-event-v1(ng-if='$ctrl.importFromEvent()')