hi-event-mailing-contact-book-manager-v1(ng-if='$ctrl.model.GlobalStages === "contact_book"')
hi-event-mailing-collect-guests-answers-editor-v1(ng-if='$ctrl.model.GlobalStages === "collect_answers"')
hi-event-mailing-share-social-v1(ng-if='$ctrl.model.GlobalStages === "share_social"')