.center.center_fixed
	// panel
	.panel.panel_repost
		.panel__head
			.panel__title поделиться событием
		.panel__body
			.panel__social
				.panel__text Я хочу поделиться мероприятием в социальных сетях:
				.panel__social-list
					label.checkbox.checkbox_fb
						input(type='checkbox')
						span.checkbox__in
							span.checkbox__select
								i.icon.icon-check
							span.checkbox__name
								i.icon.icon-social-facebook
					label.checkbox.checkbox_vk
						input(type='checkbox')
						span.checkbox__in
							span.checkbox__select
								i.icon.icon-check
							span.checkbox__name
								i.icon.icon-vk
					label.checkbox.checkbox_tw
						input(type='checkbox')
						span.checkbox__in
							span.checkbox__select
								i.icon.icon-check
							span.checkbox__name
								i.icon.icon-twitter
					label.checkbox.checkbox_pi
						input(type='checkbox')
						span.checkbox__in
							span.checkbox__select
								i.icon.icon-check
							span.checkbox__name
								i.icon.icon-pinterest2
					label.checkbox.checkbox_in
						input(type='checkbox')
						span.checkbox__in
							span.checkbox__select
								i.icon.icon-check
							span.checkbox__name
								i.icon.icon-linkedin2
					label.checkbox.checkbox_ok
						input(type='checkbox')
						span.checkbox__in
							span.checkbox__select
								i.icon.icon-check
							span.checkbox__name
								i.icon.icon-ok
				.panel__social-btns.l
					button.btn-yellow Поделиться
					button.btn-gray(ng-click='$ctrl.goBackToContactBook()') Вернуться к рассылке
