.route.route-event-event-editor
  hi-ui-loading-top-indicator(ng-if="$ctrl.status.isLoading()")
  .editors(ng-if="$ctrl.isReady()")
    .header
      hi-event-header
    .navigation
      hi-event-editor-header-steps
    .current-editor
      ng-outlet