.component.component-ui-switcher {
  color: #000;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  width: 80px;
  text-align: center;
  font-family: "Arial", "Open Sans", sans-serif;
  line-height: 12px;
  padding: 8px 0 4px;
  position: relative;
  vertical-align: top;
  min-height: 70px;
  display: inline-block!important;
  cursor: pointer;

  .switcher {
    &.switcher-active {
      .switcher-button {
        box-shadow: 0 0 1px 1px #edce16 inset!important;
        background: #fff!important;

        &:before {
          content: "\e907"!important;
          left: 100%!important;
          margin-left: -30px!important;
          background: #edce16!important;
          color: #fff!important;
        }
      }
      
      span.switcher-on {
        display: block!important;
      }

      span.switcher-off {
        display: none!important;
      }
    }

    .switcher-button {
      width: 64px;
      border-radius: 30px;
      box-shadow: 0 0 1px 1px #aeaeae inset;
      background: #f5f5f5!important;
      position: relative;
      height: 32px;
      transition: .3s all;
      font-family: 'text_redactor_menu_icon', sans-serif!important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-size: 26px;
      line-height: 28px;
      display: block;
      text-align: center;
      margin: 0 auto 5px;

      &:before {
        font-size: 20px!important;
        content: "\e908";
        background: #fff;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        margin-left: 0;
        display: block;
        line-height: 26px;
        position: absolute;
        left: 6%;
        top: 3px;
        transition: .3s all;
        color: red;
        z-index: 1;
        box-sizing: border-box;
      }

      span.switcher-on, span.switcher-off {
        font-family: "Acrom Medium",Arial,sans-serif;
        position: absolute;
        line-height: 32px!important;;
        font-size: 9px!important;
        text-transform: uppercase;
      }

      span.switcher-on {
        display: none;
        left: 10px;
      }

      span.switcher-off {
        display: block;
        right: 4px;
      }

      -webkit-font-smoothing: antialiased;
    }

    .switcher-title {
      text-transform: uppercase;
      font-size: 10px;
      width: 80px;
      text-align: center;
      font-family: "Arial", "Open Sans", sans-serif;
      line-height: 12px;
    }
  }
}