.component.component-ui-switcher
  button.switcher(ng-class="{ 'switcher-active': $ctrl.isActive() }")
    .switcher-button
      .switcher-icon
        span.switcher-on {{ 'hi.main.ui.switcher.on' | translate }}
        span.switcher-off {{ 'hi.main.ui.switcher.off' | translate }}
    .switcher-title {{ $ctrl.title | translate }}