{% extends "@main/layout/landing.html.twig" %}

{% block content %}
  <div class="land land_organizer">
    <div class="land__banner">
      <div class="land__banner-center center">
        <div class="land__banner-col">Онлайн сервис для Свадебных и Event агентств в подготовке официальных и праздничных мероприятий.</div>
      </div>
    </div>
    <div class="land__chance">
      <div class="land__chance-center center">
        <div class="land__chance-row">
          <div class="land__chance-col">
            <div class="land__chance-pic">
              <img src="/dist/img/chance-1.png" alt="">
            </div>
          </div>
          <div class="land__chance-col">
            <div class="land__chance-text">
              <div class="land__chance-title">С Happy Invite вы сможете:</div>
              <p>Указать информацию об организаторе мероприятия, которую увидят гости.</p>
              <p>Освободить от приятных хлопот своих клиентов, повышая имидж компании.</p>
              <p>Оптимизировать расходы заказчиков на почтовой рассылке и печати пригласительных.</p>
            </div>
          </div>
          <div class="land__chance-col">
            <div class="land__chance-pic">
              <img src="/dist/img/chance-1.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="land__talent">
      <div class="land__talent-center center">
        <div class="land__talent__row">
          <div class="land__talent-col">
            <div class="land__talent-text">
              <div class="land__talent-title">Что нужно от вас?</div>
              <p>Желание удивить своих клиентов в процессе приглашения гостей.</p>
              <p>Стремление продвигать себя как стильного организатора мероприятий.</p>
            </div>
          </div>
          <div class="land__talent-col">
            <div class="land__talent-pic">
              <img src="/dist/img/talent-1.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="land__steps">
      <div class="land__steps-center center">
        <div class="land__steps-title">4 простых шага к сотрудничеству:</div>
        <div class="land__steps-row">
          <div class="land__steps-item">
            <div class="land__steps-number">
              <img src="/dist/img/number-01.png" alt="">
            </div>
            <div class="land__steps-name">Выберите в конструкторе макет пригласительного и упакуйте в конверт.</div>
          </div>
          <div class="land__steps-item land__steps-item-down">
            <div class="land__steps-number">
              <img src="/dist/img/number-03.png" alt="">
            </div>
            <div class="land__steps-name">Настраивайте при необходимости опросы и запускайте рассылку гостям.</div>
          </div>
          <div class="land__steps-item land__steps-item-up">
            <div class="land__steps-number">
              <img src="/dist/img/number-02.png" alt="">
            </div>
            <div class="land__steps-name">Создайте страницу мероприятия, указав агентство в качестве организатора.</div>
          </div>
        </div>
        <div class="land__steps-row">
          <div class="land__steps-item land__steps-item-down">
            <div class="land__steps-number">
              <img src="/dist/img/number-02.png" alt="">
            </div>
            <div class="land__steps-name">Создайте страницу мероприятия, указав агентство в качестве организатора.</div>
          </div>
          <div class="land__steps-item land__steps-item-up">
            <div class="land__steps-number">
              <img src="/dist/img/number-03.png" alt="">
            </div>
            <div class="land__steps-name">Настраивайте при необходимости опросы и запускайте рассылку гостям.</div>
          </div>
          <div class="land__steps-item">
            <div class="land__steps-number">
              <img src="/dist/img/number-04.png" alt="">
            </div>
            <div class="land__steps-name">Получайте готовую онлайн аналитику ответов на приглашения и опросов.</div>
          </div>
        </div>
      </div>
    </div>
    <!-- info -->
    <div class="info">
      <div class="info__center center">
        <div class="info__in">
          <div class="info__text">
            <p>Вы создаете незабываемое мероприятие и с помощью нашего сервиса</p>
            <p>производите WOW-эффект на гостей, а ваши заказчики остаются счастливыми!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}