.component.component-event-landing-side-menu
  .sett
    button.sett__btn.js-settings-btn
      i.icon.icon-menu
    .sett__list
      a.sett__item(ng-if='$ctrl.hasElement("js-block-header")', ng-click='$ctrl.scrollTo("js-block-header")')
        span.sett__icon
          i.icon.icon-flag
        span.sett__name
          span.sett__text {{ 'hi.event-landing.side-menu.about' | translate }}
      a.sett__item.is-active(ng-if='$ctrl.hasElement("js-block-program")', ng-click='$ctrl.scrollTo("js-block-program")')
        span.sett__icon
          i.icon.icon-list
        span.sett__name
          span.sett__text {{ 'hi.event-landing.side-menu.program' | translate }}
      a.sett__item(ng-if='$ctrl.hasElement("js-block-dress-code")', ng-click='$ctrl.scrollTo("js-block-dress-code")')
        span.sett__icon
          i.icon.icon-couple
        span.sett__name
          span.sett__text {{ 'hi.event-landing.side-menu.dress-code' | translate }}
      a.sett__item(ng-if='$ctrl.hasElement("js-block-guests-list") && $ctrl.enabled.isWishListBlockAvailable()', ng-click='$ctrl.scrollTo("js-block-guests-list")')
        span.sett__icon
          i.icon.icon-dialog
        span.sett__name
          span.sett__text
            | {{ 'hi.event-landing.side-menu.guests-list.l1' | translate }}
            br
            | {{ 'hi.event-landing.side-menu.guests-list.l2' | translate }}
      a.sett__item(ng-if='$ctrl.hasElement("js-block-wishes")', ng-click='$ctrl.scrollTo("js-block-wishes")')
        span.sett__icon
          i.icon.icon-gift
        span.sett__name
          span.sett__text
            | {{ 'hi.event-landing.side-menu.wish-list.l1' | translate }}
            br
            | {{ 'hi.event-landing.side-menu.wish-list.l2' | translate }}
      a.sett__item(ng-if='$ctrl.hasElement("js-block-custom")', ng-click='$ctrl.scrollTo("js-block-custom")')
        span.sett__icon
          i.icon.icon-flash
        span.sett__name
          span.sett__text(ng-if="  $ctrl.hasCustomBlockTitle") {{ $ctrl.customBlockTitle }}
          span.sett__text(ng-if="! $ctrl.hasCustomBlockTitle") {{ 'hi.event-landing.side-menu.custom.title' | translate }}