.component-invite-card-editor-v1-toolbar-template-color {
  button.template-color-button {
    display: inline-block;
    padding: 6px 16px;

    &:hover {
      background-color: #f0f0f0;
    }

    .color-preview {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 1px solid transparent;
    }
  }

  button.window-controls-button {
    display: inline-block;
    width: 25px;
    height: 40px;
    font-size: 18px;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .toolbar {
    display: flex;
    justify-content: center;

    .toolbar-section {
      ul.toolbar-items {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li.controls {
          width: 25px;
          overflow: hidden;
        }

        li {
          cursor: pointer;
          text-align: center;
          vertical-align: middle;
          display: inline-block;
        }

        li.is-active {
          button.template-color-button {
            background-color: #FCCE00;

            &:hover {
              background-color: #FCCE00;
            }
          }
        }
      }
    }
  }
}