.component.component-invite-card-editor-v1-toolbar-template-color
  .toolbar
    .toolbar-section
      ul.toolbar-items
        li.controls
          button.window-controls-button(ng-if="$ctrl.window.hasPrev()", ng-click="$ctrl.window.prev()")
            span.icon.icon-page-prev
        li(ng-repeat="template in $ctrl.window.list()", ng-class="{ 'is-active': $ctrl.isActive(template) }")
          button.template-color-button(ng-click="$ctrl.activate(template)")
            div.color-preview(ng-style="$ctrl.getCSS(template)")
        li.controls
          button.window-controls-button(ng-if="$ctrl.window.hasNext()", ng-click="$ctrl.window.next()")
            span.icon.icon-page-next