.component-event-landing-v1-block-dress-code {
  .dress-code-image-container {
    width: 145px;
    height: 260px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
  }
}