.component.component-event-landing-v1-block-dress-code(ng-if="! $ctrl.status.isLoading()")
  .event
    .event__center.center.center_fixed
      .event__item.event__item_simple
        .event__name
          .event__name-center
            .event__name-text(ng-if="  $ctrl.has($ctrl.block.title)", ng-bind-html='$ctrl.getTrustedHTML($ctrl.block.title)')
            .event__name-text(ng-if="! $ctrl.has($ctrl.block.title)") {{ 'hi.main.event.landing.blocks.resources.dress-code.title' | translate }}
            .event__name-left
            .event__name-right
        .event__row.event__row_small
          .event__col
            .event__item-pic
              .dress-code-image-container(ng-style="$ctrl.getPhotoCSS()")
          .event__col.event__col_block
            .event__dress-code
              .event__dress-code-man {{ 'hi.main.event.landing.blocks.resources.dress-code.label.men' | translate }}:
              .event__dress-code-info(ng-bind-html='$ctrl.getMenDescription()')
          .event__col.event__col_block
            .event__dress-code
              .event__dress-code-man {{ 'hi.main.event.landing.blocks.resources.dress-code.label.women' | translate }}:
              .event__dress-code-info(ng-bind-html='$ctrl.getWomenDescription()')
