@import "./../../../../../../styles/mixins/disable-user-select";

@font-face {
  font-family: 'text_redactor_menu_icon';
  src: url('./icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.component-invite-card-editor-v1-toolbar {
  $HI_MAIN_INVITE_CARD_EDITOR_TOOLBAR_HEIGHT: 70px;

  background-color: #ffffff;
  padding: 5px 0;

  .current-toolbar {
    display: flex;
    height: $HI_MAIN_INVITE_CARD_EDITOR_TOOLBAR_HEIGHT;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .editor {
    margin: 10px 0;
  }

  .toolbars {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;

    .left {
      .toolbar-button {

        &:hover {
          background-color: #F0F0F0!important;

          span.toolbar-icon {
            background-color: #F9CF01;
          }
        }
      }
    }

    .right {
      .toolbar-button {
        &:hover {
          background-color: #F9F9F9;
        }

        span.toolbar-icon {
          background-color: transparent!important;
        }
      }
    }

    .toolbar-button.is-active {
      background-color: #F0F0F0;

      &:after {
        top: 100%;
        left: 50%;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border: 4px solid rgba(249, 207, 1, 0);
        border-top-color: #F9CF01;
        margin-left: -4px;
        margin-top: 2px;
      }
    }

    .toolbar-button {
      @include disable-user-select;

      display: inline-block;
      color: #000;
      text-decoration: none;
      outline: none;
      text-transform: uppercase;
      font-size: 10px;
      width: 80px;
      text-align: center;
      font-family: 'Arial', sans-serif;
      line-height: 12px;
      padding: 8px 0 4px;
      position: relative;
      vertical-align: top;
      min-height: 70px;

      span.title {
        text-align: center;
        font-family: 'Arial', sans-serif;
        line-height: 12px;
        font-size: 10px;
      }

      span.toolbar-icon {
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 26px;
        border-radius: 50%;
        width: 31px;
        height: 30px;
        line-height: 28px;
        display: block;
        text-align: center;
        margin: 0 auto 5px;
        background-color: #F0F0F0;
        font-family: 'text_redactor_menu_icon', monospace !important;
      }
      
      .toolbar-icon-invites:before {
        content: "\e805";
      }

      .toolbar-icon-texteditor:before {
        content: "\e809";
      }
      .toolbar-icon-photos:before {
        content: "\e80b";
      }
      .toolbar-icon-audios:before {
        content: "\e80c";
      }
      .toolbar-icon-return:before {
        content: "\e80d";
      }

      .toolbar-icon-preview:before {
        content: "\e80e";
        font-size: 28px !important;
      }
      .toolbar-icon-export:before {
        content: "\e80f";
        font-size: 31px !important;
      }
      .toolbar-icon-print:before {
        content: "\e810";
        font-size: 31px !important;
      }
      .toolbar-icon-submit:before {
        content: "\e811";
        font-size: 32px !important;
      }
      .toolbar-icon-replace:before {
        content: "\e90a";
        font-size: 26px !important;
      }
      .toolbar-icon-textures:before {
        content: "\e900";
      }
      .toolbar-icon-texture_sets:before {
        content: "\e805";
      }
      .toolbar-icon-flap:before {
        content: "\e903";
        font-size: 36px;
        margin-left: -3px;
      }
      .__envelope-back .toolbar-icon-flap:before {
        content: "\e904";
      }
      .toolbar-icon-marks:before {
        content: "\e901";
      }
      .toolbar-icon-backgrounds:before {
        content: "\e905";
      }
      .toolbar-icon-background_sets:before {
        content: "\e805";
      }
      .toolbar-icon-inside_colors:before {
        content: "\e902";
      }
      .toolbar-icon-inside_patterns:before {
        content: "\e906";
      }
    }
  }
}