.component.component-invite-card-editor-v1-toolbar
  .toolbars
    .left
      button.toolbar-button(
        ng-if="$ctrl.isEnabled('template-color')",
        ng-class="{ 'is-active': $ctrl.isActive('template-color') }",
        ng-click="$ctrl.switchToolbar('template-color')",
      )
        span.toolbar-icon.toolbar-icon-invites
        span.title {{ 'hi.main.editor.invite-card.toolbar.buttons.template-color' | translate }}
      button.toolbar-button(
        ng-if="$ctrl.isEnabled('svg-editor')",
        ng-class="{ 'is-active': $ctrl.isActive('svg-editor') }",
        ng-click="$ctrl.switchToolbar('svg-editor')",
      )
        span.toolbar-icon.toolbar-icon-texteditor
        span.title {{ 'hi.main.editor.invite-card.toolbar.buttons.svg-editor' | translate }}
      button.toolbar-button(
        ng-if="$ctrl.isEnabled('add-photo')",
        ng-class="{ 'is-active': $ctrl.isActive('add-photo') }",
        ng-click="$ctrl.switchToolbar('add-photo')",
      )
        span.toolbar-icon.toolbar-icon-photos
        span.title {{ 'hi.main.editor.invite-card.toolbar.buttons.add-photo' | translate }}
      button.toolbar-button(
        ng-if="$ctrl.isEnabled('add-music')",
        ng-click="$ctrl.switchToolbar('add-music')",
        ng-class="{ 'is-active': $ctrl.isActive('add-music') }",
      )
        span.toolbar-icon.toolbar-icon-audios
        span.title {{ 'hi.main.editor.invite-card.toolbar.buttons.add-music' | translate }}
      button.toolbar-button(
        ng-if="$ctrl.isEnabled('revert-changes')",
        ng-class="{ 'is-active': $ctrl.isActive('revert-changes') }",
        ng-click="$ctrl.askForRevertChanges()",
      )
        span.toolbar-icon.toolbar-icon-return
        span.title {{ 'hi.main.editor.invite-card.toolbar.buttons.revert-changes' | translate }}
    .right
      button.toolbar-button(
        ng-if="$ctrl.isEnabled('preview')",
        ng-click="$ctrl.preview()",
        ng-class="{ 'is-active': $ctrl.isActive('preview') }",
      )
        span.toolbar-icon.toolbar-icon-preview
        span.title {{ 'hi.main.editor.invite-card.toolbar.buttons.preview' | translate }}
      button.toolbar-button(
        ng-click="$ctrl.replaceFamily()",
        ng-if="$ctrl.isEnabled('replace-family')",
        ng-class="{ 'is-active': $ctrl.isActive('replace-family') }",
      )
        span.toolbar-icon.toolbar-icon-replace
        span.title {{ 'hi.main.editor.invite-card.toolbar.buttons.replace' | translate }}
      button.toolbar-button(
        ng-if="$ctrl.isEnabled('print')",
        ng-click="$ctrl.print()",
        ng-class="{ 'is-active': $ctrl.isActive('print') }",
      )
        span.toolbar-icon.toolbar-icon-print
        span.title {{ 'hi.main.editor.invite-card.toolbar.buttons.print' | translate }}
      button.toolbar-button(
        ng-if="$ctrl.isEnabled('submit')",
        ng-click="$ctrl.submit()",
        ng-class="{ 'is-active': $ctrl.isActive('submit') }",
      )
        span.toolbar-icon.toolbar-icon-submit
        span.title {{ 'hi.main.editor.invite-card.toolbar.buttons.next' | translate }}
  .current-toolbar(ng-if="$ctrl.hasAnyActivatedToolbar()")
    .current-toolbar-area
      hi-invite-card-editor-v1-toolbars-template-color(ng-if="$ctrl.isActivated('template-color')")
      hi-invite-card-editor-v1-toolbars-svg-editor(ng-if="$ctrl.isActivated('svg-editor')")
      hi-invite-card-editor-v1-toolbars-add-photo(ng-if="$ctrl.isActivated('add-photo')")
      hi-invite-card-editor-v1-toolbars-add-music(ng-if="$ctrl.isActivated('add-music')")