.component.component-event-landing-editor-v1-block-wishes {
  padding-bottom: 20px;

  background-image: url('./../../resources/img/bg.png');

  .event__desire, .event__l {
    background: none!important;
  }
}