.component.component-event-landing-editor-v1-block-wishes
  .event
    .event__l
      .event__l-head
        hi-event-landing-editor-v1-control-buttons-block(block='$ctrl.block', add-block="false")
      .event__desire
        .event__desire-name
          .editor.editor_inline.js-ev-editor(style='min-width: 350px;')
            textarea.editor__area(
              hi-ck-editor="inline",
              ng-model="$ctrl.block.guestListTitle",
              placeholder="{{ 'hi.main.event.landing.blocks.resources.wishes.title' | translate }}",
            )
            button.editor__btn(hi-event-landing-edit-button)
              i.icon.icon-edit
        .editor.js-ev-select
          select.editor__tags.js-ev-select-tags(multiple, ng-model="$ctrl.block.wishList", hi-event-landing-wish-list)
          button.editor__btn.js-ev-select-btn
            i.icon.icon-edit