@import "./../../../../../../../../main/styles/mixins/disable-user-select";

.component-event-landing-editor-v1-switchers {
  @include disable-user-select;

  .blocks-container {
    width: 100%;
    max-width: 864px;
  }

  .switcher-title {
    font-size: 9px!important;
  }

  .flexbox-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 855px;
    margin: 0 auto;

    .flexbox-container-center {
      button.switch-button {
        vertical-align: top;
        margin: 0 10px;
      }
    }
  }

  .save-button {
    .save-button-icon-container {
      font-size: 21px;
      height: 32px;
      margin-top: 12px;
    }

    .save-button-title-container {
      vertical-align: top;
      font-size: 9.3px;
      text-transform: uppercase;
    }
  }
}