.component.component-event-landing-editor-v1-switchers
  .flexbox-container
    .flexbox-container-center
      button.switch-button(ng-if="$ctrl.isSwitcherEnabled()", ng-click="$ctrl.toggleSwitcher()")
        hi-ui-switcher(title="hi.main.event.landing.editor.switchers.enable", value="$ctrl.getSwitcher().enabled")
      button.switch-button(
        ng-repeat="config in $ctrl.switchers",
        ng-click="$ctrl.toggleBlock(config.id)",
        ng-if="$ctrl.blockHasSwitcher(config.id)",
      )
        hi-ui-switcher(title="{{ config.title }}", value="$ctrl.isBlockEnabled(config.id)")
      button.save-button(
        ng-click="$ctrl.save()",
      )
        .save-button-icon-container
          i.icon.icon-next-block
        .save-button-title-container
          span {{ 'hi.main.event.landing.editor.save' | translate }}