{% extends "@main/layout/landing.html.twig" %}

{% block content %}
  <div class="conditions">
    <div class="conditions__pic"></div>
    <div class="conditions__center center">
      <div class="tabs tabs_number_2 js-tabs-tables">
        <div class="tabs__nav">
          <div class="tabs__list">
            <a class="tabs__link js-tabs-link is-active" href="#">для пользователей сайта</a>
            <a class="tabs__link js-tabs-link" href="#">для дизайнеров</a>
          </div>
          <div class="tabs__lines-left"></div>
          <div class="tabs__lines-right"></div>
        </div>
        <div class="tabs__container">
          <div class="tabs__item js-tabs-item" style="display: block;">
            <div class="conditions-in">
              <div class="conditions-content">
                <div class="conditions__title">Пользовательское соглашение</div>
                <div class="conditions__info">Данное Соглашение вступает в силу с момента Вашего согласия с его условиями при регистрации на HappyInvite.ru</div>
                <ol class="conditions__list">
                  <li>Предмет Соглашени
                    <p>Пользовательское Соглашение является юридически обязывающим договором и регламентирует отношения между Администрацией интернет-ресурса HappyInvite.ru, расположенного по адресу, (Далее — «Администрация») с физическим или юридическими лицами (далее — «Пользователь»), использующим сайт для получения, публикации или поиска информации.</p>
                  </li>
                  <li>Описание услуг
                    <ol>
                      <li>Happy Invite является сервис планирования и организации событий и предоставляет свои услуги на условиях, являющихся предметом настоящего Пользовательского Соглашения (ПС). Соглашение может быть изменено нами без какого-либо специального уведомления.</li>
                      <li>После регистрации Вы получите в личное распоряжение дисковое пространство для размещения текстов, фотоматериалов, сообщений или информации.</li>
                    </ol>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="tabs__item js-tabs-item">
          </div>
        </div>
      </div>
    </div>
    <button class="conditions__btn">
      <i class="icon icon icon-arrow-up"></i>
    </button>
  </div>
{% endblock %}