{% extends "@main/layout/landing.html.twig" %}

{% block content %}
  <div class="land">
    <div class="land__banner">
      <div class="land__banner-center center">
        <div class="land__banner-col">Ищем талантливых дизайнеров, которые хотят выставлять свои работы и получать дополнительный доход.</div>
      </div>
    </div>
    <div class="land__chance">
      <div class="land__chance-center center">
        <div class="land__chance-row">
          <div class="land__chance-col">
            <div class="land__chance-pic">
              <img src="/dist/img/chance.jpg" alt="">
            </div>
          </div>
          <div class="land__chance-col">
            <div class="land__chance-text">
              <div class="land__chance-title">С Happy Invite вы сможете:</div>
              <p>Продвигать собственный бренд, указывая на ваших пригласительных свое имя.</p>
              <p>Получать комиссию с каждой покупки, включая индивидуальные заказы.</p>
            </div>
          </div>
          <div class="land__chance-col">
            <div class="land__chance-pic">
              <img src="/dist/img/chance.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="land__talent">
      <div class="land__talent-center center">
        <div class="land__talent__row">
          <div class="land__talent-col">
            <div class="land__talent-text">
              <div class="land__talent-title">Что нужно от вас?</div>
              <p>Свободное творчество, микс эмоций и самовыражение без ограничений.</p>
              <p>Умение вдохновляться и фонтанировать идеями.</p>
            </div>
          </div>
          <div class="land__talent-col">
            <div class="land__talent-pic">
              <img src="/dist/img/talent.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="land__steps">
      <div class="land__steps-center center">
        <div class="land__steps-title">4 простых шага к сотрудничеству:</div>
        <div class="land__steps-row">
          <div class="land__steps-item">
            <div class="land__steps-number">
              <img src="/dist/img/number-1.png" alt="">
            </div>
            <div class="land__steps-name">Заполните расположенную ниже анкету. И не забудьте дать ссылку на ваше портфолио.</div>
          </div>
          <div class="land__steps-item land__steps-item-down">
            <div class="land__steps-number">
              <img src="/dist/img/number-3.png" alt="">
            </div>
            <div class="land__steps-name">Создавайте пригласительные в стилях и цветовых решениях, представленных на сайте.</div>
          </div>
          <div class="land__steps-item land__steps-item-up">
            <div class="land__steps-number">
              <img src="/dist/img/number-2.png" alt="">
            </div>
            <div class="land__steps-name">Креативная группа рассмотрит ваши работы. Ни одна анкета не останется без ответа!</div>
          </div>
        </div>
        <div class="land__steps-row">
          <div class="land__steps-item land__steps-item-down">
            <div class="land__steps-number">
              <img src="/dist/img/number-2.png" alt="">
            </div>
            <div class="land__steps-name">Креативная группа рассмотрит ваши работы. Ни одна анкета не останется без ответа!</div>
          </div>
          <div class="land__steps-item land__steps-item-up">
            <div class="land__steps-number">
              <img src="/dist/img/number-3.png" alt="">
            </div>
            <div class="land__steps-name">Создавайте пригласительные в стилях и цветовых решениях, представленных на сайте.</div>
          </div>
          <div class="land__steps-item">
            <div class="land__steps-number">
              <img src="/dist/img/number-4.png" alt="">
            </div>
            <div class="land__steps-name">Мы размещаем ваши творческие работы, вы получаете комиссию от количества покупок.</div>
          </div>
        </div>
      </div>
    </div>
    <!-- info -->
    <div class="info">
      <div class="info__center center">
        <div class="info__in">
          <div class="info__text">
            <p>Мы ценим отличный дизайн и любим экспериментировать,</p>
            <p>боремся за каждый пиксель и верим в красоту простоты!</p>
          </div>
          <hi-designer-request-form></hi-designer-request-form>
      </div>
    </div>
  </div>
{% endblock %}