.component.component-event-landing-v1-block-custom(ng-if="! $ctrl.status.isLoading()")
  .event
    .event__center.center.center_fixed
      .event__item
        .event__name
          .event__name-center
            .event__name-text(ng-if="  $ctrl.hasTitle()", ng-bind-html='$ctrl.getTitle()')
            .event__name-text(ng-if="! $ctrl.hasTitle()") {{ 'hi.editor.event-landing.blocks.resources.custom.title-placeholder' | translate }}
            .event__name-left
            .event__name-right
        .event__row
          .event__col
            .event__item-pic(ng-if="$ctrl.hasPhoto()")
              .event__item-photo
                .event__item-ball
                  .hi-circle-image-container(ng-style="$ctrl.getPhotoCSS()")
          .event__col
            .event__name-place(ng-if="  $ctrl.hasDescription()", ng-bind-html='$ctrl.getDescription()')
            .event__name-place(ng-if="! $ctrl.hasDescription()") {{ 'hi.editor.event-landing.blocks.resources.custom.description-placeholder' | translate }}
