.component-editor-header-steps {
  .links {
    margin-bottom: 5px;
  }

  .links__item_disabled {
    cursor: not-allowed;
    user-select: none;
  }

  a.links__item {
    &:hover {
      .links__title {
        background-color: #edce16;

        &:before {
          border-color: #edce16 #edce16 #edce16 transparent;
        }

        &:after {
          border-color: transparent transparent transparent #edce16;
        }
      }
    }
  }
}