.component.component-editor-header-steps
  .center.center_p20.l
    .links
      a.links__item(
        ng-link="['/', 'HIEventInviteCardEditorRoute']",
        ng-class="{ 'is-active': $ctrl.isActive('invite-card') }"
      )
        span.links__title
          | {{ 'hi.main.editor.header-steps.invite-card' | translate }}

      .links__item.links__item.links__item_disabled(
        ng-if="!$ctrl.canGoEnvelopeStep()",
        ng-class="{ 'is-active': $ctrl.isActive('envelope') }"
      )
          span.links__title
            | {{ 'hi.main.editor.header-steps.envelope' | translate }}
      a.links__item(
        ng-if="$ctrl.canGoEnvelopeStep()",
        ng-link="['/', 'HIEventEnvelopeEditorRoute']",
        ng-class="{ 'is-active': $ctrl.isActive('envelope') }"
      )
        span.links__title
          | {{ 'hi.main.editor.header-steps.envelope' | translate }}

      .links__item.links__item_disabled(
        ng-if="! $ctrl.canGoLandingStep()",
        ng-class="{ 'is-active': $ctrl.isActive('landing') }"
      )
        span.links__title
          | {{ 'hi.main.editor.header-steps.landing' | translate }}
      a.links__item(
        ng-if="$ctrl.canGoLandingStep()",
        ng-link="['/', 'HIEventEditorLandingRoute']",
        ng-class="{ 'is-active': $ctrl.isActive('landing') }"
      )
        span.links__title
          | {{ 'hi.main.editor.header-steps.landing' | translate }}



      a.links__item(
        ng-if="$ctrl.canGoMailingStep()",
        ng-link="['/', 'HIEventEditorMailingOptionsRoute']",
        ng-class="{ 'is-active': $ctrl.isActive('mailing') }"
      )
        span.links__title
          | {{ 'hi.main.editor.header-steps.mailing' | translate }}
      .links__item.links__item_disabled(
        ng-if="! $ctrl.canGoMailingStep()",
        ng-class="{ 'is-active': $ctrl.isActive('mailing') }"
      )
        span.links__title
          | {{ 'hi.main.editor.header-steps.mailing' | translate }}
