.component-ui-ajax-indicator {
  .container {
    text-align: center;

    .container-indicator {
      display: inline-block;
    }
  }

  $base-line-height: 24px;
  $white: rgb(0, 0, 0);
  $off-white: rgba($white, 0.2);
  $spin-duration: 1s;
  $pulse-duration: 750ms;

  @keyframes ui-ajax-indicator-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes ui-ajax-indicator-pulse {
    50% {
      background: $white;
    }
  }

  .loading {
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: ui-ajax-indicator-spin $spin-duration infinite linear;

    &--double {
      border-style: double;
      border-width: .5rem;
    }
  }

  .loading-pulse {
    position: relative;
    width: ($base-line-height / 4);
    height: $base-line-height;
    background: $off-white;
    animation: ui-ajax-indicator-pulse $pulse-duration infinite;
    animation-delay: ($pulse-duration / 3);
    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      height: ($base-line-height / 1.5);
      width: ($base-line-height / 4);
      background: $off-white;
      top: 50%;
      transform: translateY(-50%);
      animation: ui-ajax-indicator-pulse $pulse-duration infinite;
    }
    &:before {
      left: -($base-line-height / 2);
    }
    &:after {
      left: ($base-line-height / 2);
      animation-delay: ($pulse-duration / 1.5);
    }
  }
}