.component.component-ui-ajax-indicator
  .container
    .container-indicator
      .loading(ng-if="$ctrl.is('spin')")
      .loading--double(ng-if="$ctrl.is('spin-double')")
      .loading-pulse(ng-if="$ctrl.is('pulse')")