.component-invite-card-editor-v1-photo-bait {
  .box {
    position: absolute;
    border: 2px solid #FCCE00;
    cursor: move;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: lighten(#FCCE00, 10%);
    }
  }
}