.component.component-invite-card-editor-v1-svg-editor
  .container(
      id="{{ $ctrl.getContainerId() }}",
      ng-if="$ctrl.hasDocument()",
      ng-style="$ctrl.getContainerCSS()",
      ng-mousedown="$ctrl.onMouseDown($event)",
      ng-mouseup="$ctrl.onMouseUp($event)",
      ng-mousemove="$ctrl.onMouseMove($event)",
      ng-click="$ctrl.onMouseClick($event)",
    )
    hi-invite-card-editor-v1-svg-map-input(
      element="element",
      strategy="$ctrl.strategy",
      ng-repeat="element in $ctrl.getInputs()",
      edit-mode="$ctrl.isEditModeEnabled()",
    )