@import "./../../../../../../../../main/styles/mixins/disable-user-select";

.component-event-landing-editor-v1-destroy-block {
  @include disable-user-select;

  >.dummy {
    height: 30px;
  }

  .flexbox-container {
    display: flex;
    margin-top: 5px;
    position: absolute;
    top: 0;
    left: 0; right: 0;

    .flexbox-container-left, .flexbox-container-right {
      flex-basis: 40px;
      flex-shrink: 0;
    }

    .flexbox-container-center {
      flex-basis: 100%;
    }
  }

  p.delete-button-text {
    max-width: 600px;
    margin: 0 auto 10px;
    padding: 5px;
    background: #ffffff;
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
  }

  .delete-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #edce16;
    background: #fff;
    text-align: center;
    font-size: 0;
    cursor: pointer;

    &:hover {
      background: #ff0000;

      .icon {
        color: #ffffff;
      }
    }

    .icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      color: #ff0000;
    }
  }
}