.component.component-event-landing-editor-v1-destroy-block
  .dummy
  .flexbox-container
    .flexbox-container-left
    .flexbox-container-center
      p.delete-button-text {{ 'hi.main.event.landing.blocks.destroy.text' | translate }}
    .flexbox-container-right
      button.delete-button(ng-click="$ctrl.deleteBlock()")
        i.icon.icon-check-no
      .event__tabs
        .event__tabs-list
          a.event__tabs-plus(ng-if="$ctrl.isAddBlockFeatureEnabled()")
            .event__tabs-link(ng-click='$ctrl.addNewBlock()')
              span.event__tabs-pic
                i.icon.icon-plus-two
