.component-invite-card-editor-v1-svg-font-family-toolbar {
  .icon-ed-arrow-left:after { font-family: 'text_redactor_menu_icon', sans-serif !important; content: "\e812"; }
  .icon-ed-arrow-right:after { font-family: 'text_redactor_menu_icon', sans-serif !important; content: "\e813"; }

  .hi-font-button {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin: 0 5px;
  }

  .font-preview {
    height: 34px;
    overflow: hidden;

    img {
      max-height: 36px;
      max-width: 150px;
      pointer-events: none;
    }
  }

  .hi-sub-font-family-toolbar {
    .hi-sub-toolbar-next, .hi-sub-toolbar-prev {
      button.hi-sub-toolbar-window-button {
        line-height: 34px;

        .hi-icon {
          line-height: 34px;
        }
      }
    }
  }
}