.component.component-invite-card-editor-v1-svg-font-family-toolbar
  ul.hi-sub-toolbar.hi-sub-font-family-toolbar
    li.hi-sub-toolbar-prev
      button.hi-sub-toolbar-window-button(ng-click="$ctrl.window.prev()", ng-if="$ctrl.window.hasPrev()")
        .hi-icon.icon-ed-arrow-left
    li.hi-sub-toolbar-item(
      ng-repeat="font in $ctrl.window.list()",
      ng-class="{ 'is-active': $ctrl.isActive(font) }"
    )
      button.hi-font-button(ng-click="$ctrl.click(font)")
        .font-preview
          img(ng-src="{{ $ctrl.getFontPreview(font) }}", alt="{{ $ctrl.getFontPreviewAlt(font) }}")
    li.hi-sub-toolbar-next
      button.hi-sub-toolbar-window-button(ng-click="$ctrl.window.next()", ng-if="$ctrl.window.hasNext()")
        .hi-icon.icon-ed-arrow-right