{% set angular_app = 'hi-editor' %}

{% extends "@main/event-editor/layout/event-editor.html.twig" %}

{% block secondary_scripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/dist/js/jquery.sticky.js"></script>
    <script src="/dist/js/ckeditor.js"></script>
    <script src="/dist/js/select2.min.js"></script>
{% endblock %}

{% block content %}
    <hi-event-route-event-editor></hi-event-route-event-editor>
{% endblock %}