.component.component-event-header {
  .hi-event-header-container {
    background-image: url('./../../../../../../../resources/img/header/bg.png');
    padding: 4px 0;
    font-size: 0;
  }

  .hi-event-header-center {
    display: flex;
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;

    .hi-event-header-left {
      flex-basis: 100%;
      line-height: 51px;

      .hi-event-header-logo, .hi-event-editor-title {
        display: inline-block;
        vertical-align: middle;
      }

      .hi-event-header-logo {
        margin-right: 18px;
        display: inline-block;
        width: 51px;
        height: 51px;
        background: url('./../../../../../../../resources/img/header/logo.svg') no-repeat 0 0;
        background-size: 51px 51px;
      }

      .hi-event-editor-title {
        min-width: 250px;
      }
    }

    .hi-event-header-right {
      flex-shrink: 0;
      line-height: 51px;

      .btn-yellow {
        vertical-align: middle;
      }

      .hi-event-logout-button {
        vertical-align: middle;
        width: 35px;
        height: 35px;
        margin: 0 11px 0 65px;
        border: 1px solid #edce16;
        border-radius: 50%;
        background: #edce16;
        text-align: center;
        display: inline-block;
        line-height: 35px;
        font-size: 0;

        &:hover {
          background: #fff;
        }

        i.icon-exit {
          display: inline-block;
          vertical-align: middle;
          font-size: 18px;
          color: #020202;

        }
      }
    }
  }
}