.component.component-event-header
  hi-ui-main-menu
  .hi-event-header-container
    .hi-event-header-center
      .hi-event-header-left
        .hi-event-header-logo
        .hi-event-editor-title
          hi-event-editor-title
      .hi-event-header-right
        button.btn-yellow.hi-event-header-logo {{ 'hi.main.event.editor.header.pay-button'| translate }}
        a.hi-event-logout-button(href="/account/sign-out")
          i.icon.icon-exit