.component.component-event-landing-photo-gallery
  .hi-component-loading(ng-if="$ctrl.status.isLoading()")
    hi-ui-loading-top-indicator
  .hi-component-contents(ng-if="! $ctrl.status.isLoading()")
    .hi-event-landing-blocks-containers
      .hi-event-landing-block-container(ng-repeat="block in $ctrl.getBlocks()")
        hi-event-landing-v1-block-photo-gallery(block="block", ng-if="block.type === 'photo-gallery'&& $ctrl.isBlockAvailable(block)")