.component.component-envelope-editor-v1 {
  .flexbox-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >.toolbars, >.viewport {
      width: 940px;
    }
  }
}