.component.component-envelope-editor-v1
  hi-envelope-animation-preview
  .flexbox-container(ng-if="$ctrl.isReady()")
    .toolbars
      hi-envelope-editor-v1-toolbar
    .viewport(ng-if="$ctrl.isVisible()")
      hi-envelope-editor-v1-viewport
    .envelope-disabled(ng-if="! $ctrl.isVisible()")
      hi-envelope-editor-v1-is-not-enabled