{% extends "@main/layout/skeleton.html.twig" %}

{% block skeleton_content %}
  <div class="layout__account">
    <div class="reg">
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}