.component.component-account-reset-password
  div(ng-if="$ctrl.screen === 'form'")
    form(ng-submit="form.$valid && $ctrl.ngSubmit($event)", name="form", novalidate)
      .reg__form.reg__form_password
        .reg__title {{ 'hi.main.account.reset-password.title' | translate }}
        .reg__in.reg__in_p30
          .reg__fielset.reg__fielset_mb0.l
            .field
              .field__in
                input.input(autofocus, type='password', ng-model="$ctrl.model.new_password", name='password', translate-attr="{ 'placeholder': 'hi.main.account.reset-password.password' }", required="required", minlength="6", maxlength="32", ng-disabled="$ctrl.disabled")
                .field_errors(ng-if='form.$submitted', ng-messages="form.password.$error", role="alert")
                  .field_error(ng-message="required") {{ 'hi.main.common.validation.required' | translate }}
                  .field_error(ng-message="minlength") {{ 'hi.main.account.reset-password.validation.password.min-length' | translate }}
                  .field_error(ng-message="maxlength") {{ 'hi.main.account.reset-password.validation.password.min-length' | translate }}
            .field
              .field__in
                input.input(type='password', name='repeat',ng-model="$ctrl.model.repeat", translate-attr="{ 'placeholder': 'hi.main.account.reset-password.repeat' }", required="required", minlength="6", maxlength="32", ng-disabled="$ctrl.disabled")
                .field_errors(ng-if='form.$submitted', ng-messages="form.repeat.$error", role="alert")
                  .field_error(ng-message="required") {{ 'hi.main.common.validation.required' | translate }}
                  .field_error(ng-message="minlength") {{ 'hi.main.account.reset-password.validation.password.min-length' | translate }}
                  .field_error(ng-message="maxlength") {{ 'hi.main.account.reset-password.validation.password.min-length' | translate }}
                .field_errors(ng-if="$ctrl.error")
                  .field_error
                    span(ng-switch="$ctrl.error")
                      span(ng-switch-defalt) {{ $ctrl.error }}
                      span(ng-switch-when="link-expired") {{ 'hi.main.account.reset-password.link-expired' | translate }}
                      span(ng-switch-when="password-not-matches") {{ 'hi.main.account.reset-password.password-not-matches' | translate }}
            button.btn-complex(type="submit", ng-disabled="$ctrl.disabled") {{ 'hi.main.account.reset-password.submit' | translate }}
  div(ng-if="$ctrl.screen === 'success'")
    .reg__form.reg__form_message
      .reg__title {{ 'hi.main.account.reset-password.title' | translate }}
      .reg__in
        .reg__info {{ 'hi.main.account.reset-password.success' | translate }}
        .reg__info.reg__link
          a.reg__link(href='/solutions') {{ 'hi.main.account.reset-password.proceed' | translate }}