.component.component-event-landing-editor-v1-block-header {
  .uploaded-list {
    display: flex;
    width: 100%;

    .uploaded-list-controls {
      flex-basis: 10px;
      flex-shrink: 0;

      button.uploaded-list-controls-button {
        height: 85px;
        width: 10px;

        &:after {
          font-family: 'icomoon', sans-serif;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 16px;
          color: #000000;
        }

        &:hover:after {
          color: #fcce00;
        }

        &.uploaded-list-controls-button-prev:after {
          content: "\e608";
        }

        &.uploaded-list-controls-button-next:after {
          content: "\e609";
        }
      }
    }

    .uploaded-list-items {
      display: flex;
      width: 100%;
      overflow: hidden;
      justify-content: center;
      flex-shrink: 0;
    }

    .uploaded-list-item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 150px;
      height: 85px;
      overflow: hidden;
      position: relative;
      margin: 0 5px;
      border: 3px solid transparent;

      .uploaded-click-area {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        z-index: 4;
      }

      .uploaded-list-backdrop {
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        z-index: 2;
      }

      .uploaded-select-text {
        position: absolute;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: #edce16;
        z-index: 3;
      }

      .uploaded-image-block {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }

      .uploaded-close-button {
        z-index: 10;
      }

      .uploaded-list-backdrop, .uploaded-select-text {
        visibility: hidden;
      }

      &.is-active {
        border-color: lighten(#fcce00, 10%) !important;
      }

      &:hover {
        border-color: #fcce00;

        .uploaded-list-backdrop, .uploaded-select-text {
          visibility: visible;
        }

        button.event__gallery-close {
          display: block;
        }
      }
    }
  }
}