.component.component-event-landing-editor-v1-block-header {
  position: relative;

  .event__tabs-photo, .event__tabs-music {
    .event__tabs-container {
      width: 420px;
    }
  }

  .event__change-wrap {
    border: none!important;
  }

  .uploaded-list-photo-container {
    width: 370px;
    margin-bottom: 10px;
  }

  .uploaded-list-music-container {
    width: 370px;
    margin-bottom: 10px;

    .uploaded-image-block {
      background-image: url(./../img/audio.png);
    }
  }

  .event .event__redactor-pic {}

  .event-header-image {
    width: 100%;
  }

  .moment-picker.top {
    background: none!important;
  }

  .moment-dummy {
    position: absolute;
    top: 0;
    height: 69px;
    left: 0; right: 0;
    z-index: 100;
  }

  .moment-picker-container {
    z-index: 9999;
  }

  .event__tabs {
    z-index: 5;
  }

  .event__change-wrap {
    display: flex;
    z-index: 4;

    .event__date {
      flex-shrink: 0;
      position: relative;
    }

    .m-event-header-inputs {
      width: 100%;
    }
  }
}