.component-invite-card-editor-v1-svg-map-input {
  .element {
    display: block;

    &.is-selectable {
      cursor: pointer;

      .element-view {
        outline-offset: 5px;
        outline: 1px solid  darken(#F9CF01, 10%);

        &:hover {
          outline-color: #F9CF01;
        }
      }
    }

    &.is-selected {
      .element-view {
        outline-color: #f00!important;
        outline-width: 2px!important;
      }
    }
  }

  textarea.element {
    cursor: text!important;
    outline: 1px solid darken(#F9CF01, 10%);
    outline-offset: 5px;
    padding: 0;
    margin: 0;
    resize: none;
    border: 0!important;

    &:active, &:focus {
      outline-color: #f00!important;
      outline-width: 2px!important;
    }
  }
}