.component.component-invite-card-editor-v1-svg-map-input
  .element(
    id="{{ $ctrl.id }}",
    ng-class="{ 'is-selectable': $ctrl.isSelectable(), 'is-selected': $ctrl.isSelected() }"
  )
    .element-editor(ng-if="$ctrl.editMode")
      .element-view-mask(ng-style="$ctrl.getViewMaskCSS()")
        textarea.element.element-input-block(
          ng-click="$ctrl.svg.onElementClick($event)",
          hi-double-click="$ctrl.forceEditElement($event)",
          ng-mouseout="$ctrl.onMouseElementOut($event)",
          ng-mouseover="$ctrl.onMouseElementOver($event)",
          ng-model="$ctrl.element.text",
          ng-keyup="$ctrl.autoSizeInputElement($event)",
          ng-style="$ctrl.getInputCSS()"
        )
          | {{ $ctrl.element.text }}
    .element-view(ng-if="! $ctrl.editMode", ng-style="$ctrl.getInputCSS()")
      .element-view-mask(ng-style="$ctrl.getViewMaskCSS()")
        .element.element-input-block(
          ng-if="! $ctrl.editMode",
          ng-click="$ctrl.onElementClick($event)",
          hi-double-click="$ctrl.forceEditElement($event)",
          ng-mouseout="$ctrl.onMouseElementOut($event)",
          ng-mouseover="$ctrl.onMouseElementOver($event)",
          ng-style="$ctrl.getTextElementCSS()"
        )
          span(ng-bind-html="$ctrl.getInputHTML()")