.component.component-envelope-editor-v1-toolbar-backdrop
  .toolbar-flexbox-big-previews
    .toolbar-flexbox-big-container
      .toolbar-flexbox-big-container-center
        .toolbar-flexbox-big-window-controls
          button.toolbar-flexbox-big-window-control-button(ng-click="$ctrl.window.prev()", ng-if="$ctrl.window.hasPrev()")
            .toolbar-icon.toolbar-icon-window-list-prev
        .toolbar-flexbox-big-item(
        ng-class="{ 'is-active': $ctrl.isActive(backdrop) }",
        ng-repeat="backdrop in $ctrl.window.list()",
        ng-click="$ctrl.click(backdrop)"
        )
          button.toolbar-flexbox-big-button
            .toolbar-flexbox-button-icon
              .item-preview(ng-style="$ctrl.getBackdropCSS(backdrop)")
            .toolbar-flexbox-big-button-title
              span {{ backdrop.entity.title | localize }}
        .toolbar-flexbox-big-window-controls
          button.toolbar-flexbox-big-window-control-button(ng-click="$ctrl.window.next()", ng-if="$ctrl.window.hasNext()")
            .toolbar-icon.toolbar-icon-window-list-next