.component-invite-card-editor-v1-toolbar-svg-editor {
  .icon-font-family:after { content: "\e800"; }
  .icon-font-size:after { content: "\e801"; }
  .icon-text-color:after { content: "\e805"; }
  .icon-text-align-left:after { content: "\e806"; }
  .icon-text-align-center:after { content: "\e807"; }
  .icon-text-align-right:after { content: "\e808"; }
  .icon-text-style-bold:after { content: "\e802"; }
  .icon-text-style-italic:after { content: "\e803"; }
  .icon-text-style-underline:after { content: "\e804"; }
  .icon-create:after { content: "\E809"; }
  .icon-move:after { content: "\E809"; }
  .icon-rotate:after { content: "\E809"; }
  .icon-remove:after { content: "\E809"; }
  .icon-resize:after { content: "\E809"; }
}