@import "./../../../../../../../../../styles/mixins/disable-user-select";

.component-invite-card-editor-v1-toolbar-svg-editor {
  @include disable-user-select;

  .container-main-toolbars, .container-sub-toolbars {
    display: flex;
    justify-content: center;
  }

  .hi-main-toolbar {
    background: #efefef;
    white-space: nowrap;
    text-align: center;

    ul.hi-main-toolbar-group {
      vertical-align: top;
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;

      >li.hi-main-toolbar-item {
        vertical-align: top;
        display: inline-block;
      }
    }

    .hi-main-toolbar-button {
      vertical-align: top;
      text-decoration: none;
      display: inline-block;
      font-size: 0;
      outline: none;
      color: #000;
      margin-right: 22px;
      line-height: 34px;

      &:disabled {
        color: #999!important;
        cursor: not-allowed;

        &:hover {
          background-color: transparent!important;
        }
      }

      .hi-fa-icon {
        font-size: 16px;
        line-height: 34px;
        width: 34px;
        vertical-align: middle;
      }

      .hi-icon {
        line-height: 34px!important;
        padding: 0 6px;
        width: 34px;
        vertical-align: middle;
      }

      &.is-active, &:hover {
        background-color: #FCCE00;
        box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.33) inset;
      }

      font-family: 'Open Sans', sans-serif;

      .icon {
        font-family: 'text_redactor_menu_icon', sans-serif !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 22px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }

  .hi-sub-toolbars {
    height: 34px;
    background-color: #FFFFFF;
    margin-top: 5px;

    ul.hi-sub-toolbar {
      vertical-align: top;
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;

      >li.hi-sub-toolbar-item {
        vertical-align: top;
        display: inline-block;

        &.is-active {
          button.hi-sub-toolbar-button, button.hi-sub-toolbar-button:hover {
            background-color: #FCCE00!important;
            box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.33) inset;
          }

          button.hi-font-button {
            border-color: #FCCE00!important;
          }
        }
      }

      >li.hi-sub-toolbar-prev, >li.hi-sub-toolbar-next {
        display: inline-block;
        vertical-align: top;
        width: 20px;
        overflow: hidden;

        button.hi-sub-toolbar-window-button {
          cursor: pointer;
          font-size: 16px;
          line-height: 34px;
          width: 20px;
          text-align: center;
          color: #999;

          &:hover {
            color: #000;
          }
        }
      }

      .hi-icon {
        line-height: 34px;
      }

      button.hi-sub-toolbar-button {
        border: 0;
        background-color: transparent;
        width: 40px;
        line-height: 34px;
        color: #000;
        text-align: center;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;

        &:hover {
          background-color: #efefef;
        }
      }
    }
  }
}