.component.component-invite-card-editor-v1-toolbar-svg-editor
  .hi-main-toolbar
    .container-main-toolbars
      ul.hi-main-toolbar-group
        li.hi-main-toolbar-item
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.hasFeature('create')",
            ng-class="{ 'is-active': $ctrl.isModeEnabled('creating') }",
            ng-click="$ctrl.setMode('creating')",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.features.create' }",
          )
            .hi-fa-icon.fa.fa-font
        li.hi-main-toolbar-item
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.hasFeature('move')",
            ng-class="{ 'is-active': $ctrl.isModeEnabled('moving') }",
            ng-click="$ctrl.setMode('moving')",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.features.move' }",
          )
            .hi-fa-icon.fa.fa-arrows
        li.hi-main-toolbar-item
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.hasFeature('rotate')",
            ng-class="{ 'is-active': $ctrl.isModeEnabled('rotating') }",
            ng-click="$ctrl.setMode('rotating')",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.features.rotate' }",
          )
            .hi-fa-icon.fa.fa-repeat
        li.hi-main-toolbar-item
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.hasFeature('resize')",
            ng-class="{ 'is-active': $ctrl.isModeEnabled('resizing') }",
            ng-click="$ctrl.setMode('resizing')",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.features.resize' }",
          )
            .hi-fa-icon.fa.fa-expand
        li.hi-main-toolbar-item
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.hasFeature('remove')",
            ng-class="{ 'is-active': $ctrl.isModeEnabled('removing') }",
            ng-click="$ctrl.setMode('removing')",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.features.remove' }",
          )
            .hi-fa-icon.fa.fa-ban
      ul.hi-main-toolbar-group
        li.hi-main-toolbar-item
          button.hi-main-toolbar-button(
              type="button",
              ng-if="$ctrl.isToolEnabled('font-family')",
              ng-class="{ 'is-active': $ctrl.isToolbarEnabled('font-family') }",
              ng-click="$ctrl.enableToolbar('font-family')",
              translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.toolbar.font-family' }",
          )
            .hi-icon.icon.icon-font-family
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.isToolEnabled('font-size')",
            ng-class="{ 'is-active': $ctrl.isToolbarEnabled('font-size') }",
            ng-click="$ctrl.enableToolbar('font-size')",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.toolbar.font-size' }",
          )
            .hi-icon.icon.icon-font-size
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.isToolEnabled('text-color')",
            ng-class="{ 'is-active': $ctrl.isToolbarEnabled('text-color') }",
            ng-click="$ctrl.enableToolbar('text-color')",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.toolbar.text-color' }",
          )
            .hi-icon.icon.icon-text-color
      ul.hi-main-toolbar-group
        li.hi-main-toolbar-item
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.isToolEnabled('text-align-left')",
            ng-class="{ 'is-active': $ctrl.svg.isAlignLeftActive() }",
            ng-click="$ctrl.svg.alignLeft()",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.toolbar.text-align-left' }",
          )
            .hi-icon.icon.icon-text-align-left
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.isToolEnabled('text-align-center')",
            ng-click="$ctrl.svg.alignCenter()",
            ng-class="{ 'is-active': $ctrl.svg.isAlignCenterActive() }",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.toolbar.text-align-center' }",
          )
            .hi-icon.icon.icon-text-align-center
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.isToolEnabled('text-align-right')",
            ng-click="$ctrl.svg.alignRight()",
            ng-class="{ 'is-active': $ctrl.svg.isAlignRightActive() }",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.toolbar.text-align-right' }",
          )
            .hi-icon.icon.icon-text-align-right
      ul.hi-main-toolbar-group
        li.hi-main-toolbar-item
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.isToolEnabled('text-style-bold')",
            ng-click="$ctrl.svg.toggleBold()",
            ng-disabled="! $ctrl.svg.isBoldEnabled()",
            ng-class="{ 'is-active': $ctrl.svg.isBoldActive() }",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.toolbar.text-style-bold' }",
          )
            .hi-icon.icon.icon-text-style-bold
        li.hi-main-toolbar-item
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.isToolEnabled('text-style-italic')",
            ng-click="$ctrl.svg.toggleItalic()",
            ng-disabled="! $ctrl.svg.isItalicEnabled()",
            ng-class="{ 'is-active': $ctrl.svg.isItalicActive() }",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.toolbar.text-style-italic' }",
          )
            .hi-icon.icon.icon-text-style-italic
        li.hi-main-toolbar-item
          button.hi-main-toolbar-button(
            type="button",
            ng-if="$ctrl.isToolEnabled('text-style-underline')",
            ng-disabled="! $ctrl.svg.isUnderlineEnabled()",
            ng-click="$ctrl.svg.toggleUnderline()",
            ng-class="{ 'is-active': $ctrl.svg.isUnderlineActive() }",
            translate-attr="{ 'title': 'hi.main.editor.invite-card.svg-editor.toolbar.text-style-underline' }",
          )
            .hi-icon.icon.icon-text-style-underline
  .hi-sub-toolbars
    .container-sub-toolbars
      .hi-sub-toolbar(ng-if="$ctrl.isToolbarEnabled('font-family')")
        hi-invite-card-editor-v1-svg-font-family-toolbar
      .hi-sub-toolbar(ng-if="$ctrl.isToolbarEnabled('font-size')")
        hi-invite-card-editor-v1-svg-font-size-toolbar
      .hi-sub-toolbar(ng-if="$ctrl.isToolbarEnabled('text-background')")
        hi-invite-card-editor-v1-svg-text-background-toolbar
      .hi-sub-toolbar(ng-if="$ctrl.isToolbarEnabled('text-color')")
        hi-invite-card-editor-v1-svg-text-color-toolbar