.component-invite-card-editor-v1-preview {
  .hi-modal {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 9999;
  }

  .hi-modal-backdrop {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
  }

  .hi-modal-contents {
    z-index: 2;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;;
  }

  .hi-modal-content {
    max-height: calc(100vh - 40px);
    overflow: auto;
    border: 1px solid #ffffff;
  }

  .hi-modal-img-box {
    font-size: 0;
  }

  .hi-modal-close {
    button.hi-modal-close-button {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
      font-size: 48px;
      color: rgba(255, 255, 255, 0.8);
      user-select: none;
      cursor: pointer;
      outline: none;
      vertical-align: top;
      background: none;
      position: fixed;
      right: 20px;
      top: 20px;

      &:hover {
        color: rgba(255, 255, 255, 1.0);
      }
    }
  }
}