.component.component-invite-card-editor-v1-preview
  .hi-modal(ng-if="$ctrl.isVisible()")
    .hi-modal-backdrop
    .hi-modal-contents
      .hi-modal-content
        hi-ui-loading-top-indicator(ng-if="$ctrl.getStatus().isLoading()")
        .hi-modal-img-box(ng-if="$ctrl.hasImage()")
          img(ng-src="{{ $ctrl.getImageURL() }}")
      .hi-modal-close
        button.hi-modal-close-button(ng-click="$ctrl.close()") &times;