.layout__account {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;

  .reg {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    box-sizing: border-box;
    overflow: auto;
  }

  span.ng-input-error {
    color: red;
  }
}