.component.component-event-landing-editor-preview-button
  .event(ng-if="$ctrl.isAvailable()")
    .event__finish.js-ev-finish
      .event__finish-text {{ 'hi.editor.event-landing.finish.text' | translate }}
      button.event__btn(ng-click="$ctrl.preview()", ng-disabled="$ctrl.status.isLoading()")
        i.icon.icon-reply
        span {{ 'hi.editor.event-landing.finish.button' | translate }}
