.component-envelope-editor-v1-mark {
  .hi-envelope-mark-container {
    position: absolute;

    .hi-happy-invite-stamp {
      position: absolute;
      margin-left: -150px;
      margin-top: -20px;
    }

    .hi-envelope-mark {
      width: 163px;
      height: 106px;
      overflow: hidden;
      background-image: url('./resources/mark_holder.png');
      background-repeat: no-repeat;
      background-size: cover;

      .hi-envelope-mark-holder {
        width: 149px;
        height: 92px;
        overflow: hidden;
        margin-left: 7px;
        margin-top: 7px;

        >img {
          width: 100%;
        }
      }
    }
  }
}