.component.component-envelope-editor-v1-mark
  .hi-envelope-mark-container(ng-if="$ctrl.visible && $ctrl.ready", ng-style="$ctrl.getMarkContainerCSS()")
    .hi-happy-invite-stamp
      img(ng-src="{{ $ctrl.getHappyInviteStamp() }}")
    .hi-envelope-mark(ng-if="$ctrl.current")
      .hi-envelope-mark-holder
        img(ng-src="{{ $ctrl.current }}")