.component-envelope-editor-v1-toolbar-font-family {
  .toolbar-flexbox-container {
    display: flex;
    justify-content: center;

    .toolbar-flexbox-item-window-controls {
      width: 30px;
      height: 44px;
      overflow: hidden;
      text-align: center;

      button.toolbar-flexbox-button-window-controls {
        padding: 1px;
        border: 1px solid #ffffff;
        width: 30px;
        height: 44px;
        overflow: hidden;
        text-align: center;

        &:hover {
          background-color: #cccccc;
        }

        .toolbar-icon {
          font-size: 16px;
          line-height: 38px;
        }
      }
    }

    .toolbar-flexbox-item {
      height: 44px;
      overflow: hidden;

      &.is-active {
        button.toolbar-flexbox-button {
          border: 1px solid #fcce00!important;
          background-color: #fcce00!important;
        }
      }

      button.toolbar-flexbox-button {
        .font-preview {
          padding: 1px;

          img {
            max-height: 36px;
            max-width: 150px;
            pointer-events: none;
          }
        }

      }
    }
  }

  button.toolbar-flexbox-button {
    border: 1px solid #ffffff;
    padding: 1px;

    &:hover {
      background-color: #cccccc;
    }
  }
}