.component.component-envelope-editor-v1-toolbar-font-family
  .toolbar-flexbox-container
    .toolbar-flexbox-item-window-controls
      button.toolbar-flexbox-button-window-controls(ng-click="$ctrl.window.prev()", ng-if="$ctrl.window.hasPrev()")
        .toolbar-icon.toolbar-icon-window-list-prev
    .toolbar-flexbox-item(
      ng-repeat="font in $ctrl.window.list()",
      ng-class="{ 'is-active': $ctrl.isActive(font) }"
    )
      button.toolbar-flexbox-button(ng-click="$ctrl.click(font)")
        .font-preview
          img(ng-src="{{ $ctrl.getFontPreview(font) }}", alt="{{ $ctrl.getFontPreviewAlt(font) }}")
    .toolbar-flexbox-item-window-controls
      button.toolbar-flexbox-button-window-controls(ng-click="$ctrl.window.next()", ng-if="$ctrl.window.hasNext()")
        .toolbar-icon.toolbar-icon-window-list-next