{% extends "@main/layout/skeleton.html.twig" %}

{% block global_scripts %}
  <script src="/dist/bundles/bootstrap.js"></script>
  <script src="/dist/bundles/main.js?random={{ random() }}"></script>
  <script src="/dist/bundles/landing.js"></script>
{% endblock %}

{% block skeleton_content %}
  {% include('@main/layout/component/public-header.html.twig') %}
  {% block content %}{% endblock %}
  {% include('@main/layout/component/public-footer.html.twig') %}

  <script src="/dist/js/jquery.js"></script>
  <script src="/dist/js/slick.min.js"></script>
  <script src="/dist/js/common.js"></script>
{% endblock %}