<!DOCTYPE html>
{% if angular_app is defined  %}
<html ng-app="{{ angular_app }}" ng-strict-d>
{% else %}
<html ng-app="hi-main" ng-strict-d>
{% endif %}
<head>
  {% include "@main/layout/component/session.html.twig" %}
  {% include "@main/layout/component/meta.html.twig" %}
  {% block global_scripts %}
    <script src="/dist/bundles/bootstrap.js"></script>
    <script src="/dist/bundles/main.js?random={{ random() }}"></script>
  {% endblock %}
  {% block secondary_scripts %}
  {% endblock %}
</head>
<body>
<div class="wrapper">
  {% include "@main/layout/component/angular-globals.html.twig" %}

  <div class="top top_welcome">
    <!-- center -->
    <div class="top__in center center_p20 l">
      <div class="top__left">
        {% include "@main/layout/component/main-menu.html.twig" %}
        {% include "@main/layout/component/logo.html.twig" %}
        {% include "@main/layout/component/welcome-4-steps.html.twig" %}
      </div>
      <div class="top__right">
        {% include "@main/layout/component/pay.html.twig" %}
        {% include "@main/layout/component/logout.html.twig" %}
      </div>
  </div>
  </div>
  {% block skeleton_content %}{% endblock %}
</div>
</body>
</html>