<!doctype html>
{% if angular_app is defined  %}
  <html ng-app="{{ angular_app }}" ng-strict-d>
{% else %}
  <html ng-app="hi-main" ng-strict-d>
{% endif %}
<head>
    {% include "@main/layout/component/meta.html.twig" %}
    {% include "@main/layout/component/session.html.twig" %}
    {% block global_scripts %}
        <script src="/dist/bundles/bootstrap.js"></script>
        <script src="/dist/bundles/main.js?random={{ random() }}"></script>
    {% endblock %}
    {% block secondary_scripts %}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    {% include "@main/layout/component/angular-globals.html.twig" %}
    {% block skeleton_content %}{% endblock %}
</div>
</body>
</html>