<!doctype html>
{% if angular_app is defined  %}
  <html ng-app="{{ angular_app }}" ng-strict-d>
{% else %}
  <html ng-app="hi-main" ng-strict-d>
{% endif %}
<head>
  {% include "@main/layout/component/session.html.twig" %}
  {% include "@main/layout/component/meta.html.twig" %}
  {% block global_scripts %}
    <script src="/dist/bundles/bootstrap.js"></script>
    <script src="/dist/bundles/main.js?random={{ random() }}"></script>
  {% endblock %}
</head>
<body>
  {% include "@main/layout/component/angular-globals.html.twig" %}

  <div class="wrapper">
    <div class="top top_welcome">
      {% include('@main/layout/component/public-header.html.twig') %}
      {% block skeleton_content %}{% endblock %}
      {% include('@main/layout/component/public-footer.html.twig') %}
    </div>
  </div>
</body>
</html>