.component.component-event-landing-editor-v1-block-social-networks {
  background-image: url('./../../../../../../../../../resources/img/header/bg.png');

  >h1 {
    margin: 10px 0 40px;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }
}