.component.component-event-landing-editor-v1-block-social-networks
  hi-event-landing-editor-v1-destroy-block(block="$ctrl.block")
  .event
    .event__social
      .event__social-title {{ 'hi.main.event.landing.blocks.resources.social-networks.title' | translate }}
      .panel.panel_repost
        .panel__social
          .panel__social-list
            label.checkbox.checkbox_fb
              input(type='checkbox', ng-model='$ctrl.block.enabled["facebook"]')
              span.checkbox__in
                span.checkbox__select
                  i.icon.icon-check
                span.checkbox__name
                  i.icon.icon-social-facebook
            label.checkbox.checkbox_vk
              input(type='checkbox', ng-model='$ctrl.block.enabled["vkontakte"]')
              span.checkbox__in
                span.checkbox__select
                  i.icon.icon-check
                span.checkbox__name
                  i.icon.icon-vk
            label.checkbox.checkbox_tw
              input(type='checkbox', ng-model='$ctrl.block.enabled["twitter"]')
              span.checkbox__in
                span.checkbox__select
                  i.icon.icon-check
                span.checkbox__name
                  i.icon.icon-twitter
            label.checkbox.checkbox_pi
              input(type='checkbox', ng-model='$ctrl.block.enabled["pinterest"]')
              span.checkbox__in
                span.checkbox__select
                  i.icon.icon-check
                span.checkbox__name
                  i.icon.icon-pinterest2
            label.checkbox.checkbox_in
              input(type='checkbox', ng-model='$ctrl.block.enabled["linkedin"]')
              span.checkbox__in
                span.checkbox__select
                  i.icon.icon-check
                span.checkbox__name
                  i.icon.icon-linkedin2
            label.checkbox.checkbox_ok
              input(type='checkbox', ng-model='$ctrl.block.enabled["odnoklassniki"]')
              span.checkbox__in
                span.checkbox__select
                  i.icon.icon-check
                span.checkbox__name
                  i.icon.icon-ok