.component.component-event-landing-editor-v1
  hi-ui-loading-top-indicator(ng-if="$ctrl.isLoading()")
  .editor-container
    .switchers-container
      hi-event-landing-editor-v1-switchers
    .disabled-container(ng-if="$ctrl.isDisabled()")
      hi-event-landing-editor-v1-disabled
    .blocks-containers(ng-if="! $ctrl.isDisabled()")
      .block-container
        hi-event-landing-editor-v1-block-header(block="$ctrl.getHeaderBlock()")
      .block-container(ng-repeat="(index, block) in $ctrl.getProgramBlocks()")
        hi-event-landing-editor-v1-block-program(block="block", index="index")
      .block-container(ng-repeat="block in $ctrl.getBlocks()")
        hi-event-landing-editor-v1-block-custom(block="block", ng-if="block.type === 'custom'")
        hi-event-landing-editor-v1-block-dress-code(block="block", ng-if="block.type === 'dress-code'")
        hi-event-landing-editor-v1-block-photo-gallery(block="block", ng-if="block.type === 'photo-gallery'")
        hi-event-landing-editor-v1-block-guests-list(block="block", ng-if="block.type === 'guests-list'")
        hi-event-landing-editor-v1-block-wishes(block="block", ng-if="block.type === 'wishes'")
        hi-event-landing-editor-v1-block-social-networks(block="block", ng-if="block.type === 'social-networks'")
  .unavailable-container
    hi-event-landing-editor-v1-unavailable