@import "./../../../../../../styles/mixins/media";

.component-event-invite-card-editor {
  @include phone {
    .hi-event-editor-unavailable {
      display: block;
    }

    .hi-event-editor-contents {
      position: absolute;
      width: 0; height: 0;
      overflow: hidden;
    }
  }

  @include tablet-or-desktop {
    .hi-event-editor-unavailable {
      display: none;
    }

    .hi-event-editor-contents {
      position: relative;
      width: auto;
      height: auto;
      display: block;
    }

    .flexbox-container {
      width: 100%;

      >.hi-event-invite-card-editor-toolbars {
        background-color: #ffffff;
        z-index: 2;
      }

      >.hi-event-invite-card-editor-viewport {
        z-index: 1;
      }

      >.hi-event-invite-card-editor-toolbars, >.hi-event-invite-card-editor-viewport {
        margin: 0 auto;
        width: 940px;
      }
    }

    .sticky-wrapper.is-sticky {
      .hi-event-invite-card-editor-toolbars {
        z-index: 100!important;
        background-color: #ffffff;
      }
    }
  }
}