.component.component-event-invite-card-editor(ng-if="$ctrl.isReady()")
  .hi-event-editor-unavailable
    hi-invite-card-editor-v1-unavailable
  .hi-event-editor-contents
    hi-invite-card-editor-v1-preview
    hi-invite-card-editor-v1-file-drop-router
    .flexbox-container
      .hi-event-invite-card-editor-toolbars
        hi-event-invite-card-editor-v1-toolbar
      .hi-event-invite-card-editor-viewport
        hi-invite-card-editor-v1-viewport