.component.component-account-register-proceed
  div(ng-if="$ctrl.screen === 'sending'")
    .reg__form.reg__form_message
      .reg__title {{ 'hi.main.account.register-proceed.register' | translate }}
      .reg__in
        .reg__info {{ 'hi.main.account.register-proceed.processing' | translate }}
  div(ng-if="$ctrl.screen === 'success'")
    .reg__form.reg__form_message
      .reg__title {{ 'hi.main.account.register-proceed.register' | translate }}
      .reg__in
        .reg__info {{ 'hi.main.account.register-proceed.success' | translate }}
        .reg__info.reg__link
          a.reg__link(href='/browser') {{ 'hi.main.account.register-proceed.proceed' | translate }}
  div(ng-if="$ctrl.screen === 'duplicate'")
    .reg__form.reg__form_message
      .reg__title {{ 'hi.main.account.register-proceed.register' | translate }}
      .reg__in
        .reg__info {{ 'hi.main.account.register-proceed.already-registered' | translate }}
        .reg__info.reg__link
          a.reg__link(href='/account/forgot-password') {{ 'hi.main.account.register-proceed.request-reset-password' | translate }}
  div(ng-if="$ctrl.screen === 'error'")
    .reg__form.reg__form_message
      .reg__title {{ 'hi.main.account.register-proceed.register' | translate }}
      .reg__in
        .reg__info {{ 'hi.main.account.register-proceed.link-inactive' | translate }}
        .reg__info.reg__link
          a.reg__link(href='/account/sign-in') {{ 'hi.main.account.register-proceed.button-sign-in' | translate }}
          a.reg__link(href='/account/register') {{ 'hi.main.account.register-proceed.button-register' | translate }}
