.settings.settings_filter
  button.settings__btn.js-settings-btn
    i.icon.icon-menu
  .settings__list
    a.settings__item(href='/solutions/designer', ng-if="$ctrl.isDesignerCabinetAvailable()")
      span.settings__icon
        i.icon.icon-Painting
      span.settings__name
        span.settings__text
          | {{ 'hi.main.ui.main-menu.designer-cabinet.l1' | translate }}
          br
          | {{ 'hi.main.ui.main-menu.designer-cabinet.l2' | translate }}
    a.settings__item(href='#')
      span.settings__icon
        i.icon.icon-user-settings
      span.settings__name
        span.settings__text
          | {{ 'hi.main.ui.main-menu.settings.l1' | translate }}
          br
          | {{ 'hi.main.ui.main-menu.settings.l2' | translate }}
    a.settings__item.is-active(href='#')
      span.settings__icon
        i.icon.icon-delivery
      span.settings__name
        span.settings__text
          | {{ 'hi.main.ui.main-menu.mailing.l1' | translate }}
          br
          | {{ 'hi.main.ui.main-menu.mailing.l2' | translate }}
    a.settings__item(href='#')
      span.settings__icon
        i.icon.icon-user-contact
      span.settings__name
        span.settings__text
          | {{ 'hi.main.ui.main-menu.address-book.l1' | translate }}
          br
          | {{ 'hi.main.ui.main-menu.address-book.l2' | translate }}
          br
          | {{ 'hi.main.ui.main-menu.address-book.l3' | translate }}
    a.settings__item(href='#')
      span.settings__icon
        i.icon.icon-user-ask
      span.settings__name
        span.settings__text {{ 'hi.main.ui.main-menu.help' | translate }}
    a.settings__item(href='#')
      span.settings__icon
        i.icon.icon-user-mail
      span.settings__name
        span.settings__text
          | {{ 'hi.main.ui.main-menu.free-mailing.l1' | translate }}
          br
          | {{ 'hi.main.ui.main-menu.free-mailing.l2' | translate }}