@font-face {
    font-family: 'Anastasia Script';
    font-style: normal;
    font-weight: normal;
    /*noinspection CssUnknownTarget*/
    src: local('Anastasia Script'), url($1) format('truetype');
}