.moment-picker {
  z-index: 9999;
  font-size: 14px!important;
  text-decoration: none;
  color: #020202;
  font-family: 'Open Sans', sans-serif;
  line-height: 18.2px;

  &.top {
    padding: 0!important;
  }

  .moment-picker-container {
    border-radius: 0;
    border: 1px solid #000000;
  }

  .moment-picker-container:after {
    border-top-color: #000!important;
  }
}