$COLOR_INVALID_RED: #f60;

form.ng-submitted {
  input[type="text"].ng-invalid {
    border-color: $COLOR_INVALID_RED!important;
    outline: 2px solid lighten($COLOR_INVALID_RED, 40%);
  }
}

.field_errors {
  .field_error {
    text-align: left;
    font-size: 12px!important;
    color: #ff0000;
    line-height: 20px;
    margin-top: 10px;
  }
}