.center.center_fixed
    .panel.panel_contact
        .panel__head
            .panel__title {{ 'hi.main.event.mailing.contact-book.import.manual.add-contacts' | translate }}
        .panel__body
            // switch
            label.switch.switch_guests
                input.switch__input.js-switch-toggle(ng-model='$ctrl.model.ContactBookManager.manual.isPair', ng-change='$ctrl.changeContactsStatement()' type='checkbox')
                span.switch__in
                    span.switch__gender-left
                        span.switch__gender-text
                            | {{ 'hi.main.event.mailing.contact-book.import.manual.one-guest-1' | translate }}
                            br
                            | {{ 'hi.main.event.mailing.contact-book.import.manual.one-guest-2' | translate }}
                        i.icon.icon-man
                    span.switch__el
                        span.switch__labels
                            span.switch__icon
                    span.switch__gender-right
                        i.icon.icon-couple
                        span.switch__gender-text
                          | {{ 'hi.main.event.mailing.contact-book.import.manual.couple-1' | translate }}
                          br
                          | {{ 'hi.main.event.mailing.contact-book.import.manual.couple-2' | translate }}
            .panel__row(ng-repeat='contact in $ctrl.contacts')
                // field
                .field
                    .field__in
                        input.input(ng-model='contact.first_name', type='text', name='name', placeholder="{{ 'hi.main.event.mailing.contact-book.import.manual.name' | translate }}")
                // field
                .field
                    .field__in
                        input.input(ng-model='contact.last_name', type='text', name='surname', placeholder="{{ 'hi.main.event.mailing.contact-book.import.manual.surname' | translate }}")
                // field
                .field
                    .field__in
                        input.input(ng-model='contact.email', type='text', name='mail', placeholder="{{ 'hi.main.event.mailing.contact-book.import.manual.e-mail' | translate }}")
            .panel__row-switch
                // switch
                label.switch
                    input.switch__input(ng-model='$ctrl.model.ContactBookManager.manual.plusPerson', type='checkbox')
                    span.switch__in
                        span.switch__el
                            span.switch__labels
                                span.switch__text {{ 'hi.main.event.mailing.contact-book.on' | translate }}
                                span.switch__icon
                                    i.icon.icon-check
                                    i.icon.icon-check-no
                                span.switch__text {{ 'hi.main.event.mailing.contact-book.off' | translate }}
                .panel__row-switch-title
                  | {{ 'hi.main.event.mailing.contact-book.import.manual.invite-one-1' | translate }}
                  br
                  | {{ 'hi.main.event.mailing.contact-book.import.manual.invite-one-2' | translate }}
            // select
            .select.select_close.js-sel
                .select__head(ng-click='$ctrl.changeGroupSelectorStatement()')
                    .select__head-title.js-sel-head-title
                        .select__title.js-sel-title {{$ctrl.getCurrentGroupTitle($ctrl.currentGroup)}}
                        .select__icon
                            i.icon.icon-arrow-down
                    .select__head-value.js-sel-head-value
                        .select__value.js-sel-value Value
                        .select__icon
                            i.icon.icon-check-no
                .select__list.js-sel-list.js-add-group(ng-if='$ctrl.isGroupSelectorVisible')
                    .js-add-group-list
                        a.select__item(ng-repeat='group in $ctrl.model.ContactBookManager.contactGroups', ng-click='$ctrl.changeCurrentGroup(group)') {{$ctrl.getGroupTitle(group)}}
                    .select__input
                        .select__input-title {{ 'hi.main.event.mailing.contact-book.import.manual.create' | translate }}
                        .field
                            .field__in
                                input.input.js-add-group-input(ng-model='$ctrl.newGroupTitle', type='text', name='name-select')
                                button.field__btn.js-add-group-btn(ng-click='$ctrl.addNewGroup()')
                                    i.icon.icon-floppy
                input.js-sel-input(type='hidden')
        .panel__foot
            button.btn-yellow(ng-click='$ctrl.goBack()') {{ 'hi.main.event.mailing.contact-book.import.manual.back' | translate }}
            button.btn-yellow(ng-disabled='$ctrl.checkRequiresFields()', ng-class='{"is-disabled": $ctrl.checkRequiresFields()}', ng-click='$ctrl.pushContacts()') {{ 'hi.main.event.mailing.contact-book.import.manual.add' | translate }}