{% set angular_app = 'hi-event-landing' %}

{% extends "@main/event-landing/layout/event-landing.html.twig" %}

{% block content %}
  <hi-event-landing-root-route></hi-event-landing-root-route>
{% endblock %}