.component-event-landing-v1-block-header {
  img.main-header-image {
    width: 100%;
  }

  .event__img {
    .event__title {
      z-index: 2;
    }

    .event-title-bg {
      z-index: 1;
      position: absolute;
      bottom: 0; height: 120px;
      left: 0; right: 0;
    }
  }
}