.component.component-event-landing-v1-block-header(ng-if="! $ctrl.status.isLoading()")
  .event
    .event__img
      img(ng-src='{{ $ctrl.getCurrentImage() }}')
      .event__title
        .event-title-texts
          .event__center.center.center_fixed
            .event__title-in(ng-if="$ctrl.hasHeader()")
              .event__title-date(ng-if='$ctrl.hasDate()')
                .event__title-day {{ $ctrl.getDate() }}
                .event__title-info
                  .event__title-month {{ $ctrl.getMonth() }}
                  .event__title-year {{ $ctrl.getYear() }}
              .event__title-content
                .event__title-name(ng-bind-html='$ctrl.getTrustedHTML($ctrl.block.eventTitle)')
                .event__title-organizer(ng-bind-html='$ctrl.getTrustedHTML($ctrl.block.organizer)')
      .event-title-bg(ng-if="$ctrl.hasBg()", ng-style="$ctrl.getColorCSS()")
    .event__slogan(ng-if="$ctrl.hasSubTitle()")
      .event__center.center.center_fixed(ng-bind-html='$ctrl.getTrustedHTML($ctrl.block.description)')