.component-event-landing-editor-v1-text-input {
  height: 100%;

  .flexbox-container {
    display: flex;

    &.is-multiline {
      height: 100%;
    }

    .textarea-container {
      height: 100%;
    }

    .flexbox-text {
      flex-basis: 100%;

      textarea {
        width: 100%;
        height: 100%;
        min-height: 34px;
        padding: 0 10px;
        border: 1px solid #edce16;
        background: #fff;
        font-family: Georgia, serif;
        color: #020202;
        resize: none;

        &::-webkit-input-placeholder {
          color: #020202;
        }
        &::-moz-placeholder {
          color: #020202;
        }
        &:-moz-placeholder {
          color: #020202;
        }
        &:-ms-input-placeholder {
          color: #020202;
        }
      }

      input[type="text"] {
        width: 100%;
        min-height: 34px;
        padding: 0 10px;
        border: 1px solid #edce16;
        background: #fff;
        font-family: Georgia, serif;
        color: #020202;

        &::-webkit-input-placeholder {
          color: #020202;
        }
        &::-moz-placeholder {
          color: #020202;
        }
        &:-moz-placeholder {
          color: #020202;
        }
        &:-ms-input-placeholder {
          color: #020202;
        }
      }
    }

    .flexbox-button {
      flex-basis: 34px;
      flex-shrink: 0;
      overflow: hidden;

      button.focus-button {
        vertical-align: top;
        width: 34px;
        height: 34px;
        background: #edce16;
        text-align: center;
        font-size: 0;

        &:hover {
          background: #fff;
          box-shadow: inset 0 0 0 1px #edce16;
        }

        .icon {
          display: inline-block;
          margin-top: -1px;
          vertical-align: middle;
          font-size: 21px;
        }
      }
    }
  }
}