.component.component-event-landing-editor-v1-text-input
  .flexbox-container(ng-class="{ 'is-multiline': $ctrl.isMultiLine() }")
    .flexbox-text
      .input-container(ng-if="$ctrl.isSingleLine()")
        input(
          type="text",
          ng-style="$ctrl.getInputCSS()",
          placeholder="{{ $ctrl.placeholder }}",
          ng-model="$ctrl.value",
          id="{{ $ctrl.id }}",
        )
      .textarea-container(ng-if="$ctrl.isMultiLine()")
        textarea(
          ng-style="$ctrl.getTextAreaCSS()",
          placeholder="{{ $ctrl.placeholder }}",
          ng-model="$ctrl.value",
          id="{{ $ctrl.id }}",
        )
    .flexbox-button
      button.focus-button(ng-click="$ctrl.focus()")
        i.icon.icon-edit