.component-envelope-editor-v1-view-port {
  .view-port-container {
    display: flex;
    justify-content: center;

    .view-container {
      position: relative;
    }
  }

  .view-status {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 30;

    >.backdrop {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      background-color: rgba(255, 255, 255, 0.8);
    }

    >.loader {
      position: absolute;
      top: 0; height: 5px;
      left: 0; right: 0;
    }
  }

  .view {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    .view-layer {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      overflow: hidden;
    }

    .view-layer-1 { z-index: 1; }
    .view-layer-2 { z-index: 2; }
    .view-layer-3 { z-index: 3; }
    .view-layer-4 { z-index: 4; }
    .view-layer-5 { z-index: 5; }
    .view-layer-6 { z-index: 6; }
    .view-layer-7 { z-index: 7; }
    .view-layer-8 { z-index: 8; }
    .view-layer-9 { z-index: 9; }

    .view-container-convert {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 20;
    }

    .view-container-backdrop {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      z-index: 10;

      >.backdrop {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        background-repeat: repeat;
      }
    }
  }

  .view-back-convert {
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin: 50px 60px;

    .view-back-convert-pattern {
      position: absolute;
    }

    .view-invite-card-preview {
      position: absolute;
    }

    .view-back-convert-top {
      position: relative;
      top: 15px;
    }

    .view-back-convert-bottom {
      position: relative;
      overflow: hidden;
    }
  }
}