.component.component-envelope-editor-v1-view-port
  .view-port-container
    .view-container
      .view-status(ng-if="$ctrl.isBlocked()")
        .backdrop
        .loader
          hi-ui-loading-top-indicator
      .view.view-front(
          ng-if="$ctrl.isFront()",
          ng-style="$ctrl.css.getViewCSS()",
          ondragstart="return false;"
          ondrop="return false;",
        )
        .view-container-convert(ng-style="$ctrl.css.getConvertCSS()")
          .view-layer.view-layer-1
            .hi-convert-front-container(ng-if="$ctrl.css.images.front",)
              img(ng-src="{{ $ctrl.css.images.front }}")
          .view-layer.view-layer-2
          .view-layer.view-layer-3
          .view-layer.view-layer-4
          .view-layer.view-layer-5
          .view-layer.view-layer-6
          .view-layer.view-layer-7
          .view-layer.view-layer-8
            hi-envelope-editor-v1-mark
          .view-layer.view-layer-9
            hi-envelope-editor-v1-recipient
      .view.view-back(
        ng-if="$ctrl.isBack()",
        ondragstart="return false;"
        ondrop="return false;",
      )
        .view-container-backdrop
          .backdrop(ng-style="$ctrl.css.getBackdropCSS()")
        .view-back-convert
          .view-back-convert-pattern
            img(ng-src="{{ $ctrl.getPatternImageURL() }}")
          .view-back-convert-top
            img(ng-src="{{ $ctrl.getCurrentTextureResource().attachments.cornerBack.link.url }}")
          .view-invite-card-preview
            img(ng-src="{{ $ctrl.css.getInviteCardImagePreview() }}")
          .view-back-convert-bottom(ng-style="$ctrl.css.getConvertBackCSS()")
            img(ng-src="{{ $ctrl.getCurrentTextureResource().attachments.back.link.url }}")