.component-invite-card-template-browser-streams {
  .filter__template {
    opacity: 1;
    margin-bottom: 10px;
  }

  .filter__col {
    width: 100%;
  }

  .streams {
    .stream-column {
      margin: 10px;

      .stream-item {
        margin-bottom: 20px;
      }
    }
  }
}