.component.component-invite-card-template-browser-streams
  .popups
    hi-invite-card-template-browser-preview(
    current="$ctrl.preview.template",
    family="$ctrl.preview.family",
    ng-if="$ctrl.preview.enabled",
    on-close="$ctrl.preview.close()"
  )
  .filter.filter_album
    .filter__center.filter-center-results-container.center
      .filter__wrap
        .filter__col
          .results(id="{{ $ctrl.resultsContainerId }}")
            .streams(ng-if="$ctrl.isotope", ng-style="$ctrl.isotope.getCSSContainer()")
              .stream-column(ng-style="stream.css", ng-repeat="stream in $ctrl.isotope.getStreams() track by stream.position", id="{{ stream.id }}")
                .stream-item(
                  ng-repeat="family in stream.items track by family.entity.id",
                  ng-if="$ctrl.isValid(family)",
                  ng-style="$ctrl.stream.getCSSContainer()"
                )
                  .filter__template
                    hi-invite-card-template-browser-card(
                      family="family",
                      on-image-click="$ctrl.open(template)",
                    )