.component.component-envelope-editor-v1-toolbar-mark
  .toolbar-flexbox-image-select
    .toolbar-flexbox-image-select-container
      .toolbar-flexbox-image-select-container-center
        .toolbar-flexbox-image-select-window-controls
          button.toolbar-flexbox-image-select-window-control-button(ng-click="$ctrl.window.prev()", ng-if="$ctrl.window.hasPrev()")
            .toolbar-icon.toolbar-icon-window-list-prev
        .toolbar-flexbox-image-select-item(
          ng-class="{ 'is-active': $ctrl.isActive(variant) }",
          ng-repeat="variant in $ctrl.window.list()",
          ng-click="$ctrl.click(variant)"
        )
          button.toolbar-flexbox-image-select-button
            .item-preview(ng-style="$ctrl.getMarkVariantCSS(variant)")
        .toolbar-flexbox-image-select-window-controls
          button.toolbar-flexbox-image-select-window-control-button(ng-click="$ctrl.window.next()", ng-if="$ctrl.window.hasNext()")
            .toolbar-icon.toolbar-icon-window-list-next