.component-envelope-editor-v1-toolbar-font {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .hi-font-toolbar {
    width: 485px;
    height: 34px;
    display: block;
    white-space: nowrap;
    background-color: #efefef;
    text-align: center;
    overflow: hidden;
    padding: 0 20px;

    .sub-font-toolbar-item {
      display: inline-block;
      vertical-align: top;
      width: 34px;
      height: 34px;
      margin: 0 10px;

      button.sub-font-toolbar-button {
        display: flex;
        width: 100%;
        height: 100%;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        align-content: center;

        .hi-font-toolbar-icon {
          font-size: 24px;
          color: #000000;
        }

        &:disabled {
          .hi-font-toolbar-icon {
            color: #999999!important;
          }
        }
      }

      &:hover, &.is-active {
        background-color: #fcce00;
      }
    }
  }

  .hi-font-sub-toolbar {
    margin-top: 5px;
  }
}