.component-envelope-editor-v1-toolbar-font {
  .hi-font-toolbar-icon {
    font-family: 'text_redactor_menu_icon'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 22px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  .hi-font-toolbar-icon-font-family:after { content: "\e800"; }
  .hi-font-toolbar-icon-text-size:after { content: "\e801"; }
  .hi-font-toolbar-icon-text-color:after { content: "\e805"; }
  .hi-font-toolbar-icon-bold:after { content: "\e802"; }
  .hi-font-toolbar-icon-italic:after { content: "\e803"; }
  .hi-font-toolbar-icon-underline:after { content: "\e804"; }
}