.tabs-form__item.js-form-tabs-item(style='display: block;')
  // reply
  .reply
    // checkbox
    label.checkbox
      input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.baseInfo.answersCollect')
      span.checkbox__in
        span.checkbox__select
          i.icon.icon-check
        span.checkbox__name Я хочу собирать ответы гостей о посещении моего мероприятия
    .reply__line
      .reply__settings Установить дату окончания получения ответа
        .field.field_small
          .field__in
            input.input.input_small(type='text', name='number', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.baseInfo.date', ng-readonly='true', ng-model-options="{ updateOn: 'blur' }", moment-picker="$ctrl.model.CollectGuestAnswersEditor.blocks.baseInfo.date", format="YYYY-MM-DD", locale='ru')
    // checkbox
    label.checkbox.checkbox_mb15
      input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.baseInfo.answersAfterDateOver')
      span.checkbox__in
        span.checkbox__select
          i.icon.icon-check
        span.checkbox__name Позволять отправлять ответы после указанной даты
    .reply__line
      .reply__settings Установить максимальное количество гостей
      // field
      .field.field_small
        .field__in
          input.input.input_small(type='number', name='number', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.baseInfo.guestsMax')
    // checkbox
    label.checkbox.checkbox_mb23
      input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.baseInfo.showEmptySpaces')
      span.checkbox__in
        span.checkbox__select
          i.icon.icon-check
        span.checkbox__name Позволить гостям видеть количество оставшихся мест
    .reply__align.l
      .reply__settings.reply__settings_p0 Разместить сообщение в блоке со сбором ответов гостей:
    // field
    .field.field_mb14
      .field__in
        textarea.textarea(name='textarea', id='', placeholder='Поле для ввода с текстовой панелью', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.baseInfo.description')