.component.component-event-landing-v1-block-wishes(ng-if="! $ctrl.status.isLoading() && $ctrl.visible")
  .event
    .event__center.center.center_fixed
      .event__item.event__item_simple
        .event__name
          .event__name-center
            .event__name-text(ng-if="  $ctrl.has($ctrl.block.title)", ng-bind-html="$ctrl.block.title")
            .event__name-text(ng-if="! $ctrl.has($ctrl.block.title)") {{ 'hi.main.event.landing.blocks.resources.wishes.title' | translate }}
            .event__name-left
            .event__name-right
        .event__row.event__row_big
          .event__col
            .event__gift
              p(ng-repeat='wish in $ctrl.listLeft') {{ wish }}
          .event__col
            .event__gift
              p(ng-repeat='wish in $ctrl.listRight') {{ wish }}