.component-designer-request-form {
  .form-error {
    color: red;
    text-align: center;
    padding: 15px 5px;
    background-color: white;
    font-family: "Acrom Medium", Arial, sans-serif;
    font-size: 14px;
  }

  .info__row_success {
    padding: 150px 20px;

    p {
      text-align: center;
      padding: 25px 10px;
      margin-bottom: 10px;
      font-size: 14px;
      color: #999;
    }
  }
}