.component.component-designer-request-form
  form(name="form", novalidate, ng-submit="form.$valid && $ctrl.ngSubmit($event)")
    .info__title Анкета
    .info__form
      .ng-screen(ng-if="$ctrl.screen === 'success'")
        .info__row.info__row_success
          p Ваша заявка успешна отправлена. Когда мы рассмотрим вашу заявку и примем решение, вы получение уведомление по указанному в форме адресу электронной почты.
      .ng-screen(ng-if="$ctrl.screen === 'form'")
        .info__row
          .info__col
            // field
            .field
              .field__in
                input.input(type='text', required, name='first_name', placeholder='Имя', ng-model="$ctrl.model.first_name", ng-disabled="$ctrl.disabled", maxlength="127")
                .field_errors(ng-if='form.$submitted', ng-messages="form.first_name.$error", role="alert")
                  .field_error(ng-message="required") Это поле обязательно для заполнения!
                  .field_error(ng-message="maxlength") Ваше имя слишком длинное
          .info__col
            // field
            .field
              .field__in
                input.input(type='text', required, name='last_name', placeholder='Фамилия', ng-model="$ctrl.model.last_name", ng-disabled="$ctrl.disabled", maxlength="127")
                .field_errors(ng-if='form.$submitted', ng-messages="form.last_name.$error", role="alert")
                  .field_error(ng-message="required") Это поле обязательно для заполнения!
                  .field_error(ng-message="maxlength") Ваша фамилия слишком длинная
        .info__row
          .info__col
            // field
            .field
              .field__in
                input.input(type='email', required, name='email', placeholder='e-mail', ng-model="$ctrl.model.email", ng-disabled="$ctrl.disabled", maxlength="256")
                .field_errors(ng-if='form.$submitted', ng-messages="form.email.$error", role="alert")
                  .field_error(ng-message="required") Это поле обязательно для заполнения!
                  .field_error(ng-message="email") Введеное значение не очень похоже на адрес электронной почты
                  .field_error(ng-message="maxlength") Ваш адрес электронный почты слишком длинный
          .info__col
            // field
            .field
              .field__in
                input.input(type='text', required, name='phone', placeholder='телефон', ng-model="$ctrl.model.phone", ng-disabled="$ctrl.disabled", maxlength="32")
                .field_errors(ng-if='form.$submitted', ng-messages="form.phone.$error", role="alert")
                  .field_error(ng-message="required") Это поле обязательно для заполнения!
                  .field_error(ng-message="maxlength") Ваш телефон слишком длинный
        .info__row
          // field
          .field
            .field__in
              input.input(type='text', required, name='link_portfolio', placeholder='Ссылка на портфолио', ng-model="$ctrl.model.link_portfolio", ng-disabled="$ctrl.disabled", maxlength="256")
              .field_errors(ng-if='form.$submitted', ng-messages="form.link_portfolio.$error", role="alert")
                .field_error(ng-message="required") Это поле обязательно для заполнения!
                  .field_error(ng-message="maxlength")
                    span Ваша ссылка слишком длинная. Воспользуйтесь сервисом
                    a(href="https://bitly.com/") https://bitly.com/
                    span для минификации ссылки
        // field
        .field
          .field__in
            textarea.textarea(name='textarea', id='', placeholder='Дополнительная информация', ng-disabled="$ctrl.disabled", ng-model="$ctrl.model.description")
        // field
        .info__field.field
          // checkbox
          label.checkbox
            input(type='checkbox', ng-disabled="$ctrl.disabled", ng-model="$ctrl.model.are_terms_accepted")
            span.checkbox__in
              span.checkbox__select
                i.icon.icon-check
              span.checkbox__name Я согласен с условиями оферты для дизайнера
        .info__row.info__row_m0
          .form-error(ng-if="$ctrl.error")
            span.text {{ $ctrl.error }}
        .info__row.info__row_m0
          .info__col
            // capthca
            .captcha.captcha_w228
              .captcha__wrap
          .info__col
            button.info__btn отправить
