.component-event-landing-event {
  .hi-event-landing-blocks-containers {
    .hi-event-landing-block-container {}

    .hi-circle-image-container {
      width: 120px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      border-radius: 100%;
    }
  }
}