.component.component-event-landing-event
  .event
    .hi-component-loading(ng-if="$ctrl.status.isLoading()")
      hi-ui-loading-top-indicator
    .hi-component-contents(ng-if="! $ctrl.status.isLoading()")
      .hi-event-landing-blocks-containers
        .hi-event-landing-block-container
          hi-event-landing-v1-block-header.js-block-header(block="$ctrl.getHeaderBlock()")
        .event__list
          .hi-event-landing-block-container.js-block-program(ng-if="$ctrl.hasProgramBlocks()", ng-repeat="(index, block) in $ctrl.getProgramBlocks()")
            hi-event-landing-v1-block-program(
              block="block",
              index="index",
              total="$ctrl.getTotalProgramBlocks()",
              ng-if="$ctrl.isBlockAvailable(block)"
            )
        .hi-event-landing-block-container(ng-repeat="block in $ctrl.getBlocks()")
          hi-event-landing-v1-block-custom.js-block-custom(block="block", ng-if="block.type === 'custom' && $ctrl.isBlockAvailable(block)")
          hi-event-landing-v1-block-dress-code.js-block-dress-code(block="block", ng-if="block.type === 'dress-code'&& $ctrl.isBlockAvailable(block)")
          hi-event-landing-v1-block-guests-list.js-block-guests-list(block="block", ng-if="block.type === 'guests-list'&& $ctrl.isBlockAvailable(block)")
          hi-event-landing-v1-block-wishes.js-block-wishes(block="block", ng-if="block.type === 'wishes'&& $ctrl.isBlockAvailable(block)")
          hi-event-landing-v1-block-social-networks.js-block-social-networks(block="block", ng-if="block.type === 'social-networks'&& $ctrl.isBlockAvailable(block)")