ng-map(zoom='17', center="{{$ctrl.currentPlace}}", on-click='$ctrl.getCoord($event)', ng-click='$ctrl.addMarker()')
    input.controls(
    ng-if='!$ctrl.isLanding()',
    places-auto-complete,
    size=60,
    types="['geocode']",
    ng-model='$ctrl.searchStr',
    ng-change='$ctrl.changeSearchInput()',
    component-restrictions="{country:'ru'}"
    )
    marker(
    ng-repeat='pos in $ctrl.block.markers track by $index',
    position="{{pos.lat}}, {{pos.lng}}")
    directions(
    ng-if='$ctrl.isLanding()',
    travel-mode="DRIVING",
    origin="current-location",
    destination="{{$ctrl.block.markers[0]}}")