.center.center_fixed
    hi-ui-loading-top-indicator(ng-if="$ctrl.isLoading()")
    .panel.panel_table
        .panel__foot.l
            .panel__table-right
                button.btn-yellow(ng-click='$ctrl.goToCollectAnswersSettings()')
                    | {{ 'hi.main.event.mailing.contact-book.collect-answers-1' | translate }}
                    span  {{ 'hi.main.event.mailing.contact-book.collect-answers-2' | translate }}
                button.btn-yellow(ng-click='$ctrl.goToShareSocial()')
                    | {{ 'hi.main.event.mailing.contact-book.share-1' | translate }}
                    span  {{ 'hi.main.event.mailing.contact-book.share-2' | translate }}
                .panel_table-btn
                    button.btn-yellow.js-actions(ng-click='$ctrl.openSelector("sentSelector")') {{ 'hi.main.event.mailing.contact-book.send' | translate }}
                    ul.panel_table-list(ng-if='$ctrl.selector === "sentSelector"')
                        a.panel_table-item.js-actions-link(ng-click='$ctrl.sendContactBook()') {{ 'hi.main.event.mailing.contact-book.self' | translate }}
                        a.panel_table-item.js-actions-link(ng-click='$ctrl.sendContactBook()') {{ 'hi.main.event.mailing.contact-book.guests' | translate }}
        .panel__body
            .panel_table-left.l
                .panel_table-btn
                    button.btn-gray.js-actions.is-active(ng-click='$ctrl.openSelector("addNewContactSelector")')
                        i.icon.icon-plus-small
                        span {{ 'hi.main.event.mailing.contact-book.new' | translate }}
                    .panel_table-list(ng-if='$ctrl.selector === "addNewContactSelector"')
                        a.panel_table-item.js-actions-link(ng-click='$ctrl.goToManualAdding()') {{ 'hi.main.event.mailing.contact-book.add-contacts' | translate }}
                        a.panel_table-item.js-actions-link(ng-click='$ctrl.goToImportFromFile()') {{ 'hi.main.event.mailing.contact-book.upload-from-file' | translate }}
                        a.panel_table-item.js-actions-link(ng-click='$ctrl.goToImportFromEvent()') {{ 'hi.main.event.mailing.contact-book.import-from-event' | translate }}
                .panel_table-btn
                    button.btn-gray.js-actions(ng-click='$ctrl.openSelector("exportSelector")') {{ 'hi.main.event.mailing.contact-book.export' | translate }}
                    .panel_table-list(ng-if='$ctrl.selector === "exportSelector"')
                        a.panel_table-item.js-actions-link() {{ 'hi.main.event.mailing.contact-book.export-excel' | translate }}
                        a.panel_table-item.js-actions-link() {{ 'hi.main.event.mailing.contact-book.export-csv' | translate }}
                        a.panel_table-item.js-actions-link() {{ 'hi.main.event.mailing.contact-book.print' | translate }}
                button.btn-gray(ng-click='$ctrl.deleteAllMarkedContacts()') {{ 'hi.main.event.mailing.contact-book.delete' | translate }}
            .panel_table-container
                #table_wrapper.dataTables_wrapper.no-footer
                    #table_length.dataTables_length
                        label
                            | Show
                            select(name='table_length', aria-controls='table', ng-change='$ctrl.window.updatePageSize($ctrl.pageSize)', ng-model='$ctrl.pageSize', ng-options="value for value in $ctrl.pageSizeOptions")
                            |  entries
                    #table_filter.dataTables_filter
                        label
                            | Search:
                            input(type='search', placeholder='', aria-controls='table', ng-model='$ctrl.searchContact')
                    table#table.display.l.dataTable.no-footer(cellspacing='0', width='100%', role='grid', aria-describedby='table_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th.sorting_asc(rowspan='1', colspan='1', aria-label='                ')
                                    // checkbox
                                    label.checkbox.js-dt-checkbox-all
                                        input(type='checkbox', ng-click='$ctrl.selectAll()', ng-checked='$ctrl.isAllChecked()')
                                        span.checkbox__in
                                            span.checkbox__select
                                                i.icon.icon-check
                                th.sorting.select(tabindex='0', aria-controls='table', rowspan='1', colspan='1', aria-label='Имя: activate to sort column ascending', style='width: 107.4px;', ng-click="$ctrl.sortType = 'first_name'; $ctrl.sortReverse = !$ctrl.sortReverse") {{ 'hi.main.event.mailing.contact-book.name' | translate }}
                                th.sorting.select(tabindex='0', aria-controls='table', rowspan='1', colspan='1', aria-label='Фамилия: activate to sort column ascending', style='width: 107.4px;', ng-click="$ctrl.sortType = 'last_name'; $ctrl.sortReverse = !$ctrl.sortReverse") {{ 'hi.main.event.mailing.contact-book.surname' | translate }}
                                th.sorting.select(tabindex='0', aria-controls='table', rowspan='1', colspan='1', aria-label='E-mail: activate to sort column ascending', style='width: 94.4px;', ng-click="$ctrl.sortType = 'email'; $ctrl.sortReverse = !$ctrl.sortReverse") {{ 'hi.main.event.mailing.contact-book.e-mail' | translate }}
                                th.th-select.th-select_big.sorting_disabled(rowspan='1', colspan='1', aria-label='                Сортировать                ', style='width: 154.4px;')
                                    // select
                                    .select.js-dt-select
                                        .select__head.js-dt-select-head(ng-click='$ctrl.openSelector("sortGroupSelector")')
                                            .select__value.js-dt-select-value {{ 'hi.main.event.mailing.contact-book.group' | translate }}
                                            .select__icon
                                                i.icon.icon-arrow-down
                                        .select__list.js-dt-select-list(ng-if='$ctrl.selector === "sortGroupSelector"')
                                            a.select__item(ng-repeat='group in $ctrl.model.ContactBookManager.contactGroups', ng-click="$ctrl.searchContact = group.entity.title") {{$ctrl.getGroupTitle(group)}}
                        tbody
                            tr.odd(role='row', ng-repeat='contact in $ctrl.window.tableList() | orderBy:$ctrl.sortType:$ctrl.sortReverse | filter:$ctrl.searchContact')
                                td.sorting_1
                                    // checkbox
                                    label.checkbox.js-dt-checkbox
                                        input(type='checkbox', ng-click='$ctrl.toggleSelectContact(contact)', ng-checked='$ctrl.isChecked(contact)')
                                        span.checkbox__in
                                            span.checkbox__select
                                                i.icon.icon-check
                                td
                                    input.hi-input_contact(ng-model='contact.first_name', ng-readonly='$ctrl.isActivatedEditField($index, "first_name")', ng-click='$ctrl.activateEditField($index, "first_name")')
                                td
                                    input.hi-input_contact(ng-model='contact.last_name', ng-readonly='$ctrl.isActivatedEditField($index, "last_name")', ng-click='$ctrl.activateEditField($index, "last_name")')
                                td
                                    input.hi-input_contact(ng-model='contact.email', ng-readonly='$ctrl.isActivatedEditField($index, "email")', ng-click='$ctrl.activateEditField($index, "email")')
                                td {{$ctrl.getGroupTitle($ctrl.getGroupById(contact))}}
                    #table_info.dataTables_info(role='status', aria-live='polite') Showing 1 to 10 of 34 entries
                    #table_paginate.dataTables_paginate.paging_simple_numbers
                        a#table_previous.paginate_button.previous(aria-controls='table', data-dt-idx='0', tabindex='0', ng-click="$ctrl.window.prev()", ng-disabled='!$ctrl.window.hasPrev()', ng-class='{"is-disabled": !$ctrl.window.hasPrev()}') Previous
                        span
                            a.paginate_button(ng-repeat='n in [].constructor($ctrl.window.maxPages()) track by $index', ng-class='{"current": ($index+1) === $ctrl.window.page}', ng-click='$ctrl.window.goToPage($index+1)',  aria-controls='table') {{$index+1}}
                        a#table_next.paginate_button.next(aria-controls='table', data-dt-idx='5', tabindex='0', ng-click="$ctrl.window.next()", ng-disabled='!$ctrl.window.hasNext()', ng-class='{"is-disabled": !$ctrl.window.hasNext()}') Next