.component-invite-card-template-browser-results {
  @keyframes component-invite-card-template-browser-show-up-animation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .component-invite-card-template-browser-card {
    opacity: 0;

    animation-name: component-invite-card-template-browser-show-up-animation;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .filter-center-results-container {
    max-width: none!important;
    display: inline-block;
  }

  .filter .filter__template {
    position: static;
  }

  #inviteCardTemplateBrowserResultsGridContainer {
    position: relative;
  }
}