.component.component-invite-card-template-browser-results
  .popups
    hi-invite-card-template-browser-preview(
      current="$ctrl.preview.template",
      family="$ctrl.preview.family",
      ng-if="$ctrl.preview.enabled",
      on-close="$ctrl.preview.close()"
    )
  .filter.filter_album
    .filter__center.filter-center-results-container.center
      .filter__wrap.js-filter(id="inviteCardTemplateBrowserResultsGridContainer")
        .filter__col.js-filter-item(ng-repeat="family in $ctrl.results track by family.entity.id", ng-if="$ctrl.isValid(family)")
          .filter__template(ng-if="family.entity.id && family.loaded", ng-style="$ctrl.getNgStyle()")
            hi-invite-card-template-browser-card(
              family="family",
              on-image-click="$ctrl.open(template)",
            )