.component.component-solution-browser
  .results
    hi-invite-card-template-browser-streams(results="$ctrl.results", config="$ctrl.config.streams")
    .loading-indicator
      hi-ui-ajax-indicator(ui-style="pulse", ng-if="$ctrl.service.status.isLoading()")
  .load-more(ng-if="$ctrl.isLoadMoreButtonEnabled()")
    button.btn-yellow(href="javascript:void(0)", ng-click="$ctrl.next($event)", ng-disabled="$ctrl.disabledLoadMore")
      | {{ 'hi.main.solution.browser.load-more' | translate }}