{% set angular_app = 'hi-solution' %}

{% extends "@main/layout/skeleton-conditional.html.twig" %}

{% block skeleton_content %}
  <hi-solution-browser-root-route></hi-solution-browser-root-route>

  <div class="filter__col js-filter-item">
  </div>

  <div class="filter filter_footer">
    <div class="filter_center center">
      <div class="title">
        <p>Не нашли подходящего Вашему мероприятию пригласительного?</p>
        <p>Закажите нашему дизайнеру или загрузите свой шаблон!</p>
      </div>
      <button class="btn btn_white js-order-btn" data-wrap="js-order-wrap-1">заказать дизайн</button>
      <button class="btn btn_white js-order-btn" data-wrap="js-order-wrap-2">мой шаблон</button>
    </div>
  </div>
{% endblock %}