.tabs-form__item.js-form-tabs-item
  // reply
  .reply
    // checkbox
    label.checkbox.checkbox_mb28
      input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.advancedSettings.allowEditOnAnswerPage')
      span.checkbox__in
        span.checkbox__select
          i.icon.icon-check
        span.checkbox__name Разрешить гостям менять их данные на странице «Ответить»
    // checkbox
    label.checkbox.checkbox_mb28
      input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.advancedSettings.allowEditAfterSend')
      span.checkbox__in
        span.checkbox__select
          i.icon.icon-check
        span.checkbox__name Разрешить гостям менять их ответ после отправки
    // checkbox
    label.checkbox.checkbox_mb28
      input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.advancedSettings.allowSendMessagesWithAnswer')
      span.checkbox__in
        span.checkbox__select
          i.icon.icon-check
        span.checkbox__name Разрешить гостям отправлять сообщения вместе с ответом на приглашение
    // checkbox
    label.checkbox.checkbox_mb28
      input(type='checkbox', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.advancedSettings.sendMailAfterAnswer')
      span.checkbox__in
        span.checkbox__select
          i.icon.icon-check
        span.checkbox__name Отправлять письмо после ответа гостя
    .reply__align.l
      .reply__settings.reply__settings_p0 Если гость ответил "да", то оправить ему сообщение:
    // field
    .field.field_mb30
      .field__in
        textarea.textarea(name='textarea', placeholder='Поле для ввода с текстовой панелью', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.advancedSettings.yesDescription')
    .reply__align.l
      .reply__settings.reply__settings_p0 Если гость ответил "нет", то отправить ему сообщение:
    // field
    .field.field_mb22
      .field__in
        textarea.textarea(name='textarea', placeholder='Поле для ввода с текстовой панелью', ng-model='$ctrl.model.CollectGuestAnswersEditor.blocks.advancedSettings.noDescription')