<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HappyInvite Registration</title>
</head>
<body style="width:100%; margin: 0; background: #7ab3fa url(../img/reg-bg.jpg) repeat-x 50% 0%; font-family: Tahoma, sans-serif; font-size: 14px; line-height: 1.3; color: #020202;">
<table style="width: 100%; border-spacing: 0; border-collapse: collapse; background: #7ab3fa url(../img/reg-bg.jpg) repeat-x 50% 0%; font-family: Tahoma, sans-serif; font-size: 16px; line-height: 1.3; color: #020202;">
  <tr>
    <td style="padding: 25px 20px 30px;">
      <table style="width: 600px; margin: 0 auto; border-spacing: 0; border-collapse: collapse;">
        <tr>
          <td style="padding: 0; background: url(../img/bg.png) repeat">
            <table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
              <tr>
                <td style="padding: 12px 15px; background: #edce16">
                  <table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
                    <tr>
                      <td style="width: 60%; padding: 0 5px 0 0; font-size: 14;">Электронные приглашения для любого праздника или бизнес мероприятия</td>
                      <td style="vertical-align: top; text-align: right;"><a target="_blank" href="#" style="border-bottom: 1px solid #020202; text-decoration: none; font-style: 14px; color: #020202">веб-версия письма</a></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="padding: 12px 15px 14px;">
                  <table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
                    <tr>
                      <td style="padding: 0 75px 0 0; font-size: 0;">
                        <a target="_blank" href="#">
                          <img src="{{ PROTOCOL }}://{{ HOST }}/dist/img/logo.svg" alt="">
                        </a>
                      </td>
                      <td style="padding: 0; vertical-align: top; text-align: right; font-size: 0;">
                        <p style="margin: 6px 0 8px; font-size: 12px;">Будьте в курсе наших новостей </p>
                        <a target="_blank" href="#" style="padding: 0 10px 0 0;">
                          <img src="{{ PROTOCOL }}://{{ HOST }}/dist/img/email-soc-fb.png" alt="">
                        </a>
                        <a target="_blank" href="#" style="padding: 0 10px 0 0;">
                          <img src="{{ PROTOCOL }}://{{ HOST }}/dist/img/email-soc-vk.png" alt="">
                        </a>
                        <a target="_blank" href="#" style="padding: 0 10px 0 0;">
                          <img src="{{ PROTOCOL }}://{{ HOST }}/dist/img/email-soc-ig.png" alt="">
                        </a>
                        <a target="_blank" href="#">
                          <img src="{{ PROTOCOL }}://{{ HOST }}/dist/img/email-soc-pi.png" alt="">
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="padding: 7px 15px 7px;">
                  <table style="width: 100%; border-spacing: 0; border-collapse: collapse; border: 1px solid #edce16">
                    <tr>
                      <td style="padding: 0 5px;">
                        <table style="width: 100%; margin: -7px 0; border-spacing: 0; border-collapse: collapse; border: 1px solid #edce16">
                          <tr>
                            <td style="padding: 7px 0; background: #fff">
                              <table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
                                <tr>
                                  <td style="padding: 32px 25px;">
                                    <p style="margin: 0 0 21px 0;"><span>{{ FIRST_NAME }}</span>, мы искренне рады, что Вы с нами!</p>
                                    <p style="margin: 0 0 24px 0;">Вы получили это письмо, потому что зарегистрировались<br>на нашем сайте.</p>
                                    <p style="margin: 0 0 29px 0;">Теперь Вы можете, не выходя из дома:</p>
                                    <table style="width: 100%; margin-bottom: 10px; border-spacing: 0; border-collapse: collapse;">
                                      <tr>
                                        <td style="width: 20px; padding: 1px 0 0 0; vertical-align: top;">
                                          <img src="{{ PROTOCOL }}://{{ HOST }}/dist/img/ball-yellow.png" alt="">
                                        </td>
                                        <td style="padding: 0 5px 0 0; vertical-align: top; text-align: left;">создавать приглашения и упаковывать их в конверты,</td>
                                      </tr>
                                    </table>
                                    <table style="width: 100%; margin-bottom: 10px; border-spacing: 0; border-collapse: collapse;">
                                      <tr>
                                        <td style="width: 20px; padding: 1px 0 0 0; vertical-align: top;">
                                          <img src="{{ PROTOCOL }}://{{ HOST }}/dist/img/ball-yellow.png" alt="">
                                        </td>
                                        <td style="padding: 0 5px 0 0; vertical-align: top; text-align: left;">создавать страницу мероприятия,</td>
                                      </tr>
                                    </table>
                                    <table style="width: 100%; margin-bottom: 10px; border-spacing: 0; border-collapse: collapse;">
                                      <tr>
                                        <td style="width: 20px; padding: 1px 0 0 0; vertical-align: top;">
                                          <img src="{{ PROTOCOL }}://{{ HOST }}/dist/img/ball-yellow.png" alt="">
                                        </td>
                                        <td style="padding: 0 5px 0 0; vertical-align: top; text-align: left;">добавлять опросы к своему событию,</td>
                                      </tr>
                                    </table>
                                    <table style="width: 100%; margin-bottom: 30px; border-spacing: 0; border-collapse: collapse;">
                                      <tr>
                                        <td style="width: 20px; padding: 1px 0 0 0; vertical-align: top;">
                                          <img src="{{ PROTOCOL }}://{{ HOST }}/dist/img/ball-yellow.png" alt="">
                                        </td>
                                        <td style="padding: 0 5px 0 0; vertical-align: top; text-align: left;">запускать рассылку и получать онлайн инфографику.</td>
                                      </tr>
                                    </table>
                                    <table style="width: 100%; margin-bottom: 30px; border-spacing: 0; border-collapse: collapse;">
                                      <tr>
                                        <td style="width: 205px;">Подтвердите регистрацию:</td>
                                        <td style="padding: 0 0 0 10px;">
                                          <a target="_blank" href="{{ PROTOCOL }}://{{ HOST }}/account/proceed/?token={{ TOKEN }}">
                                            <img src="{{ PROTOCOL }}://{{ HOST }}/dist/img/email-btn.png" alt="Перейти по ссылке, чтобы подтвердить свою регистрацию">
                                          </a>
                                        </td>
                                      </tr>
                                    </table>
                                    <p style="margin: 0;">Мы желаем вам прекрасного праздника и надеемся,<br>что наш сервис поможет в подготовке феерического мероприятия!</p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="padding: 14px 0 0;">
                  <table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
                    <tr>
                      <td style="padding: 15px 20px 10px 25px; background: #edce16">
                        <table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
                          <tr>
                            <td style="padding: 0 10px 0 0; font-size: 16; font-weight: 700;">С любовью,<br>Команда Happy Invite</td>
                            <td style="text-align: right;">
                              <img src="{{ PROTOCOL }}://{{ HOST }}/dist/img/email-pic.png" alt="">
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="padding: 12px 15px 16px;">
                  <table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
                    <tr>
                      <td>
                        <p style="margin: 0 0 6px 0; font-size: 10px;">© ООО «Хеппи Инвайт».</p>
                        <p style="margin: 0 0 6px 0; font-size: 10px;">Добавьте <a target="_blank" href="#" style="text-decoration: underline; font-weight: 700; color: ##0000ff;">hello@happyinvite.ru</a> в список контактов и не пропустите новости от нас.</p>
                        <p style="margin: 0 0 6px 0; font-size: 10px;">Данное сообщение отправлено автоматически, пожалуйста, не отвечайте на него.</p>
                        <p style="margin: 0; font-size: 10px;">Для ответов есть форма <a target="_blank" href="#" style="text-decoration: underline; font-weight: 700; color: #020202;">обратной связи</a>. Не хотите получать рассылку – <a target="_blank" href="#" style="text-decoration: underline; font-weight: 700; color: #020202;">отпишитесь</a>.</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>