.component-envelope-editor-v1-toolbar-text-color {
  .toolbar-flexbox-container {
    display: flex;
    justify-content: center;

    .toolbar-flexbox-item-window-controls {
      button.toolbar-flexbox-button-window-controls {
        .toolbar-icon {

        }
      }
    }

    .toolbar-flexbox-item {
      &.is-active {
        button.toolbar-flexbox-button {
          background-color: #fcce00!important;
        }
      }

      &:hover {
        button.toolbar-flexbox-button {
          background-color: #f0f0f0;
        }
      }

      button.toolbar-flexbox-button {
        padding: 10px;

        .color-preview {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          box-shadow: inset 0 0 0 1px rgba(0,0,0,.25);
        }
      }

    }

    .toolbar-flexbox-item-window-controls {
      width: 25px;
      height: 40px;
      overflow: hidden;

      button.toolbar-flexbox-button-window-controls {
        width: 25px;
        height: 40px;
        overflow: hidden;

        .toolbar-icon {
          font-size: 16px;
          line-height: 40px;
        }

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}