.component.component-envelope-editor-v1-toolbar-text-color
  .toolbar-flexbox-container
    .toolbar-flexbox-item-window-controls
      button.toolbar-flexbox-button-window-controls(ng-click="$ctrl.window.prev()", ng-if="$ctrl.window.hasPrev()")
        .toolbar-icon.toolbar-icon-window-list-prev
    .toolbar-flexbox-item(
      ng-repeat="color in $ctrl.window.list()",
      ng-class="{ 'is-active': $ctrl.isActive(color) }"
    )
      button.toolbar-flexbox-button(ng-click="$ctrl.click(color)")
        .color-preview(ng-style="$ctrl.getColorPreview(color)")
    .toolbar-flexbox-item-window-controls
      button.toolbar-flexbox-button-window-controls(ng-click="$ctrl.window.next()", ng-if="$ctrl.window.hasNext()")
        .toolbar-icon.toolbar-icon-window-list-next