.component-event-landing-editor-v1-block-program {
  .gmap {
    width: 100%;
    height: 100%;
  }

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .event .event__load-block {
    padding: 0;
  }

  .event__load-ico {
    margin-top: 10px;
  }

  .event__load-text {
    margin-bottom: 10px;
  }

  .event__prog-links {
    .field_load {
      cursor: pointer;
    }
  }

  .event__gmap {
    input[type="text"].controls {
      padding-left: 10px;
    }
  }

  .uploaded-photo-block {
    width: 146px;
    height: 146px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
  }
}