.component.component-event-landing-editor-v1-block-program
  .event
    .event__l
      hi-event-landing-editor-v1-control-buttons-block(block='$ctrl.block', add-block="true")
      .event__l-head(ng-if="$ctrl.hasTitle()")
        .editor.editor_inline.js-ev-editor(style='min-width: 300px;')
          textarea.editor__area(
            placeholder="{{ 'hi.editor.event-landing.blocks.resources.program.title-placeholder' | translate }}",
            hi-ck-editor="inline",
            ng-model="$ctrl.block.programTitle"
          )
          button.editor__btn(hi-event-landing-edit-button)
            i.icon.icon-edit
      .event__l-row
        .event__l-col
          .event__prog-time
            // e-field
            .e-field.js-edit
              .e-field__label
                | {{ 'hi.editor.event-landing.blocks.resources.program.start.l1' | translate }}
                br
                | {{ 'hi.editor.event-landing.blocks.resources.program.start.l2' | translate }}
              .e-field__in
                input.e-input.js-edit-input-1.js-ev-mask-time(
                  type='text',
                  ng-model='$ctrl.block.time.start',
                  ng-readonly='true',
                  moment-picker="$ctrl.block.time.start",
                  format="HH:mm",
                  show-header='false',
                  ng-model-options="{ updateOn: 'blur' }",
                )
            // e-field
            .e-field.js-edit
              .e-field__label
                | {{ 'hi.editor.event-landing.blocks.resources.program.end.l1' | translate }}
                br
                | {{ 'hi.editor.event-landing.blocks.resources.program.end.l2' | translate }}
              .e-field__in
                input.e-input.js-ev-mask-time(
                  type='text',
                  ng-model='$ctrl.block.time.end',
                  ng-readonly='true',
                  moment-picker="$ctrl.block.time.end",
                  format="HH:mm",
                  show-header='false',
                  ng-model-options="{ updateOn: 'blur' }",
                )
          .event__load-photo
            .event__load-wrap
              .event__load-block
                .event__load-ico(ng-if='! $ctrl.hasPhoto()')
                  i.icon.icon-camera
                .uploaded-photo-block(ng-if='$ctrl.hasPhoto()', ng-style="$ctrl.getUploadedPhotoCSS()")
                .event__load-text(ng-if='! $ctrl.hasPhoto()')
                  | {{ 'hi.editor.event-landing.blocks.resources.program.add-photo.l1' | translate }}
                  br
                  | {{ 'hi.editor.event-landing.blocks.resources.program.add-photo.l2' | translate }}
              .event__load-btn
                i.icon.icon-photo
              input.event__load-input(type='file', ng-file-change='$ctrl.uploadFile($file, "photo")')
        .event__l-col
          .event__prog-text
            // editor
            .editor.editor_lg.js-ev-editor
              textarea.editor__area(
                placeholder="{{ 'hi.editor.event-landing.blocks.resources.program.description-placeholder' | translate }}",
                hi-ck-editor="inline",
                ng-model="$ctrl.block.programDescription"
              )
              button.editor__btn(hi-event-landing-edit-button)
                i.icon.icon-edit
          .event__prog-links
            // field
            .field.field_load(style='min-width: 200px;')
              input.input.input_load(type='file', ng-file-change='$ctrl.uploadFile($file, "file")')
              .filed__icon
                i.icon.icon-plus
              span.field__text {{ 'hi.editor.event-landing.blocks.resources.program.add-file' | translate }}
            a.event__prog-link.js-ev-gmap-btn(ng-click='$ctrl.changeMapVisibleStatement()')
              .event__prog-ico
                i.icon.icon-marker
              .event__prog-info {{ 'hi.editor.event-landing.blocks.resources.program.add-map' | translate }}
    .event__gmap.js-ev-gmap.is-active(ng-if='$ctrl.mapVisible')
      hi-google-map(block='$ctrl.block', type='"editor"')
