.component-invite-card-template-browser-card {
  .card {
    position: relative;

    .debug-view-id {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #fff;
      padding: 10px;
      font-size: 14px;
      font-weight: normal;
      font-family: 'Courier New', monospace;
      color: #000;
      border: 1px solid #ccc;
    }

    .card-content {
      background-color: #fff;
    }
  }

  .family-avatar {
    img {
      width: 100%;
    }
  }

  .designer-profile-image {
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .image-container {
    .image {
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }
}