.component.component-invite-card-template-browser-card
  .card(id="{{ $ctrl.id }}")
    .debug-view-id(ng-if="$ctrl.isDebugEnabled()")
      | {{ $ctrl.getId() }}
    .card-content
      .family-avatar.filter__painting.js-popup-btn(ng-click="$ctrl.onImageClick({ template: $ctrl.current })")
        .image-container
          .image(ng-style="$ctrl.getImageCSS()")
            img(ng-src="{{ $ctrl.getImageURL() }}", alt="")
      .filter__btns.l
        button.filter__btns-in
          i.icon.icon-instagram
        button.filter__btns-pi
          i.icon.icon-pinterest2
        button.btn-yellow(ng-click="$ctrl.service.openTemplate($ctrl.current)")
          | {{ 'hi.main.solution.browser.invite-card-template-browser.card.change' | translate }}
      .filter__bot
        .filter__user
          .filter__user-ava.designer-profile-image
            img(ng-src='{{ $ctrl.getDesignerProfileImage() }}', alt='')
          .filter__user-info
            .filter__user-text {{ $ctrl.getFamilyTitle() }}
            .filter__user-author {{ $ctrl.getDesignerName() }}
        ul.filter__color
          li(ng-repeat="template in $ctrl.getTemplates()", ng-style="$ctrl.getNgStyleFor(template)", ng-click="$ctrl.preview(template)")